Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adierkens, @KetanReddy, @sugarmanz, @Brocollie08, @hborawski, @spentacular

Update config.yml
  .circleci/config.yml
Owners: @adierkens

Update config.yml
  .circleci/config.yml
Owners: @adierkens

showing end flow for external action
  ios/packages/demo/Sources/PluginsAndPlayerCollection.swift
Owners: @hborawski

move string + extensions to right folder
  ios/packages/demo/Sources/String + Extensions.swift
Owners: @hborawski

Bump version to: v0.4.4 [skip ci]
  VERSION
Owners: @adierkens

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @adierkens

add SwiftUIPendingTransactionPlugin to reference asset dependencies
  PlayerUI.podspec
Owners: @adierkens

add pendingtransaction flows, uitests
  ios/packages/demo/Sources/MockFlows.swift
  ios/packages/demo/scripts/generateFlowSections.js
  ios/packages/reference-assets/UITests/ExternalActionUITests.swift
  ios/packages/reference-assets/UITests/SwiftUIPendingTransactionPluginUITests.swift
Owners: @hborawski

move navigateToAssetCollection(), add back some lines deleted
  ios/packages/core/Sources/Types/Core/FlowController.swift
  ios/packages/demo/Sources/PluginsAndPlayerCollection.swift
  ios/packages/demo/scripts/generateFlowSections.js
  ios/packages/reference-assets/Sources/SwiftUI/ActionAsset.swift
  ios/packages/reference-assets/UITests/BaseTestCase.swift
  ios/packages/test-utils/Sources/ui-test/AssetUITestCase.swift
Owners: @hborawski

address comments
  ios/packages/reference-assets/Sources/SwiftUI/InputAsset.swift
  ios/packages/swiftui/Sources/types/assets/ControlledAsset.swift
Owners: @hborawski

Bump version to: v0.4.4 [skip ci]
  VERSION
Owners: @adierkens

add user info to assetViewModel
  ios/packages/reference-assets/Sources/SwiftUI/InputAsset.swift
  ios/packages/swiftui/Sources/types/assets/ControlledAsset.swift
Owners: @hborawski

Update ruby version in build (#246)
  .circleci/config.yml
Owners: @adierkens

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @adierkens

iOS: make AssetBeacon equatable and add public init for metadata (#248)
  ios/packages/core/Sources/Types/Assets/Wrappers.swift
  ios/packages/core/Sources/Types/Beacon.swift
Owners: @hborawski

apply swift 6 warning fix to flaky iOS tests (#207)
  ios/packages/swiftui/Tests/ManagedPlayer/ManagedPlayerViewModelTests.swift
Owners: @hborawski

store cancellables in ManagedPlayerViewModelTests (#210)
  ios/packages/swiftui/Tests/ManagedPlayer/ManagedPlayerViewModelTests.swift
Owners: @hborawski

modified test names
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/test/deps.bzl
Owners: @adierkens

mandatory not needed
  index.bzl
Owners: @adierkens

fix test
  ios/packages/demo/Sources/PluginsAndPlayerCollection.swift
  ios/packages/reference-assets/UITests/ExternalActionUITests.swift
  ios/packages/reference-assets/UITests/PubsubUITests.swift
Owners: @hborawski

rebase picked up wrong file changes
  ios/packages/swiftui/Tests/ManagedPlayer/ManagedPlayerViewModelTests.swift
Owners: @hborawski

fix diffs on applitools
  ios/packages/demo/Sources/AppDelegate.swift
  ios/packages/demo/Sources/SegmentControlView.swift
  ios/packages/test-utils/Sources/ui-test/AssetCollection.swift
Owners: @hborawski

update mock flows
  ios/packages/demo/Sources/MockFlows.swift
  ios/packages/demo/scripts/generateFlowSections.js
Owners: @hborawski

update tests after mocks update
  ios/packages/reference-assets/UITests/BeaconPluginUITest.swift
  ios/packages/reference-assets/UITests/PubsubUITests.swift
Owners: @hborawski

iOS: add SwiftUIPendingTransactionPlugin to reference asset dependencies (#250)
  PlayerUI.podspec
Owners: @adierkens

delete unneeded files, add navigateToAssetCollection() back to open flow
  String + Extensions.swift
  ios/packages/test-utils/Sources/ui-test/AssetUITestCase.swift
  ios/packages/test-utils/Sources/ui-test/MockFlowManager.swift
Owners: @adierkens, @hborawski

builds + package.json creation
  .bazelrc
  BUILD.bazel
  core/make-flow/BUILD
  core/make-flow/package.json
  core/partial-match-registry/BUILD
  core/partial-match-registry/package.json
  core/partial-match-registry/vitest.config.ts
  core/player/BUILD
  core/player/bundle.entry.js
  core/player/package.json
  core/player/src/__tests__/flow.test.ts
  core/player/src/__tests__/helpers/action-exp.plugin.ts
  core/player/src/__tests__/player.test.ts
  core/player/src/__tests__/string-resolver.test.ts
  core/player/src/__tests__/validation.test.ts
  core/player/src/__tests__/view.test.ts
  core/player/src/binding-grammar/custom/index.ts
  core/player/src/binding/index.ts
  core/player/src/controllers/flow/controller.ts
  core/player/src/index.ts
  core/player/src/view/plugins/switch.ts
  core/player/src/view/plugins/template-plugin.ts
  core/player/test-results.xml
  core/player/vitest.config.ts
  core/types/BUILD
  core/types/package.json
  core/types/vitest.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/BUILD
  tools/defs.bzl
  tools/jest-coverage-mapper.js
  tools/jest-setup.js
  tools/tsup.config.ts.tmpl
  tools/vitest.config.ts.tmpl
  tsconfig.json
  tsup.config.ts
  vitest.config.ts
Owners: @adierkens, @KetanReddy

Bump version to: v0.4.5 [skip ci]
  VERSION
Owners: @adierkens

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @adierkens

Use remote for rules repo
  MODULE.bazel
Owners: @adierkens

Update to newer deps. Remove unused deps
  BUILD.bazel
  MODULE.bazel
  package.json
  pnpm-lock.yaml
  tools/storybook/BUILD
  typings/deep-equal-ext.d.ts
Owners: @adierkens

Add bundle info to packages
  core/make-flow/package.json
  core/partial-match-registry/package.json
  core/player/package.json
  plugins/beacon/core/package.json
  plugins/check-path/core/package.json
  plugins/common-expressions/core/package.json
  plugins/common-types/core/package.json
  plugins/computed-properties/core/package.json
  plugins/expression/core/package.json
  plugins/external-action/core/package.json
  plugins/markdown/core/package.json
  plugins/metrics/core/package.json
  plugins/partial-match-fingerprint/core/package.json
  plugins/pubsub/core/package.json
  plugins/reference-assets/core/package.json
  plugins/stage-revert-data/core/package.json
  plugins/types-provider/core/package.json
Owners: @KetanReddy, @adierkens

[jvm#237]: expose skipTransition hook
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/bridge/hooks/NodeSyncBailHook1.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/bridge/serialization/serializers/module.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/flow/FlowInstance.kt
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/bridge/hooks/NodeSyncBailHookTest.kt
Owners: @sugarmanz, @Brocollie08

fix lingering getFunction replacements
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/bridge/serialization/serializers/NodeSerializableFieldTest.kt
  jvm/graaljs/src/main/kotlin/com/intuit/player/jvm/graaljs/bridge/runtime/GraalRuntime.kt
  jvm/perf/src/test/kotlin/com/intuit/player/jvm/perf/junit/RuntimePerfTest.kt
Owners: @sugarmanz, @Brocollie08

[jvm#231]: name loggers dynamically
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/player/HeadlessPlayer.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/player/JSPlayerConfig.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/plugins/LoggerPlugin.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/plugins/logging/PlayerLoggingConfig.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/plugins/logging/PlayerLoggingFactory.kt
  plugins/java-logger/jvm/src/main/kotlin/com/intuit/player/jvm/plugins/logging/jul/JavaLoggerPlugin.kt
  plugins/slf4j-logger/jvm/src/main/kotlin/com/intuit/player/jvm/plugins/logging/slf4j/Slf4jLoggerPlugin.kt
Owners: @sugarmanz, @Brocollie08, @adierkens

Update into extension method to handle null view case
  android/player/src/main/java/com/intuit/player/android/extensions/into.kt
  android/player/src/test/java/com/intuit/player/android/extensions/IntoKtTest.kt
Owners: @sugarmanz, @Brocollie08

attempt fix 2
  android/player/src/test/java/com/intuit/player/android/lifecycle/PlayerViewModelTest.kt
Owners: @sugarmanz, @Brocollie08

Call state hook when releasing player
  jvm/core/api/core.api
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/bridge/hooks/NodeSyncHook.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/bridge/serialization/serializers/NodeSerializableField.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/player/HeadlessPlayer.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/player/Player.kt
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/bridge/serialization/serializers/NodeSerializableFieldTest.kt
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/player/HeadlessPlayerTest.kt
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/player/PlayerHooksTest.kt
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/player/state/InProgressStateTest.kt
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/view/ViewControllerTest.kt
  plugins/coroutines/jvm/src/test/kotlin/com/intuit/player/plugins/coroutines/FlowScopePluginTest.kt
  plugins/set-time-out/jvm/api/set-time-out.api
Owners: @sugarmanz, @Brocollie08, @adierkens

fix all android tests
  WORKSPACE
  android/player/src/test/java/com/intuit/player/android/extensions/CoroutineTestDispatcherExtension.kt
  android/player/src/test/java/com/intuit/player/android/renderer/BaseRenderableAssetTest.kt
  jvm/j2v8/deps.bzl
  jvm/j2v8/libs/BUILD
  jvm/j2v8/libs/j2v8_debugger_no_op.jar
  plugins/coroutines/jvm/src/test/kotlin/com/intuit/player/plugins/coroutines/FlowScopePluginTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/test/AssetTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/test/deps.bzl
Owners: @adierkens, @sugarmanz, @Brocollie08

add test for hydration scope cancelling on player release
  android/player/src/test/java/com/intuit/player/android/lifecycle/PlayerViewModelTest.kt
  android/player/src/test/java/com/intuit/player/android/renderer/HydrationScopeTest.kt
Owners: @sugarmanz, @Brocollie08

.github/CODEOWNERS:

# Fallback
* @adierkens

# Other
/docs/ @KetanReddy @adierkens

# Android/JVM

/jvm/ @sugarmanz @Brocollie08
/android/ @sugarmanz @Brocollie08

# iOS
/xcode/ @hborawski
/ios/ @hborawski

# Web
/react/ @spentacular @adierkens
/tools/storybook/ @adierkens

# Core
/core/ @KetanReddy @adierkens
