Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @player-ui/reviewers, @player-ui/docs-reviewers, @player-ui/player, @player-ui/android-reviewers, @player-ui/ios-reviewers, @player-ui/web-reviewers

Add docs for consuming Swift package
  docs/site/src/components/PodAndPackage.astro
  docs/site/src/content/docs/getting-started.mdx
  docs/site/src/content/docs/plugins/core/common-expressions.mdx
  docs/site/src/content/docs/plugins/core/common-types.mdx
  docs/site/src/content/docs/plugins/core/computed-properties.mdx
  docs/site/src/content/docs/plugins/core/expression.mdx
  docs/site/src/content/docs/plugins/core/stage-revert-data.mdx
  docs/site/src/content/docs/plugins/core/types-provider.mdx
  docs/site/src/content/docs/plugins/iOS/external-action-view-modifier.mdx
  docs/site/src/content/docs/plugins/iOS/swiftui-pending-transaction.mdx
  docs/site/src/content/docs/plugins/iOS/transition.mdx
  docs/site/src/content/docs/plugins/multiplatform/async-node.mdx
  docs/site/src/content/docs/plugins/multiplatform/beacon.mdx
  docs/site/src/content/docs/plugins/multiplatform/check-path.mdx
  docs/site/src/content/docs/plugins/multiplatform/console-logger.mdx
  docs/site/src/content/docs/plugins/multiplatform/external-action.mdx
  docs/site/src/content/docs/plugins/multiplatform/metrics.mdx
  docs/site/src/content/docs/plugins/multiplatform/partial-match-fingerprint.mdx
  docs/site/src/content/docs/plugins/multiplatform/pub-sub.mdx
Owners: @player-ui/docs-reviewers, @player-ui/player, @player-ui/reviewers

refactor: replace default exports with named exports (#732)
  core/make-flow/src/__tests__/identify.test.ts
  core/make-flow/src/identify.ts
  core/make-flow/src/index.ts
  core/partial-match-registry/src/__tests__/matcher.test.ts
  core/partial-match-registry/src/deep-partial-matcher.ts
  core/partial-match-registry/src/index.ts
  core/player/src/logger/__tests__/proxyLogger.test.ts
  core/player/src/logger/consoleLogger.ts
  core/player/src/logger/index.ts
  core/player/src/logger/noopLogger.ts
  core/player/src/logger/proxyLogger.ts
  core/player/src/logger/tapableLogger.ts
  core/player/src/view/plugins/applicability.ts
  core/player/src/view/plugins/asset-transform.ts
  core/player/src/view/plugins/asset.ts
  core/player/src/view/plugins/index.ts
  core/player/src/view/plugins/multi-node.ts
  core/player/src/view/plugins/string-resolver.ts
  core/player/src/view/plugins/switch.ts
  core/player/src/view/plugins/template.ts
  docs/site/src/content/docs/guides/writing-plugins.mdx
  plugins/auto-scroll/react/src/__tests__/plugin.test.tsx
  plugins/auto-scroll/react/src/hooks.tsx
  plugins/auto-scroll/react/src/scrollIntoViewWithOffset.ts
  plugins/metrics/core/src/metrics.ts
  react/player/src/app.tsx
  react/player/src/player.tsx
  react/player/src/plugins/onupdate-plugin.ts
Owners: @player-ui/reviewers, @player-ui/player, @player-ui/web-reviewers

remove non-existent dep on webpack bundle
  BUILD.bazel
Owners: @player-ui/reviewers

Address persistent test flake
  plugins/reference-assets/swiftui/UITests/ManagedPlayerUITests.swift
Owners: @player-ui/ios-reviewers

Add all contributors plugin to auto
  .autorc
  package.json
  pnpm-lock.yaml
Owners: @player-ui/reviewers

update packages to address security notices
  package.json
  pnpm-lock.yaml
Owners: @player-ui/reviewers

update more dependencies
  package.json
  pnpm-lock.yaml
Owners: @player-ui/reviewers

enable logs during cache check for android tests
  scripts/android-ci-bazel-test.sh
Owners: @player-ui/reviewers

enable logs during cache check for android tests (#747)
  scripts/android-ci-bazel-test.sh
Owners: @player-ui/reviewers

iOS ManagedPlayer only call unload in loading state
  ios/swiftui/Sources/ManagedPlayer/ManagedPlayer.swift
Owners: @player-ui/ios-reviewers

iOS ManagedPlayer only call unload in loading state (#749)
  ios/swiftui/Sources/ManagedPlayer/ManagedPlayer.swift
Owners: @player-ui/ios-reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/player

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/player

Bump version to: 0.14.1 [skip ci]
  VERSION
Owners: @player-ui/reviewers

adding tests
  plugins/markdown/core/src/__tests__/index.test.ts
Owners: @player-ui/reviewers

fixing tests
  plugins/markdown/core/src/index.ts
  plugins/markdown/core/src/types.ts
  plugins/markdown/core/src/utils/markdownParser.ts
Owners: @player-ui/reviewers

remove unnecessary casts
  plugins/markdown/core/src/utils/markdownParser.ts
Owners: @player-ui/reviewers

refactoring
  plugins/markdown/core/src/utils/markdownParser.ts
Owners: @player-ui/reviewers

more refactoring
  plugins/markdown/core/src/utils/markdownParser.ts
Owners: @player-ui/reviewers

final touches
  plugins/markdown/core/src/utils/markdownParser.ts
Owners: @player-ui/reviewers

returning empty node instead of empty text
  plugins/markdown/core/src/__tests__/index.test.ts
  plugins/markdown/core/src/utils/markdownParser.ts
Owners: @player-ui/reviewers

removing unnecessary type
  plugins/markdown/core/src/utils/markdownParser.ts
Owners: @player-ui/reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/player

Filter out tests from code coverage
  .circleci/config.yml
Owners: @player-ui/reviewers

fix circle checkout to not use blobless
  .circleci/config.yml
Owners: @player-ui/reviewers

remove verbose logs for shipit
  .circleci/config.yml
Owners: @player-ui/reviewers

add blobless back for android
  .circleci/config.yml
Owners: @player-ui/reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/player

Add option to specify asset to use for null mappings
  plugins/markdown/core/src/types.ts
  plugins/markdown/core/src/utils/markdownParser.ts
Owners: @player-ui/reviewers

Fix test
  plugins/markdown/core/src/utils/markdownParser.ts
Owners: @player-ui/reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/player

add full checkout for both and remove all contribs
  .autorc
  .circleci/config.yml
Owners: @player-ui/reviewers

remove incorrect changelog notes
  CHANGELOG.md
Owners: @player-ui/player

add full checkout for both stages and remove all contribs from auto (#757)
  .autorc
  .circleci/config.yml
  CHANGELOG.md
Owners: @player-ui/reviewers, @player-ui/player

Set timeout of publish stage to 40m
  .circleci/config.yml
Owners: @player-ui/reviewers

turn verbose back on while pipeline is unstable
  .circleci/config.yml
Owners: @player-ui/reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/player

Make code MacOS compatible
  ios/BUILD.bazel
  ios/demo/BUILD.bazel
  ios/demo/Sources/App.swift
  ios/demo/Sources/FlowManagerView.swift
  ios/demo/Sources/PluginsAndPlayerCollection.swift
  ios/demo/Sources/SegmentControlView.swift
  ios/test-utils-core/Sources/ui-test/AssetCollection.swift
  plugins/reference-assets/swiftui/Sources/SwiftUI/CollectionAsset.swift
  plugins/reference-assets/swiftui/Sources/SwiftUI/TextAsset.swift
  plugins/reference-assets/swiftui/Sources/SwiftUI/ValidationView.swift
  plugins/reference-assets/swiftui/Sources/Utilities/InternalAssets.swift
Owners: @player-ui/ios-reviewers

awful ugly code to "manually" compile JS into hbc, then loading the bytearray into the evaluatebytecode API
  jvm/hermes/src/main/jni/JJSIValue.cpp
  jvm/hermes/src/main/jni/JJSIValue.h
  jvm/hermes/src/main/kotlin/com/intuit/playerui/hermes/bridge/runtime/HermesRuntime.kt
  jvm/hermes/src/main/kotlin/com/intuit/playerui/jsi/Value.kt
  third_party/rn/arm64-v8a/libhermes.so
  third_party/rn/armeabi-v7a/libhermes.so
  third_party/rn/x86/libhermes.so
  third_party/rn/x86_64/libhermes.so
Owners: @player-ui/android-reviewers, @player-ui/reviewers

this saves the bytearray to a file
  jvm/hermes/src/main/kotlin/com/intuit/playerui/hermes/bridge/runtime/HermesRuntime.kt
Owners: @player-ui/android-reviewers

.github/CODEOWNERS:

# Fallback
* @player-ui/reviewers

# Docs
/docs/ @player-ui/docs-reviewers
*.md @player-ui/player
*.mdx @player-ui/player

# Core
**/core @player-ui/reviewers

# Android/JVM
**/jvm @player-ui/android-reviewers
**/android @player-ui/android-reviewers

# iOS
/xcode/ @player-ui/ios-reviewers
**/ios @player-ui/ios-reviewers
**/swiftui @player-ui/ios-reviewers

# Web
*.tsx @player-ui/web-reviewers
**/react @player-ui/web-reviewers
**/storybook @player-ui/web-reviewers
