Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adierkens, @KetanReddy, @sugarmanz, @Brocollie08, @hborawski, @spentacular

.github/CODEOWNERS:

# Fallback
* @adierkens

# Other
/docs/ @KetanReddy @adierkens

# Android/JVM

/jvm/ @sugarmanz @Brocollie08
/android/ @sugarmanz @Brocollie08

# iOS
/xcode/ @hborawski
/ios/ @hborawski

# Web
/react/ @spentacular @adierkens
/tools/storybook/ @adierkens

# Core
/core/ @KetanReddy @adierkens

add usage header on beacons doc
  docs/site/pages/plugins/beacon.mdx
Owners: @KetanReddy, @adierkens

updated asset provider with JSON samples
  docs/site/pages/plugins/asset-provider.mdx
Owners: @KetanReddy, @adierkens

some more cleanup and information
  docs/site/pages/writing-plugins.mdx
Owners: @KetanReddy, @adierkens

indentation fixes
  docs/site/pages/plugins/beacon.mdx
  docs/site/pages/plugins/check-path.mdx
  docs/site/pages/plugins/common-expressions.mdx
  docs/site/pages/plugins/common-types.mdx
  docs/site/pages/plugins/computed-properties.mdx
  docs/site/pages/plugins/console-logger.mdx
  docs/site/pages/plugins/expression.mdx
Owners: @KetanReddy, @adierkens

Added dsl validate command
  docs/site/pages/tools/cli.mdx
Owners: @KetanReddy, @adierkens

added json tag
  docs/site/pages/plugins/asset-provider.mdx
Owners: @KetanReddy, @adierkens

removed discord
  docs/site/pages/faqs.mdx
Owners: @KetanReddy, @adierkens

clean up first set of observation wording
  docs/site/pages/writing-plugins.mdx
Owners: @KetanReddy, @adierkens

iOS: Update Writing Plugins guide (#279)
  docs/site/pages/assets/custom.mdx
  docs/site/pages/getting-started.mdx
  docs/site/pages/writing-plugins.mdx
Owners: @KetanReddy, @adierkens

added contentTabs to help with content section in docs
  docs/site/components/mdx-components.tsx
Owners: @KetanReddy, @adierkens

removed json platform
  docs/site/pages/plugins/asset-provider.mdx
Owners: @KetanReddy, @adierkens

platform consolidated getting started
  docs/site/components/mdx-components.tsx
  docs/site/pages/getting-started.mdx
Owners: @KetanReddy, @adierkens

fix alert status reference
  docs/site/components/mdx-components.tsx
Owners: @KetanReddy, @adierkens

fixed code block
  docs/site/pages/plugins/asset-provider.mdx
Owners: @KetanReddy, @adierkens

find alternative way to post JSON blocks
  docs/site/components/mdx-components.tsx
  docs/site/pages/plugins/asset-provider.mdx
Owners: @KetanReddy, @adierkens

beacon
  docs/site/pages/plugins/beacon.mdx
Owners: @KetanReddy, @adierkens

check-path
  docs/site/pages/plugins/check-path.mdx
Owners: @KetanReddy, @adierkens

working json code block
  docs/site/components/mdx-components.tsx
  docs/site/pages/plugins/asset-provider.mdx
Owners: @KetanReddy, @adierkens

Updated descriptions to include TSC compiling
  docs/site/pages/tools/cli.mdx
Owners: @KetanReddy, @adierkens

updated tsx section
  docs/site/pages/plugins/asset-provider.mdx
Owners: @KetanReddy, @adierkens

tsx and json section added to contenttabs
  docs/site/components/mdx-components.tsx
  docs/site/pages/plugins/asset-provider.mdx
Owners: @KetanReddy, @adierkens

Refactor existing DSL docs.
  docs/site/config/navigation.ts
  docs/site/pages/assets/dsl.mdx
  docs/site/pages/content/assets-views.mdx
  docs/site/pages/content/dsl.mdx
  docs/site/pages/content/switches.mdx
  docs/site/pages/content/templates.mdx
  docs/site/pages/dsl/index.mdx
  docs/site/pages/dsl/plugins.mdx
  docs/site/pages/dsl/schema.mdx
  docs/site/pages/dsl/views.mdx
  docs/site/pages/tools/dsl.mdx
  plugins/reference-assets/components/src/index.tsx
Owners: @KetanReddy, @adierkens

don't await for children hydration in suspendable asset
  android/player/src/main/java/com/intuit/player/android/asset/SuspendableAsset.kt
Owners: @sugarmanz, @Brocollie08

Plugin implementation doc v1
  docs/site/config/navigation.ts
  docs/site/pages/plugin-implementation.mdx
Owners: @KetanReddy, @adierkens

coroutines + usage for check-path
  docs/site/pages/plugins/check-path.mdx
  docs/site/pages/plugins/coroutines.mdx
Owners: @KetanReddy, @adierkens

fix test
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/assets/info/InfoUITest.kt
  android/player/src/main/java/com/intuit/player/android/asset/SuspendableAsset.kt
Owners: @sugarmanz, @Brocollie08

plugin docs addl cleanup
  docs/site/pages/plugin-implementation.mdx
  docs/site/pages/plugins/stage-revert-data.mdx
  docs/site/pages/writing-plugins.mdx
Owners: @KetanReddy, @adierkens

lint
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/assets/info/InfoUITest.kt
Owners: @sugarmanz, @Brocollie08

expression
  docs/site/pages/plugins/check-path.mdx
  docs/site/pages/plugins/expression.mdx
Owners: @KetanReddy, @adierkens

iOS: Update plugin documentation (#284)
  docs/site/pages/plugins/beacon.mdx
  docs/site/pages/plugins/check-path.mdx
  docs/site/pages/plugins/common-expressions.mdx
  docs/site/pages/plugins/common-types.mdx
  docs/site/pages/plugins/computed-properties.mdx
  docs/site/pages/plugins/console-logger.mdx
  docs/site/pages/plugins/expression.mdx
  docs/site/pages/plugins/external-action-view-modifier.mdx
  docs/site/pages/plugins/external-action.mdx
  docs/site/pages/plugins/metrics.mdx
  docs/site/pages/plugins/partial-match-fingerprint.mdx
  docs/site/pages/plugins/pub-sub.mdx
  docs/site/pages/plugins/stage-revert-data.mdx
  docs/site/pages/plugins/swiftui-pending-transaction.mdx
  docs/site/pages/plugins/transition.mdx
  docs/site/pages/plugins/types-provider.mdx
Owners: @KetanReddy, @adierkens

external-action
  docs/site/pages/plugins/expression.mdx
  docs/site/pages/plugins/external-action.mdx
Owners: @KetanReddy, @adierkens

metrics
  docs/site/pages/plugins/metrics.mdx
Owners: @KetanReddy, @adierkens

fix a bunch of formatting things
  docs/site/pages/plugins/check-path.mdx
  docs/site/pages/plugins/coroutines.mdx
  docs/site/pages/plugins/metrics.mdx
Owners: @KetanReddy, @adierkens

Fix broken link in CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @adierkens

Apply suggestions from code review
  docs/site/pages/assets/dsl.mdx
  docs/site/pages/content/assets-views.mdx
  docs/site/pages/dsl/index.mdx
  docs/site/pages/dsl/views.mdx
Owners: @KetanReddy, @adierkens

fix formatting problems
  docs/site/pages/plugins/check-path.mdx
  docs/site/pages/plugins/coroutines.mdx
  docs/site/pages/plugins/external-action.mdx
  docs/site/pages/plugins/metrics.mdx
Owners: @KetanReddy, @adierkens

settimeout
  docs/site/pages/plugins/set-timeout.mdx
Owners: @KetanReddy, @adierkens

Link fix plugins overview
  docs/site/pages/plugins/index.mdx
Owners: @KetanReddy, @adierkens

Overview plugin links fix
  docs/site/pages/plugins/index.mdx
Owners: @KetanReddy, @adierkens

async-node
  docs/site/pages/plugins/async-node.mdx
Owners: @KetanReddy, @adierkens
