Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @player-ui/reviewers, @player-ui/android-reviewers, @player-ui/ios-reviewers, @player-ui/web-reviewers

add pom template to android builds
  android/defs.bzl
Owners: @player-ui/android-reviewers

Fix Android publishing (#715)
  android/defs.bzl
Owners: @player-ui/android-reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/reviewers

add asyncNodePosition to createAsyncTransform options
  plugins/async-node/core/src/__tests__/createAsyncTransform.test.ts
  plugins/async-node/core/src/createAsyncTransform.ts
Owners: @player-ui/reviewers

update async-node docs with new option
  docs/site/src/content/docs/plugins/multiplatform/async-node.mdx
Owners: @player-ui/reviewers

rename node positioning to use append and prepend
  docs/site/src/content/docs/plugins/multiplatform/async-node.mdx
  plugins/async-node/core/src/createAsyncTransform.ts
Owners: @player-ui/reviewers

use unshift and push to avoid making a new array
  plugins/async-node/core/src/createAsyncTransform.ts
Owners: @player-ui/reviewers

fix tests
  plugins/async-node/core/src/__tests__/createAsyncTransform.test.ts
  plugins/async-node/core/src/createAsyncTransform.ts
Owners: @player-ui/reviewers

remove j2v8-debug
  jvm/j2v8/BUILD
  jvm/j2v8/defs.bzl
  jvm/j2v8/libs/BUILD
  libs.versions.toml
  maven-lock.json
Owners: @player-ui/android-reviewers, @player-ui/reviewers

log a warning when there is runtime ambiguity
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/runtime/PlayerRuntimeFactory.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/HeadlessPlayer.kt
Owners: @player-ui/android-reviewers

update runtime propagation to tests
  android/demo/BUILD
  android/demo/README.md
  android/player/BUILD
  android/testutils/BUILD
  jvm/BUILD
  jvm/core/BUILD
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/runtime/PlayerRuntimeFactory.kt
  jvm/hermes/BUILD
  jvm/perf/BUILD
  jvm/testutils/BUILD
  jvm/utils/BUILD
  plugins/async-node/jvm/BUILD
  plugins/beacon/jvm/BUILD
  plugins/check-path/jvm/BUILD
  plugins/console-logger/jvm/BUILD
  plugins/coroutines/jvm/BUILD
  plugins/defs.bzl
  plugins/expression/jvm/BUILD
  plugins/external-action/jvm/BUILD
  plugins/metrics/jvm/BUILD
  plugins/pubsub/jvm/BUILD
  plugins/reference-assets/android/BUILD
  plugins/set-time-out/jvm/BUILD
Owners: @player-ui/android-reviewers, @player-ui/reviewers

android module doesn't depend on runtime, default hermes for demo
  android/demo/BUILD
  android/player/BUILD
Owners: @player-ui/android-reviewers

move core bundle to core module from runtime modules
  jvm/core/BUILD
  jvm/graaljs/BUILD
  jvm/hermes/BUILD
  jvm/j2v8/BUILD
Owners: @player-ui/android-reviewers

rename `HermesRuntime.toString` to be consistent w/ j2v8 for readability
  jvm/hermes/src/main/kotlin/com/intuit/playerui/hermes/bridge/runtime/HermesRuntime.kt
  jvm/hermes/src/test/kotlin/com/intuit/playerui/hermes/bridge/runtime/HermesRuntimeTest.kt
Owners: @player-ui/android-reviewers

update android runtime config
  .circleci/config.yml
  android/demo/BUILD
Owners: @player-ui/reviewers, @player-ui/android-reviewers

move runtime config to //android + setup android testutils runtime dep
  .circleci/config.yml
  android/BUILD
  android/demo/BUILD
  android/player/BUILD
  android/testutils/BUILD
  jvm/testutils/BUILD
  plugins/reference-assets/android/BUILD
Owners: @player-ui/reviewers, @player-ui/android-reviewers

lint fix
  .circleci/config.yml
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/runtime/PlayerRuntimeFactory.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/HeadlessPlayer.kt
Owners: @player-ui/reviewers, @player-ui/android-reviewers

add asyncNodePosition to createAsyncTransform options (#714)
  docs/site/src/content/docs/plugins/multiplatform/async-node.mdx
  plugins/async-node/core/src/__tests__/createAsyncTransform.test.ts
  plugins/async-node/core/src/createAsyncTransform.ts
Owners: @player-ui/reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/reviewers

flip ci android runtime flags
  .circleci/config.yml
Owners: @player-ui/reviewers

fix caching issues with resolved async nodes.
  plugins/async-node/core/src/index.ts
Owners: @player-ui/reviewers

remove j2v8-debug
  jvm/j2v8/BUILD
  jvm/j2v8/defs.bzl
  jvm/j2v8/libs/BUILD
  libs.versions.toml
  maven-lock.json
Owners: @player-ui/android-reviewers, @player-ui/reviewers

android module doesn't depend on runtime, default hermes for demo
  android/demo/BUILD
  android/player/BUILD
Owners: @player-ui/android-reviewers

move core bundle to core module from runtime modules
  jvm/core/BUILD
  jvm/graaljs/BUILD
  jvm/hermes/BUILD
  jvm/j2v8/BUILD
Owners: @player-ui/android-reviewers

update android runtime config
  .circleci/config.yml
  android/demo/BUILD
Owners: @player-ui/reviewers, @player-ui/android-reviewers

move runtime config to //android + setup android testutils runtime dep
  .circleci/config.yml
  android/BUILD
  android/demo/BUILD
  android/player/BUILD
  android/testutils/BUILD
  jvm/testutils/BUILD
  plugins/reference-assets/android/BUILD
Owners: @player-ui/reviewers, @player-ui/android-reviewers

update runtime propagation to tests
  android/demo/BUILD
  android/demo/README.md
  android/player/BUILD
  android/testutils/BUILD
  jvm/BUILD
  jvm/core/BUILD
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/runtime/PlayerRuntimeFactory.kt
  jvm/hermes/BUILD
  jvm/perf/BUILD
  jvm/testutils/BUILD
  jvm/utils/BUILD
  plugins/async-node/jvm/BUILD
  plugins/beacon/jvm/BUILD
  plugins/check-path/jvm/BUILD
  plugins/console-logger/jvm/BUILD
  plugins/coroutines/jvm/BUILD
  plugins/defs.bzl
  plugins/expression/jvm/BUILD
  plugins/external-action/jvm/BUILD
  plugins/metrics/jvm/BUILD
  plugins/pubsub/jvm/BUILD
  plugins/reference-assets/android/BUILD
  plugins/set-time-out/jvm/BUILD
Owners: @player-ui/android-reviewers, @player-ui/reviewers

log a warning when there is runtime ambiguity
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/runtime/PlayerRuntimeFactory.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/HeadlessPlayer.kt
Owners: @player-ui/android-reviewers

rename `HermesRuntime.toString` to be consistent w/ j2v8 for readability
  jvm/hermes/src/main/kotlin/com/intuit/playerui/hermes/bridge/runtime/HermesRuntime.kt
  jvm/hermes/src/test/kotlin/com/intuit/playerui/hermes/bridge/runtime/HermesRuntimeTest.kt
Owners: @player-ui/android-reviewers

lint fix
  .circleci/config.yml
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/runtime/PlayerRuntimeFactory.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/HeadlessPlayer.kt
Owners: @player-ui/reviewers, @player-ui/android-reviewers

flip ci android runtime flags
  .circleci/config.yml
Owners: @player-ui/reviewers

remove j2v8-android altogether
  .circleci/config.yml
  android/BUILD
  android/demo/BUILD
  jvm/j2v8/BUILD
  jvm/j2v8/README.md
  jvm/j2v8/defs.bzl
  libs.versions.toml
  maven-lock.json
Owners: @player-ui/reviewers, @player-ui/android-reviewers

fix lingering runtime select
  android/testutils/BUILD
Owners: @player-ui/android-reviewers

Remove support for J2V8 on Android (#712)
  .circleci/config.yml
  android/demo/BUILD
  android/demo/README.md
  android/player/BUILD
  android/testutils/BUILD
  jvm/BUILD
  jvm/core/BUILD
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/runtime/PlayerRuntimeFactory.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/HeadlessPlayer.kt
  jvm/graaljs/BUILD
  jvm/hermes/BUILD
  jvm/hermes/src/main/kotlin/com/intuit/playerui/hermes/bridge/runtime/HermesRuntime.kt
  jvm/hermes/src/test/kotlin/com/intuit/playerui/hermes/bridge/runtime/HermesRuntimeTest.kt
  jvm/j2v8/BUILD
  jvm/j2v8/README.md
  jvm/j2v8/defs.bzl
  jvm/j2v8/libs/BUILD
  jvm/perf/BUILD
  jvm/testutils/BUILD
  jvm/utils/BUILD
  libs.versions.toml
  maven-lock.json
  plugins/async-node/jvm/BUILD
  plugins/beacon/jvm/BUILD
  plugins/check-path/jvm/BUILD
  plugins/console-logger/jvm/BUILD
  plugins/coroutines/jvm/BUILD
  plugins/defs.bzl
  plugins/expression/jvm/BUILD
  plugins/external-action/jvm/BUILD
  plugins/metrics/jvm/BUILD
  plugins/pubsub/jvm/BUILD
  plugins/reference-assets/android/BUILD
  plugins/set-time-out/jvm/BUILD
Owners: @player-ui/reviewers, @player-ui/android-reviewers

disable blocking main log
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/HeadlessPlayer.kt
Owners: @player-ui/android-reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/reviewers

disable blocking main log
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/HeadlessPlayer.kt
Owners: @player-ui/android-reviewers

replace parallel hook with series hook in async node
  plugins/async-node/core/src/__tests__/index.test.ts
  plugins/async-node/core/src/index.ts
Owners: @player-ui/reviewers

android + jvm platform docs
  docs/site/astro.config.mjs
  docs/site/src/assets/plugin-ooo.png
  docs/site/src/content/docs/assets/reference.mdx
  docs/site/src/content/docs/getting-started.mdx
  docs/site/src/content/docs/guides/multi-flow-experiences.mdx
  docs/site/src/content/docs/guides/writing-plugins.mdx
  docs/site/src/content/docs/platforms/android.mdx
  docs/site/src/content/docs/platforms/cross-platform.mdx
  docs/site/src/content/docs/platforms/jvm.mdx
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/runtime/PlayerRuntimeFactory.kt
Owners: @player-ui/reviewers, @player-ui/android-reviewers

update rules_player@2.1.1
  MODULE.bazel
  MODULE.bazel.lock
Owners: @player-ui/reviewers

.github/CODEOWNERS:

# Fallback
* @player-ui/reviewers

# Core
**/core @player-ui/reviewers

# Android/JVM
**/jvm @player-ui/android-reviewers
**/android @player-ui/android-reviewers

# iOS
/xcode/ @player-ui/ios-reviewers
**/ios @player-ui/ios-reviewers
**/swiftui @player-ui/ios-reviewers

# Web
**/react @player-ui/web-reviewers
**/storybook @player-ui/web-reviewers
