Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adierkens, @KetanReddy, @sugarmanz, @Brocollie08, @hborawski, @spentacular

.github/CODEOWNERS:

# Fallback
* @adierkens

# Other
/docs/ @KetanReddy @adierkens

# Android/JVM

/jvm/ @sugarmanz @Brocollie08
/android/ @sugarmanz @Brocollie08

# iOS
/xcode/ @hborawski
/ios/ @hborawski

# Web
/react/ @spentacular @adierkens
/tools/storybook/ @adierkens

# Core
/core/ @KetanReddy @adierkens

removed unneeded dependencies
  jvm/core/deps.bzl
  jvm/testutils/deps.bzl
  plugins/pubsub/mocks/BUILD
  plugins/reference-assets/android/build.bzl
  plugins/reference-assets/android/deps.bzl
  plugins/reference-assets/mocks/BUILD
Owners: @sugarmanz, @Brocollie08, @adierkens

Add better error messaging for failed expression eval and parsing (#239)
  core/player/BUILD
  core/player/src/expressions/__tests__/evaluator.test.ts
  core/player/src/expressions/evaluator.ts
  package.json
Owners: @KetanReddy, @adierkens

Run ios builds on m1 mac in Circle
  .circleci/config.yml
Owners: @adierkens

changing links
  docs/site/pages/plugins/swiftui-pending-transaction.mdx
Owners: @KetanReddy, @adierkens

Update to use java@11
  .circleci/config.yml
Owners: @adierkens

Update JAVA_HOME
  .circleci/config.yml
Owners: @adierkens

Update config.yml
  .circleci/config.yml
Owners: @adierkens

adding swiftuipendingtransactionplugin (#237)
  PlayerUI.podspec
  docs/site/pages/plugins/swiftui-pending-transaction.mdx
  generated.bzl
  ios/packages/demo/Sources/AppDelegate.swift
  ios/packages/reference-assets/Sources/SwiftUI/ActionAsset.swift
  ios/packages/reference-assets/Sources/SwiftUI/InputAsset.swift
  ios/packages/swiftui/Sources/types/WrappedFunction.swift
  ios/plugins/SwiftUIPendingTransactionPlugin/Sources/SwiftUIPendingTransactionPlugin.swift
  ios/plugins/SwiftUIPendingTransactionPlugin/ViewInspector/SwiftUIPendingTransactionPlugin.swift
  xcode/Podfile
  xcode/Podfile.lock
Owners: @adierkens, @KetanReddy, @hborawski

Use version 2.9 specifically of repo-sync/pull-request
  .github/workflows/release.yml
Owners: @adierkens

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @adierkens

Bump version to: v0.4.2 [skip ci]
  VERSION
Owners: @adierkens

Update auto. Filter release trigger from changelogs
  .autorc
  package.json
  yarn.lock
Owners: @adierkens

Update to use cmdline-tools
  scripts/install-android-tools.sh
Owners: @adierkens

Try newer android version
  .circleci/config.yml
  scripts/install-android-tools.sh
Owners: @adierkens

update rbenv install
  .circleci/config.yml
Owners: @adierkens

Try openjdk 17
  .circleci/config.yml
Owners: @adierkens

move sdk location
  scripts/install-android-tools.sh
Owners: @adierkens

Update auto version. Filter release trigger from changelogs (#243)
  .autorc
  package.json
  yarn.lock
Owners: @adierkens

Fix PR Titles Created During Release (#242)
  .github/workflows/release.yml
Owners: @adierkens

Update broken link in contributing docs (#238)
  CONTRIBUTING.md
Owners: @adierkens

port async WrappedFunction update
  ios/packages/swiftui/Sources/types/WrappedFunction.swift
  ios/packages/swiftui/Tests/types/WrappedFunctionTests.swift
Owners: @hborawski

expose decode for JSValue
  ios/packages/core/Sources/Types/Assets/BaseAssetRegistry.swift
Owners: @hborawski

Try to default to x86 shell
  .circleci/config.yml
Owners: @adierkens

iOS: rewrite publisher assertions to be async (#234)
  ios/packages/internal-test-utils/Sources/Utilities.swift
  ios/packages/reference-assets/UITests/BaseTestCase.swift
  ios/packages/swiftui/Tests/ManagedPlayer/ManagedPlayerViewModelTests.swift
  ios/packages/test-utils/Tests/unit-test/AssetUnitTestCaseTests.swift
Owners: @hborawski

port BaseGenericWrappedAsset changes
  ios/packages/core/Sources/Types/Assets/Wrappers.swift
  ios/packages/swiftui/Sources/types/assets/WrappedAsset.swift
  ios/packages/swiftui/Tests/SwiftUIRegistryTests.swift
Owners: @hborawski

Add automation id to error element in storybook.
  tools/storybook/src/player/PlayerFlowSummary.tsx
Owners: @adierkens

Update ruby version in build
  .circleci/config.yml
Owners: @adierkens

iOS: port async WrappedFunction update (#244)
  ios/packages/core/Sources/Types/Assets/BaseAssetRegistry.swift
  ios/packages/core/Sources/Types/Assets/Wrappers.swift
  ios/packages/swiftui/Sources/types/WrappedFunction.swift
  ios/packages/swiftui/Sources/types/assets/WrappedAsset.swift
  ios/packages/swiftui/Tests/SwiftUIRegistryTests.swift
  ios/packages/swiftui/Tests/types/WrappedFunctionTests.swift
Owners: @hborawski

Add Automation ID to Error Element in Storybook (#245)
  tools/storybook/src/player/PlayerFlowSummary.tsx
Owners: @adierkens

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @adierkens

Bump version to: v0.4.3 [skip ci]
  VERSION
Owners: @adierkens

cleaned up BUILD and index fiels
  docs/storybook/BUILD
  plugins/beacon/mocks/beacon/beacon-action.json
  plugins/external-action/mocks/BUILD
  plugins/external-action/mocks/index.ts
  plugins/pubsub/mocks/BUILD
  plugins/pubsub/mocks/index.ts
  plugins/pubsub/mocks/pubsub/pub-sub-basic.json
Owners: @KetanReddy, @adierkens

make AssetBeacon equatable and add public init for metadata
  ios/packages/core/Sources/Types/Assets/Wrappers.swift
  ios/packages/core/Sources/Types/Beacon.swift
Owners: @hborawski

iOS: make AssetBeacon equatable and add public init for metadata (#248)
  ios/packages/core/Sources/Types/Assets/Wrappers.swift
  ios/packages/core/Sources/Types/Beacon.swift
Owners: @hborawski

Update ruby version in build (#246)
  .circleci/config.yml
Owners: @adierkens

use x86 for all commands
  .circleci/config.yml
Owners: @adierkens

install homebrew
  .circleci/config.yml
Owners: @adierkens

Update config.yml
  .circleci/config.yml
Owners: @adierkens

Update config.yml
  .circleci/config.yml
Owners: @adierkens

Update config.yml
  .circleci/config.yml
Owners: @adierkens
