Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @player-ui/reviewers, @player-ui/android-reviewers, @player-ui/ios-reviewers, @player-ui/web-reviewers

.github/CODEOWNERS:

# Fallback
* @player-ui/reviewers

# Core
**/core @player-ui/reviewers

# Android/JVM
**/jvm @player-ui/android-reviewers
**/android @player-ui/android-reviewers

# iOS
/xcode/ @player-ui/ios-reviewers
**/ios @player-ui/ios-reviewers
**/swiftui @player-ui/ios-reviewers

# Web
**/react @player-ui/web-reviewers
**/storybook @player-ui/web-reviewers

cache buster
  .circleci/config.yml
  android/demo/src/main/kotlin/com/intuit/playerui/android/reference/demo/ui/splash/SplashActivity.kt
Owners: @player-ui/reviewers, @player-ui/android-reviewers

move android ci to script and use rules_player shell config
  .circleci/config.yml
  MODULE.bazel
  MODULE.bazel.lock
  scripts/android-ci-bazel-test.sh
  shell.bzl
Owners: @player-ui/reviewers

executable android ci test
  scripts/android-ci-bazel-test.sh
Owners: @player-ui/reviewers

android docs
  BUILD.bazel
  CONTRIBUTING.md
  android/demo/README.md
Owners: @player-ui/reviewers, @player-ui/android-reviewers

fix conditions when not defined
  scripts/android-ci-bazel-test.sh
Owners: @player-ui/reviewers

fixing redirects
  docs/site/astro.config.mjs
Owners: @player-ui/reviewers

try exporting
  scripts/android-ci-bazel-test.sh
Owners: @player-ui/reviewers

mute duplicate plugin warning
  patches/rules_kotlin.allow_dupe_plugins.patch
Owners: @player-ui/reviewers

cache buster
  jvm/hermes/src/main/kotlin/com/intuit/playerui/bridge/loader/ResourceLoaderDelegate.kt
Owners: @player-ui/android-reviewers

converting path to a function
  docs/site/astro.config.mjs
Owners: @player-ui/reviewers

read emulator ready at start based on adb connections
  scripts/android-ci-bazel-test.sh
Owners: @player-ui/reviewers

cache buster
  jvm/hermes/src/main/kotlin/com/intuit/playerui/bridge/loader/ResourceLoaderDelegate.kt
Owners: @player-ui/android-reviewers

cache buster
  android/player/BUILD
  jvm/hermes/src/main/kotlin/com/intuit/playerui/bridge/loader/ResourceLoaderDelegate.kt
Owners: @player-ui/android-reviewers

revert bad changes
  android/player/BUILD
  jvm/hermes/src/main/kotlin/com/intuit/playerui/bridge/loader/ResourceLoaderDelegate.kt
Owners: @player-ui/android-reviewers

cache buster
  jvm/hermes/AndroidManifest.xml
Owners: @player-ui/android-reviewers

cache buster
  jvm/hermes/BUILD
Owners: @player-ui/android-reviewers

fixing sidebar and updating content to match other plugin pages
  docs/site/astro.config.mjs
  docs/site/src/content/docs/plugins/language/complexity-check.mdx
  docs/site/src/content/docs/plugins/language/metrics-output.mdx
Owners: @player-ui/reviewers

cache buster
  .circleci/config.yml
  jvm/hermes/AndroidManifest.xml
  jvm/hermes/BUILD
Owners: @player-ui/reviewers, @player-ui/android-reviewers

updating content
  docs/site/src/content/docs/plugins/language/complexity-check.mdx
Owners: @player-ui/reviewers

updating example
  docs/site/src/content/docs/plugins/language/metrics-output.mdx
Owners: @player-ui/reviewers

cache buster
  .circleci/config.yml
Owners: @player-ui/reviewers

reset cache busters
  .circleci/config.yml
Owners: @player-ui/reviewers

restoring getting-started
  docs/site/src/content/docs/architecture.mdx
  docs/site/src/content/docs/getting-started.mdx
Owners: @player-ui/reviewers

add broken test for empty multi-nodes
  core/player/src/__tests__/view.test.ts
Owners: @player-ui/reviewers

update createAsyncTransform to allow for different node types
  core/player/src/view/builder/index.ts
  plugins/async-node/core/src/__tests__/createAsyncTransform.test.ts
  plugins/async-node/core/src/createAsyncTransform.ts
  plugins/async-node/core/src/utils/__tests__/requiresAssetWrapper.test.ts
  plugins/async-node/core/src/utils/index.ts
  plugins/async-node/core/src/utils/requiresAssetWrapper.ts
Owners: @player-ui/reviewers

fix type build issues on reference assets
  plugins/async-node/core/src/createAsyncTransform.ts
  plugins/async-node/core/src/utils/requiresAssetWrapper.ts
Owners: @player-ui/reviewers

undo type change to Builder.multiNode
  core/player/src/view/builder/index.ts
  core/player/src/view/resolver/__tests__/index.test.ts
  plugins/async-node/core/src/createAsyncTransform.ts
  plugins/async-node/core/src/utils/requiresAssetWrapper.ts
Owners: @player-ui/reviewers

remove mocks from async transform tests
  plugins/async-node/core/src/__tests__/createAsyncTransform.test.ts
Owners: @player-ui/reviewers

update createAsyncTransform to allow for different node types (#708)
  core/player/src/view/resolver/__tests__/index.test.ts
  plugins/async-node/core/src/__tests__/createAsyncTransform.test.ts
  plugins/async-node/core/src/createAsyncTransform.ts
  plugins/async-node/core/src/utils/__tests__/requiresAssetWrapper.test.ts
  plugins/async-node/core/src/utils/index.ts
  plugins/async-node/core/src/utils/requiresAssetWrapper.ts
Owners: @player-ui/reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/reviewers

pr feedback
  docs/site/src/content/docs/architecture.mdx
  docs/site/src/content/docs/plugins/language/complexity-check.mdx
Owners: @player-ui/reviewers

remove j2v8-debug
  jvm/j2v8/BUILD
  jvm/j2v8/defs.bzl
  jvm/j2v8/libs/BUILD
  libs.versions.toml
  maven-lock.json
Owners: @player-ui/android-reviewers, @player-ui/reviewers

log a warning when there is runtime ambiguity
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/runtime/PlayerRuntimeFactory.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/HeadlessPlayer.kt
Owners: @player-ui/android-reviewers

android module doesn't depend on runtime, default hermes for demo
  android/demo/BUILD
  android/player/BUILD
Owners: @player-ui/android-reviewers

move core bundle to core module from runtime modules
  jvm/core/BUILD
  jvm/graaljs/BUILD
  jvm/hermes/BUILD
  jvm/j2v8/BUILD
Owners: @player-ui/android-reviewers

update runtime propagation to tests
  android/demo/BUILD
  android/demo/README.md
  android/player/BUILD
  android/testutils/BUILD
  jvm/BUILD
  jvm/core/BUILD
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/runtime/PlayerRuntimeFactory.kt
  jvm/hermes/BUILD
  jvm/perf/BUILD
  jvm/testutils/BUILD
  jvm/utils/BUILD
  plugins/async-node/jvm/BUILD
  plugins/beacon/jvm/BUILD
  plugins/check-path/jvm/BUILD
  plugins/console-logger/jvm/BUILD
  plugins/coroutines/jvm/BUILD
  plugins/defs.bzl
  plugins/expression/jvm/BUILD
  plugins/external-action/jvm/BUILD
  plugins/metrics/jvm/BUILD
  plugins/pubsub/jvm/BUILD
  plugins/reference-assets/android/BUILD
  plugins/set-time-out/jvm/BUILD
Owners: @player-ui/android-reviewers, @player-ui/reviewers

update android runtime config
  .circleci/config.yml
  android/demo/BUILD
Owners: @player-ui/reviewers, @player-ui/android-reviewers

test :15
  .circleci/config.yml
Owners: @player-ui/reviewers

add asyncNodePosition to createAsyncTransform options
  plugins/async-node/core/src/__tests__/createAsyncTransform.test.ts
  plugins/async-node/core/src/createAsyncTransform.ts
Owners: @player-ui/reviewers

update async-node docs with new option
  docs/site/src/content/docs/plugins/multiplatform/async-node.mdx
Owners: @player-ui/reviewers
