Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @player-ui/reviewers, @player-ui/android-reviewers, @player-ui/ios-reviewers, @player-ui/web-reviewers

[skip ci] during release, prebuild js packages in parallel
  scripts/release.sh
Owners: @player-ui/reviewers

bump iOS version to align with sim
  .bazelrc
  .circleci/config.yml
  webpack.config.js
Owners: @player-ui/reviewers

bazelignore xcode/.build
  .bazelignore
Owners: @player-ui/reviewers

Update CONTRIBUTING to have iOS happy path
  CONTRIBUTING.md
  ios/README.md
Owners: @player-ui/reviewers, @player-ui/ios-reviewers

bump pnpm, node, and use release version of player rules
  MODULE.bazel
  MODULE.bazel.lock
  docs/site/src/content/docs/authoring/index.mdx
  docs/site/src/content/docs/authoring/schema.mdx
  docs/site/src/content/docs/authoring/views.mdx
  jvm/perf/BUILD
  package.json
  plugins/reference-assets/components/BUILD
  plugins/reference-assets/mocks/BUILD
  third_party/fbjni/BUILD
  tools/mocks/BUILD
  tools/mocks/generate_dsl_targets.bzl
  tools/mocks/generate_mocks_manifest.bzl
Owners: @player-ui/reviewers, @player-ui/android-reviewers

Use xcode 16
  .circleci/config.yml
Owners: @player-ui/reviewers

Some more formatting whoops
  CONTRIBUTING.md
Owners: @player-ui/reviewers

remove android parts of ios builds, bump sim version
  .bazelrc
  .circleci/config.yml
Owners: @player-ui/reviewers

ViewInspectors tests need @MainActor
  MODULE.bazel
  plugins/reference-assets/swiftui/UITests/ManagedPlayerUITests.swift
  plugins/reference-assets/swiftui/ViewInspector/SwiftUI/ActionAssetTests.swift
  plugins/reference-assets/swiftui/ViewInspector/SwiftUI/CollectionAssetTests.swift
  plugins/reference-assets/swiftui/ViewInspector/SwiftUI/InfoAssetTests.swift
  plugins/reference-assets/swiftui/ViewInspector/SwiftUI/InputAssetTests.swift
  plugins/reference-assets/swiftui/ViewInspector/SwiftUI/TextAssetTests.swift
Owners: @player-ui/reviewers, @player-ui/ios-reviewers

fix android/player tests
  android/player/BUILD
Owners: @player-ui/android-reviewers

try different ios config
  .bazelrc
  .circleci/config.yml
Owners: @player-ui/reviewers

update reference assets test to test with all plugins
  plugins/reference-assets/core/src/__tests__/plugin.test.ts
  plugins/reference-assets/core/src/plugin.ts
  plugins/reference-assets/core/src/plugins/__tests__/chat-ui-demo-plugin.test.ts
Owners: @player-ui/reviewers

update reference assets to support chat-ui demo from core plugin (#702)
  docs/storybook/src/reference-assets/ChatUI.stories.tsx
  ios/demo/Sources/MockFlows.swift
  plugins/async-node/core/src/index.ts
  plugins/reference-assets/core/BUILD
  plugins/reference-assets/core/package.json
  plugins/reference-assets/core/src/__tests__/plugin.test.ts
  plugins/reference-assets/core/src/plugin.ts
  plugins/reference-assets/core/src/plugins/chat-ui-demo-plugin.ts
  plugins/reference-assets/core/src/plugins/index.ts
  plugins/reference-assets/core/src/plugins/reference-assets-transform-plugin.ts
  plugins/reference-assets/core/src/plugins/send.ts
  plugins/reference-assets/react/BUILD
  plugins/reference-assets/react/package.json
  plugins/reference-assets/react/src/plugin.tsx
  pnpm-lock.yaml
Owners: @player-ui/web-reviewers, @player-ui/ios-reviewers, @player-ui/reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/reviewers

comment out test for now
  plugins/transition/swiftui/ViewInspector/TransitionPluginTests.swift
Owners: @player-ui/ios-reviewers

[PLAYA-9608] Clean up comments
  .bazelrc
  BUILD.bazel
  MODULE.bazel
  android/player/BUILD
  justfile
  jvm/j2v8/deps.bzl
  plugins/reference-assets/react/src/assets/collection/Collection.tsx
  pnpm-lock.yaml
  swift_deps.bzl
  swift_deps_index.json
  xcode/Package.swift
Owners: @player-ui/reviewers, @player-ui/android-reviewers, @player-ui/web-reviewers, @player-ui/ios-reviewers

[PLAYA-9608] All iOS tests pass
  ios/core/Tests/HeadlessPlayerTests.swift
  justfile
  plugins/reference-assets/swiftui/UITests/ManagedPlayerUITests.swift
Owners: @player-ui/ios-reviewers, @player-ui/reviewers

[PLAYA-9608] Lint-fix Android
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/MainActivityTest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/SplashActivityTest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/action/ActionUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/badge/BadgeUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/collection/CollectionUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/info/InfoUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/input/InputUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/text/TextUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/base/Assertions.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/base/AssetUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/base/ComposeUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/base/Matchers.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/base/PerformanceTest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/fragment/PlayerFragmentScrollingTest.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/lifecycle/DemoPlayerViewModel.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/model/AssetMock.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/base/BasePlayerFragment.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/main/MainActivity.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/main/MainViewModel.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/player/DemoPlayerFragment.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/splash/SplashActivity.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/start/StartFragment.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/ReferenceAssetsPlugin.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/XmlStyleParser.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/action/Action.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/badge/Badge.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/collection/Collection.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/info/Info.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/input/FormattedEditText.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/input/Input.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/text/Text.kt
Owners: @player-ui/android-reviewers

25/27 Android/JVM Tests pass
  MODULE.bazel
  MODULE.bazel.lock
  justfile
  jvm/graaljs/deps.bzl
  jvm/hermes/deps.bzl
  plugins/async-node/jvm/deps.bzl
  plugins/metrics/jvm/deps.bzl
  plugins/pubsub/jvm/deps.bzl
Owners: @player-ui/reviewers, @player-ui/android-reviewers

Only DSL mocks are used; replace json mock
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/action/ActionTest.kt
  plugins/reference-assets/mocks/action/action-transition-to-end.json
  plugins/reference-assets/mocks/action/action-transition-to-end.tsx
Owners: @player-ui/android-reviewers, @player-ui/reviewers

fix testTransitionPluginDefaultTransitions
  plugins/transition/swiftui/ViewInspector/TransitionPluginTests.swift
Owners: @player-ui/ios-reviewers

update reference assets to support chat-ui demo from core plugin (#702)
  docs/storybook/src/reference-assets/ChatUI.stories.tsx
  ios/demo/Sources/MockFlows.swift
  plugins/async-node/core/src/index.ts
  plugins/reference-assets/core/BUILD
  plugins/reference-assets/core/package.json
  plugins/reference-assets/core/src/__tests__/plugin.test.ts
  plugins/reference-assets/core/src/plugin.ts
  plugins/reference-assets/core/src/plugins/chat-ui-demo-plugin.ts
  plugins/reference-assets/core/src/plugins/index.ts
  plugins/reference-assets/core/src/plugins/reference-assets-transform-plugin.ts
  plugins/reference-assets/core/src/plugins/send.ts
  plugins/reference-assets/react/BUILD
  plugins/reference-assets/react/package.json
  plugins/reference-assets/react/src/plugin.tsx
  pnpm-lock.yaml
Owners: @player-ui/web-reviewers, @player-ui/ios-reviewers, @player-ui/reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/reviewers

iOS: calling onupdate in main thread (#701)
  ios/swiftui/Sources/SwiftUIPlayer.swift
  plugins/transition/swiftui/ViewInspector/TransitionPluginTests.swift
Owners: @player-ui/ios-reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/reviewers

Bump version to: 0.13.0 [skip ci]
  VERSION
Owners: @player-ui/reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/reviewers

support boolean values in binding queries
  core/player/src/binding-grammar/__tests__/parser.test.ts
  core/player/src/binding-grammar/__tests__/test-utils/ast-cases.ts
  core/player/src/binding-grammar/ast.ts
  core/player/src/binding-grammar/custom/index.ts
  core/player/src/binding/__tests__/resolver.test.ts
  core/player/src/binding/resolver.ts
Owners: @player-ui/reviewers

add initial caching strategy for async nodes
  core/player/src/view/builder/index.ts
  core/player/src/view/parser/types.ts
  core/player/src/view/resolver/index.ts
  core/player/src/view/view.ts
  plugins/async-node/core/src/__tests__/__snapshots__/transform.test.ts.snap
  plugins/async-node/core/src/index.ts
  plugins/async-node/core/src/transform.ts
  plugins/async-node/core/src/types.ts
  plugins/reference-assets/core/src/assets/chat-message/transform.ts
Owners: @player-ui/reviewers

move parsing code from async node plugin to parser. update resolver to include node extraction logic for async nodes
  core/player/src/view/parser/index.ts
  core/player/src/view/resolver/index.ts
  core/player/src/view/resolver/types.ts
  core/player/src/view/view.ts
  plugins/async-node/core/src/index.ts
  plugins/async-node/core/src/transform.ts
  plugins/async-node/core/src/types.ts
Owners: @player-ui/reviewers

implement initial pass of flattening fixes. Left todos for remaining work
  core/player/src/view/builder/index.ts
  core/player/src/view/parser/types.ts
  core/player/src/view/resolver/index.ts
  plugins/async-node/core/src/__tests__/__snapshots__/transform.test.ts.snap
  plugins/async-node/core/src/__tests__/index.test.ts
  plugins/async-node/core/src/index.ts
  plugins/async-node/core/src/transform.ts
  plugins/reference-assets/core/src/assets/chat-message/transform.ts
Owners: @player-ui/reviewers

fix linting issues in resolver
  core/player/src/view/resolver/index.ts
Owners: @player-ui/reviewers

more cleanup
  core/player/src/view/parser/types.ts
  plugins/async-node/core/src/index.ts
Owners: @player-ui/reviewers

code cleanup after rebase
  core/player/src/view/builder/index.ts
  plugins/async-node/core/src/__tests__/index.bench.ts
  plugins/async-node/core/src/index.ts
Owners: @player-ui/reviewers

add bench tests for async transform and add comments
  core/player/src/view/resolver/index.ts
  plugins/async-node/core/src/__tests__/index.bench.ts
  plugins/async-node/core/src/index.ts
  plugins/async-node/core/src/transform.ts
Owners: @player-ui/reviewers

move some weird async transform code into its own function
  plugins/async-node/core/src/transform.ts
Owners: @player-ui/reviewers

fix build issues
  plugins/async-node/core/src/__tests__/__snapshots__/transform.test.ts.snap
  plugins/async-node/core/src/transform.ts
Owners: @player-ui/reviewers

revert changes to async transform. add createAsyncTransform utility for better flattening
  docs/site/src/content/docs/plugins/multiplatform/async-node.mdx
  plugins/async-node/core/src/__tests__/__snapshots__/transform.test.ts.snap
  plugins/async-node/core/src/__tests__/createAsyncTransform.test.ts
  plugins/async-node/core/src/__tests__/index.test.ts
  plugins/async-node/core/src/__tests__/transform.bench.ts
  plugins/async-node/core/src/createAsyncTransform.ts
  plugins/async-node/core/src/index.ts
  plugins/async-node/core/src/transform.ts
  plugins/async-node/core/src/utils/__tests__/extractNodeFromPath.test.ts
  plugins/async-node/core/src/utils/__tests__/traverseAndReplace.test.ts
  plugins/async-node/core/src/utils/__tests__/unwrapAsset.test.ts
  plugins/async-node/core/src/utils/extractNodeFromPath.ts
  plugins/async-node/core/src/utils/index.ts
  plugins/async-node/core/src/utils/traverseAndReplace.ts
  plugins/async-node/core/src/utils/unwrapAsset.ts
  plugins/reference-assets/core/src/assets/chat-message/transform.ts
Owners: @player-ui/reviewers

separate transform bench tests into their own file
  plugins/async-node/core/src/__tests__/transform.bench.ts
Owners: @player-ui/reviewers

add resolver and view tests
  core/player/src/view/__tests__/view.test.ts
  core/player/src/view/resolver/__tests__/index.test.ts
Owners: @player-ui/reviewers

.github/CODEOWNERS:

# Fallback
* @player-ui/reviewers

# Core
**/core @player-ui/reviewers

# Android/JVM
**/jvm @player-ui/android-reviewers
**/android @player-ui/android-reviewers

# iOS
/xcode/ @player-ui/ios-reviewers
**/ios @player-ui/ios-reviewers
**/swiftui @player-ui/ios-reviewers

# Web
**/react @player-ui/web-reviewers
**/storybook @player-ui/web-reviewers
