Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @player-ui/reviewers, @player-ui/android-reviewers, @player-ui/ios-reviewers, @player-ui/web-reviewers

Fixes for manager becoming stale (#683)
  react/player/BUILD
  react/player/src/manager/__tests__/managed-player.test.tsx
  react/player/src/manager/managed-player.tsx
  vitest.config.mts
Owners: @player-ui/web-reviewers, @player-ui/reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/reviewers

Update codecov, run iOS lint as a separate parallel step, remove rosetta install
  .circleci/config.yml
Owners: @player-ui/reviewers

fix codecov path
  .circleci/config.yml
Owners: @player-ui/reviewers

test not installing android deps on iOS stage
  .circleci/config.yml
Owners: @player-ui/reviewers

PR feedback
  core/player/src/expressions/evaluator.ts
  core/player/src/player.ts
  core/player/src/types.ts
Owners: @player-ui/reviewers

Async Expression Support (#649)
  core/player/src/__tests__/flow.test.ts
  core/player/src/expressions/__tests__/evaluator-functions.test.ts
  core/player/src/expressions/__tests__/evaluator.test.ts
  core/player/src/expressions/__tests__/performance.bench.ts
  core/player/src/expressions/async.ts
  core/player/src/expressions/evaluator-functions.ts
  core/player/src/expressions/evaluator.ts
  core/player/src/expressions/index.ts
  core/player/src/expressions/types.ts
  core/player/src/player.ts
  core/player/src/types.ts
  core/types/src/index.ts
  docs/site/src/content/docs/content/data-expressions.mdx
  docs/site/src/content/docs/content/navigation.mdx
  ios/core/Sources/Types/Core/NavigationStates.swift
  jvm/core/src/main/kotlin/com/intuit/playerui/core/flow/state/NavigationFlowState.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/flow/state/NavigationFlowStateType.kt
  plugins/data-change-listener/core/src/__tests__/index.test.ts
Owners: @player-ui/reviewers, @player-ui/ios-reviewers, @player-ui/android-reviewers

untap viewController hook on start to prevent multiple taps
  core/player/src/__tests__/player.test.ts
  core/player/src/player.ts
Owners: @player-ui/reviewers

add comments to tell purpose of new functions and properties on the core player
  core/player/src/player.ts
Owners: @player-ui/reviewers

remove untaps. change viewController tap vs call order
  core/player/src/player.ts
Owners: @player-ui/reviewers

fix issue after rebase
  core/player/src/player.ts
Owners: @player-ui/reviewers

fix iOS ManagedPlayerViewModel memory leak
  ios/swiftui/Sources/ManagedPlayer/ManagedPlayerViewModel.swift
Owners: @player-ui/ios-reviewers

fix iOS ManagedPlayerViewModel memory leak (#688)
  ios/swiftui/Sources/ManagedPlayer/ManagedPlayerViewModel.swift
Owners: @player-ui/ios-reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/reviewers

untap viewController hook on start to prevent multiple taps
  core/player/src/__tests__/player.test.ts
  core/player/src/player.ts
Owners: @player-ui/reviewers

add comments to tell purpose of new functions and properties on the core player
  core/player/src/player.ts
Owners: @player-ui/reviewers

remove untaps. change viewController tap vs call order
  core/player/src/player.ts
Owners: @player-ui/reviewers

fix issue after rebase
  core/player/src/player.ts
Owners: @player-ui/reviewers

add default view plugins directly to the view controller
  core/player/src/controllers/view/controller.ts
  core/player/src/player.ts
  core/player/src/plugins/default-view-plugin.ts
  core/player/src/view/plugins/template.ts
  core/player/src/view/view.ts
Owners: @player-ui/reviewers

export ViewHooks and ViewControllerHooks
  core/player/src/controllers/view/controller.ts
  core/player/src/view/view.ts
Owners: @player-ui/reviewers

remove DefaultViewPlugins and move implementation into ViewController (#689)
  core/player/src/__tests__/player.test.ts
  core/player/src/controllers/view/controller.ts
  core/player/src/player.ts
  core/player/src/plugins/default-view-plugin.ts
  core/player/src/view/plugins/template.ts
  core/player/src/view/view.ts
Owners: @player-ui/reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/reviewers

add bench test for streaming player and run tests on CI
  .circleci/config.yml
  MODULE.bazel
  justfile
  plugins/async-node/core/src/__tests__/index.bench.ts
Owners: @player-ui/reviewers

update MODULE.bazel to use semver release of bench rule
  MODULE.bazel
Owners: @player-ui/reviewers

update core async node plugins to catch and handle errors
  plugins/async-node/core/src/__tests__/index.test.ts
  plugins/async-node/core/src/index.ts
Owners: @player-ui/reviewers

fix kotlin lint errors
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/hooks/NodeSyncBailHook2.kt
  plugins/async-node/jvm/src/main/kotlin/com/intuit/playerui/plugins/asyncnode/AsyncNodePlugin.kt
  plugins/async-node/jvm/src/test/kotlin/com/intuit/playerui/plugins/asyncnode/AsyncNodePluginTest.kt
Owners: @player-ui/android-reviewers

add wrapper hook to android and update docs. fix justfile command for android build
  docs/site/src/content/docs/plugins/multiplatform/async-node.mdx
  justfile
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/hooks/NodeSyncBailHook2.kt
  plugins/async-node/jvm/src/main/kotlin/com/intuit/playerui/plugins/asyncnode/AsyncNodePlugin.kt
  plugins/async-node/jvm/src/test/kotlin/com/intuit/playerui/plugins/asyncnode/AsyncNodePluginTest.kt
Owners: @player-ui/reviewers, @player-ui/android-reviewers

code cleanup on async node plugin
  plugins/async-node/core/src/index.ts
Owners: @player-ui/reviewers

update ios async node test to cause an error instead of throwing one
  plugins/async-node/ios/Tests/AsynNodePluginTests.swift
Owners: @player-ui/ios-reviewers

add asyncNodeError hook to ios package
  plugins/async-node/ios/Sources/AsyncNodePlugin.swift
  plugins/async-node/ios/Tests/AsynNodePluginTests.swift
Owners: @player-ui/ios-reviewers

use content structure for onAsyncNodeError and finish ios implementation
  .bazelrc
  ios/core/Sources/Types/Hooks/Hook.swift
  plugins/async-node/core/src/__tests__/index.test.ts
  plugins/async-node/core/src/index.ts
  plugins/async-node/ios/Tests/AsynNodePluginTests.swift
  plugins/async-node/jvm/src/main/kotlin/com/intuit/playerui/plugins/asyncnode/AsyncNodePlugin.kt
  plugins/async-node/jvm/src/test/kotlin/com/intuit/playerui/plugins/asyncnode/AsyncNodePluginTest.kt
Owners: @player-ui/reviewers, @player-ui/ios-reviewers, @player-ui/android-reviewers

cleanup error throw in ios test
  plugins/async-node/ios/Tests/AsynNodePluginTests.swift
Owners: @player-ui/ios-reviewers

comment test to fix build temporarily
  plugins/async-node/ios/Tests/AsynNodePluginTests.swift
Owners: @player-ui/ios-reviewers

update ios settings in bazelrc to common and async-node.mdx to use ts over js
  .bazelrc
  docs/site/src/content/docs/plugins/multiplatform/async-node.mdx
Owners: @player-ui/reviewers

fix ios lint error
  ios/core/Sources/Types/Hooks/Hook.swift
Owners: @player-ui/ios-reviewers

remove cyclical deps. reduce cache scope of async nodes to individual views
  plugins/async-node/core/BUILD
  plugins/async-node/core/package.json
  plugins/async-node/core/src/__tests__/index.test.ts
  plugins/async-node/core/src/index.ts
  pnpm-lock.yaml
Owners: @player-ui/reviewers

clean up MODULE.bazel and update executor for bench tests
  .circleci/config.yml
  MODULE.bazel
Owners: @player-ui/reviewers

add config arg to bazel run in circleci bench tests
  .circleci/config.yml
Owners: @player-ui/reviewers

lower resource use on bench tests bazel run
  .bazelrc
  .circleci/config.yml
Owners: @player-ui/reviewers

clean up warnings on ci config inheritance
  .bazelrc
Owners: @player-ui/reviewers

.github/CODEOWNERS:

# Fallback
* @player-ui/reviewers

# Core
**/core @player-ui/reviewers

# Android/JVM
**/jvm @player-ui/android-reviewers
**/android @player-ui/android-reviewers

# iOS
/xcode/ @player-ui/ios-reviewers
**/ios @player-ui/ios-reviewers
**/swiftui @player-ui/ios-reviewers

# Web
**/react @player-ui/web-reviewers
**/storybook @player-ui/web-reviewers
