Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adierkens, @KetanReddy, @sugarmanz, @Brocollie08, @hborawski, @spentacular

fix writing to gpg conf
  .circleci/config.yml
Owners: @adierkens

reintroduce grab for mockable android jar
  WORKSPACE
  android/player/deps.bzl
Owners: @adierkens, @sugarmanz, @Brocollie08

more cleanup
  android/BUILD
  android/player/deps.bzl
  jvm/dependencies/versions.bzl
Owners: @sugarmanz, @Brocollie08

working grab_bazel_common + some cleanup
  WORKSPACE
  android/demo/BUILD
  android/demo/README.md
  android/player/BUILD
Owners: @adierkens, @sugarmanz, @Brocollie08

exclude kotlin stdlib
  jvm/build.bzl
  jvm/core/BUILD
Owners: @sugarmanz, @Brocollie08

neverlink j2v8 debugger
  jvm/j2v8/BUILD
  jvm/j2v8/build.bzl
  jvm/j2v8/deps.bzl
  jvm/j2v8/libs/BUILD
  jvm/j2v8/src/main/kotlin/com/alexii/j2v8debugger/ScriptSourceProvider.kt
  jvm/j2v8/src/main/kotlin/com/intuit/player/jvm/j2v8/bridge/runtime/V8Runtime.kt
Owners: @sugarmanz, @Brocollie08

move jvm external setup
  WORKSPACE
Owners: @adierkens

strip down ci
  .circleci/config.yml
Owners: @adierkens

use pinentry instead
  .circleci/config.yml
Owners: @adierkens

wip
  WORKSPACE
  android/demo/BUILD
  android/player/BUILD
  android/player/deps.bzl
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/player/state/PlayerFlowState.kt
  jvm/dependencies/versions.bzl
  jvm/j2v8/BUILD
  jvm/j2v8/deps.bzl
  plugins/reference-assets/android/BUILD
  plugins/reference-assets/android/deps.bzl
Owners: @adierkens, @sugarmanz, @Brocollie08

fix deps.bzl miss
  jvm/j2v8/deps.bzl
Owners: @sugarmanz, @Brocollie08

sync --experimental_google_legacy_api
  .bazelrc
Owners: @adierkens

fix //jvm/core:test
  jvm/core/deps.bzl
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/player/state/CompletedStateTest.kt
Owners: @sugarmanz, @Brocollie08

wip: broken rules_jvm_external
  .bazelrc
  WORKSPACE
  android/BUILD
  android/demo/BUILD
  android/player/BUILD
  android/player/deps.bzl
  build_constants.bzl
  jvm/build.bzl
  jvm/dependencies/deps.bzl
  jvm/j2v8/build.bzl
  patches/BUILD
  patches/rules_jvm_external.default_public_visibility.patch
  plugins/build.bzl
Owners: @adierkens, @sugarmanz, @Brocollie08

cleanup
  .bazelrc
  WORKSPACE
  android/demo/BUILD
  build_constants.bzl
  jvm/dependencies/deps.bzl
  plugins/reference-assets/android/BUILD
  plugins/reference-assets/android/deps.bzl
Owners: @adierkens, @sugarmanz, @Brocollie08

try to use the embedded jdk
  .bazelrc
Owners: @adierkens

ensure resources exist in top-level AAR
  android/player/BUILD
Owners: @sugarmanz, @Brocollie08

reset circle config
  .circleci/config.yml
Owners: @adierkens

uncomment test
  ios/packages/core/Tests/utilities/JSValueExtensionsTests.swift
Owners: @hborawski

Fix `com.intuit.player:j2v8` transitive deps (#256)
  .bazelrc
  .circleci/config.yml
  WORKSPACE
  android/demo/BUILD
  android/demo/README.md
  android/player/BUILD
  build_constants.bzl
  jvm/build.bzl
  jvm/core/BUILD
  jvm/core/deps.bzl
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/player/state/PlayerFlowState.kt
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/player/state/CompletedStateTest.kt
  jvm/dependencies/common.bzl
  jvm/dependencies/deps.bzl
  jvm/j2v8/BUILD
  jvm/j2v8/build.bzl
  jvm/j2v8/deps.bzl
  jvm/j2v8/libs/BUILD
  jvm/j2v8/src/main/kotlin/com/alexii/j2v8debugger/ScriptSourceProvider.kt
  jvm/j2v8/src/main/kotlin/com/intuit/player/jvm/j2v8/bridge/runtime/V8Runtime.kt
  patches/BUILD
  patches/rules_jvm_external.default_public_visibility.patch
  plugins/build.bzl
  plugins/reference-assets/android/BUILD
Owners: @adierkens, @sugarmanz, @Brocollie08

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @adierkens

Bump version to: v0.6.0 [skip ci]
  VERSION
Owners: @adierkens

Use rules_bazel commit sha
  MODULE.bazel
Owners: @adierkens

pom with minimal oss requirements
  jvm/BUILD
  jvm/build.bzl
  jvm/pom.tpl
Owners: @sugarmanz, @Brocollie08

Fix SwiftUIPendingTransactionPlugin Docs Page
  docs/site/pages/plugins/swiftui-pending-transaction.mdx
Owners: @KetanReddy, @adierkens

remove android and circle applitools
  .circleci/config.yml
  WORKSPACE
  android/build.bzl
  android/demo/BUILD
  android/demo/androidsettings.xml
  android/demo/deps.bzl
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/SplashActivityTest.kt
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/assets/action/ActionUITest.kt
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/assets/info/InfoUITest.kt
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/assets/input/InputUITest.kt
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/base/ApplitoolsTest.kt
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/base/AssetUITest.kt
  jvm/dependencies/versions.bzl
  jvm/utils/src/main/kotlin/com/intuit/player/jvm/utils/mocks/ClassLoaderMocksReader.kt
Owners: @adierkens, @sugarmanz, @Brocollie08

don't define applitools configs
  .circleci/config.yml
Owners: @adierkens

remove applitools usage from iOS UI Tests
  .circleci/config.yml
  PlayerUI.podspec
  generated.bzl
  ios/packages/reference-assets/UITests/ActionAssetUITests.swift
  ios/packages/reference-assets/UITests/BaseTestCase.swift
  ios/packages/reference-assets/UITests/BeaconPluginUITest.swift
  ios/packages/reference-assets/UITests/CollectionAssetUITests.swift
  ios/packages/reference-assets/UITests/ExternalActionUITests.swift
  ios/packages/reference-assets/UITests/InfoAssetUITests.swift
  ios/packages/reference-assets/UITests/InputAssetUITests.swift
  ios/packages/reference-assets/UITests/ManagedPlayerUITests.swift
  ios/packages/reference-assets/UITests/PubsubUITests.swift
  ios/packages/reference-assets/UITests/SwiftUIPendingTransactionPluginUITests.swift
  ios/packages/reference-assets/UITests/TextAssetUITests.swift
  xcode/PlayerUI.xcodeproj/project.pbxproj
  xcode/Podfile
  xcode/Podfile.lock
Owners: @adierkens, @hborawski

address flakiness by awaiting child async view stubs
  android/player/src/main/java/com/intuit/player/android/asset/SuspendableAsset.kt
Owners: @sugarmanz, @Brocollie08

update plugin authoring guide for iOS
  docs/site/pages/assets/custom.mdx
  docs/site/pages/getting-started.mdx
  docs/site/pages/writing-plugins.mdx
Owners: @KetanReddy, @adierkens

feat: adds improve docs link to github.dev
  docs/site/next.config.mjs
  docs/site/plugins/mdx-link-append-loader.js
Owners: @KetanReddy, @adierkens

Remove Applitools (#277)
  .circleci/config.yml
  PlayerUI.podspec
  WORKSPACE
  android/build.bzl
  android/demo/BUILD
  android/demo/androidsettings.xml
  android/demo/deps.bzl
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/SplashActivityTest.kt
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/assets/action/ActionUITest.kt
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/assets/info/InfoUITest.kt
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/assets/input/InputUITest.kt
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/base/ApplitoolsTest.kt
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/base/AssetUITest.kt
  android/player/src/main/java/com/intuit/player/android/asset/SuspendableAsset.kt
  generated.bzl
  ios/packages/reference-assets/UITests/ActionAssetUITests.swift
  ios/packages/reference-assets/UITests/BaseTestCase.swift
  ios/packages/reference-assets/UITests/BeaconPluginUITest.swift
  ios/packages/reference-assets/UITests/CollectionAssetUITests.swift
  ios/packages/reference-assets/UITests/ExternalActionUITests.swift
  ios/packages/reference-assets/UITests/InfoAssetUITests.swift
  ios/packages/reference-assets/UITests/InputAssetUITests.swift
  ios/packages/reference-assets/UITests/ManagedPlayerUITests.swift
  ios/packages/reference-assets/UITests/PubsubUITests.swift
  ios/packages/reference-assets/UITests/SwiftUIPendingTransactionPluginUITests.swift
  ios/packages/reference-assets/UITests/TextAssetUITests.swift
  jvm/dependencies/versions.bzl
  jvm/utils/src/main/kotlin/com/intuit/player/jvm/utils/mocks/ClassLoaderMocksReader.kt
  xcode/PlayerUI.xcodeproj/project.pbxproj
  xcode/Podfile
  xcode/Podfile.lock
Owners: @adierkens, @sugarmanz, @Brocollie08, @hborawski

[JVM] pom with minimal oss requirements (#275)
  jvm/BUILD
  jvm/build.bzl
  jvm/pom.tpl
Owners: @sugarmanz, @Brocollie08

updated so mmd graphs show on github
  docs/site/pages/guides/data-diagrams-with-binding-parser.mmd
  docs/site/pages/guides/data-diagrams-with-middle-ware.mmd
  docs/site/pages/guides/data-diagrams.mmd
Owners: @KetanReddy, @adierkens

Update Team page with new members
  docs/site/components/PlayerTeam.tsx
  docs/site/config/team.json
Owners: @KetanReddy, @adierkens

update some plugin docs for ios with usage examples
  docs/site/pages/plugins/external-action-view-modifier.mdx
  docs/site/pages/plugins/external-action.mdx
  docs/site/pages/plugins/metrics.mdx
  docs/site/pages/plugins/partial-match-fingerprint.mdx
  docs/site/pages/plugins/pub-sub.mdx
  docs/site/pages/plugins/stage-revert-data.mdx
  docs/site/pages/plugins/swiftui-pending-transaction.mdx
  docs/site/pages/plugins/transition.mdx
  docs/site/pages/plugins/types-provider.mdx
Owners: @KetanReddy, @adierkens

plugin core doc addition
  docs/site/pages/writing-plugins.mdx
Owners: @KetanReddy, @adierkens

updated FAQS
  docs/site/pages/faqs.mdx
Owners: @KetanReddy, @adierkens

feat: add github.dev links to docs (#278)
  docs/site/next.config.mjs
  docs/site/plugins/mdx-link-append-loader.js
Owners: @KetanReddy, @adierkens

update docs for iOS and some for core
  docs/site/pages/plugins/beacon.mdx
  docs/site/pages/plugins/check-path.mdx
  docs/site/pages/plugins/common-expressions.mdx
  docs/site/pages/plugins/common-types.mdx
  docs/site/pages/plugins/computed-properties.mdx
Owners: @KetanReddy, @adierkens

.github/CODEOWNERS:

# Fallback
* @adierkens

# Other
/docs/ @KetanReddy @adierkens

# Android/JVM

/jvm/ @sugarmanz @Brocollie08
/android/ @sugarmanz @Brocollie08

# iOS
/xcode/ @hborawski
/ios/ @hborawski

# Web
/react/ @spentacular @adierkens
/tools/storybook/ @adierkens

# Core
/core/ @KetanReddy @adierkens
