Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @player-ui/reviewers, @player-ui/android-reviewers, @player-ui/ios-reviewers, @player-ui/web-reviewers

.github/CODEOWNERS:

# Fallback
* @player-ui/reviewers

# Core
**/core @player-ui/reviewers

# Android/JVM
**/jvm @player-ui/android-reviewers
**/android @player-ui/android-reviewers

# iOS
/xcode/ @player-ui/ios-reviewers
**/ios @player-ui/ios-reviewers
**/swiftui @player-ui/ios-reviewers

# Web
**/react @player-ui/web-reviewers
**/storybook @player-ui/web-reviewers

remove android parts of ios builds, bump sim version
  .bazelrc
  .circleci/config.yml
Owners: @player-ui/reviewers

tweak ci flags
  .bazelrc
  .circleci/config.yml
Owners: @player-ui/reviewers

Omit viewinspector tests for ios test utils
  ios/test-utils-core/BUILD.bazel
Owners: @player-ui/ios-reviewers

bump iOS version to align with sim
  .bazelrc
  .circleci/config.yml
  webpack.config.js
Owners: @player-ui/reviewers

try different ios config
  .bazelrc
  .circleci/config.yml
Owners: @player-ui/reviewers

add option to report unused disable directives in eslint (#697)
  core/player/src/binding-grammar/__tests__/ebnf/index.ts
  core/player/src/binding-grammar/custom/index.ts
  core/player/src/binding/utils.ts
  core/player/src/controllers/data/utils.ts
  core/player/src/expressions/parser.ts
  core/types/src/index.ts
  eslint.config.mts
  plugins/beacon/core/src/beacon.ts
  plugins/common-types/core/src/formats/__tests__/formats.test.ts
  plugins/pubsub/core/src/pubsub.ts
  plugins/reference-assets/core/src/assets/chat-message/transform.ts
  react/player/src/player.tsx
Owners: @player-ui/reviewers, @player-ui/web-reviewers

test calling onupdate in main thread
  ios/swiftui/Sources/SwiftUIPlayer.swift
Owners: @player-ui/ios-reviewers

fix compilation issue
  ios/swiftui/Sources/SwiftUIPlayer.swift
Owners: @player-ui/ios-reviewers

fix compilation error
  ios/swiftui/Sources/SwiftUIPlayer.swift
Owners: @player-ui/ios-reviewers

use optional chaining to fix compilation issue
  ios/swiftui/Sources/SwiftUIPlayer.swift
Owners: @player-ui/ios-reviewers

implement initial pass of flattening fixes. Left todos for remaining work
  core/player/src/view/builder/index.ts
  core/player/src/view/parser/types.ts
  core/player/src/view/resolver/index.ts
  plugins/async-node/core/src/__tests__/__snapshots__/transform.test.ts.snap
  plugins/async-node/core/src/__tests__/index.test.ts
  plugins/async-node/core/src/index.ts
  plugins/async-node/core/src/transform.ts
  plugins/reference-assets/core/src/assets/chat-message/transform.ts
Owners: @player-ui/reviewers

add initial caching strategy for async nodes
  core/player/src/view/builder/index.ts
  core/player/src/view/parser/types.ts
  core/player/src/view/resolver/index.ts
  core/player/src/view/view.ts
  plugins/async-node/core/src/__tests__/__snapshots__/transform.test.ts.snap
  plugins/async-node/core/src/index.ts
  plugins/async-node/core/src/transform.ts
  plugins/async-node/core/src/types.ts
  plugins/reference-assets/core/src/assets/chat-message/transform.ts
Owners: @player-ui/reviewers

add bench tests for async transform and add comments
  core/player/src/view/resolver/index.ts
  plugins/async-node/core/src/__tests__/index.bench.ts
  plugins/async-node/core/src/index.ts
  plugins/async-node/core/src/transform.ts
Owners: @player-ui/reviewers

code cleanup after rebase
  core/player/src/view/builder/index.ts
  plugins/async-node/core/src/__tests__/index.bench.ts
  plugins/async-node/core/src/index.ts
Owners: @player-ui/reviewers

move parsing code from async node plugin to parser. update resolver to include node extraction logic for async nodes
  core/player/src/view/parser/index.ts
  core/player/src/view/resolver/index.ts
  core/player/src/view/resolver/types.ts
  core/player/src/view/view.ts
  plugins/async-node/core/src/index.ts
  plugins/async-node/core/src/transform.ts
  plugins/async-node/core/src/types.ts
Owners: @player-ui/reviewers

fix build issues
  plugins/async-node/core/src/__tests__/__snapshots__/transform.test.ts.snap
  plugins/async-node/core/src/transform.ts
Owners: @player-ui/reviewers

move some weird async transform code into its own function
  plugins/async-node/core/src/transform.ts
Owners: @player-ui/reviewers

remove unused arg from async transform
  plugins/async-node/core/src/types.ts
  plugins/reference-assets/core/src/assets/chat-message/transform.ts
Owners: @player-ui/reviewers

add resolver and view tests
  core/player/src/view/__tests__/view.test.ts
  core/player/src/view/resolver/__tests__/index.test.ts
Owners: @player-ui/reviewers

fix linting issues in resolver
  core/player/src/view/resolver/index.ts
Owners: @player-ui/reviewers

write more tests. remove parseMultiNode and improve multi node view plugin implementation
  core/player/src/view/parser/index.ts
  core/player/src/view/parser/types.ts
  core/player/src/view/plugins/__tests__/multi-node.test.ts
  core/player/src/view/plugins/multi-node.ts
  core/player/src/view/resolver/index.ts
  core/player/src/view/resolver/types.ts
  core/player/src/view/view.ts
  plugins/async-node/core/src/__tests__/index.test.ts
  plugins/async-node/core/src/index.ts
Owners: @player-ui/reviewers

more cleanup
  core/player/src/view/parser/types.ts
  plugins/async-node/core/src/index.ts
Owners: @player-ui/reviewers

separate transform bench tests into their own file
  plugins/async-node/core/src/__tests__/transform.bench.ts
Owners: @player-ui/reviewers

set flatMap to just map in resolver
  core/player/src/view/resolver/index.ts
Owners: @player-ui/reviewers

revert changes to async transform. add createAsyncTransform utility for better flattening
  docs/site/src/content/docs/plugins/multiplatform/async-node.mdx
  plugins/async-node/core/src/__tests__/__snapshots__/transform.test.ts.snap
  plugins/async-node/core/src/__tests__/createAsyncTransform.test.ts
  plugins/async-node/core/src/__tests__/index.test.ts
  plugins/async-node/core/src/__tests__/transform.bench.ts
  plugins/async-node/core/src/createAsyncTransform.ts
  plugins/async-node/core/src/index.ts
  plugins/async-node/core/src/transform.ts
  plugins/async-node/core/src/utils/__tests__/extractNodeFromPath.test.ts
  plugins/async-node/core/src/utils/__tests__/traverseAndReplace.test.ts
  plugins/async-node/core/src/utils/__tests__/unwrapAsset.test.ts
  plugins/async-node/core/src/utils/extractNodeFromPath.ts
  plugins/async-node/core/src/utils/index.ts
  plugins/async-node/core/src/utils/traverseAndReplace.ts
  plugins/async-node/core/src/utils/unwrapAsset.ts
  plugins/reference-assets/core/src/assets/chat-message/transform.ts
Owners: @player-ui/reviewers

add more tests for extractNodeFromPath
  plugins/async-node/core/src/utils/__tests__/extractNodeFromPath.test.ts
  plugins/async-node/core/src/utils/extractNodeFromPath.ts
Owners: @player-ui/reviewers

capture weak self
  ios/swiftui/Sources/SwiftUIPlayer.swift
Owners: @player-ui/ios-reviewers

update reference assets to support chat-ui demo from core plugin
  docs/storybook/src/reference-assets/ChatUI.stories.tsx
  ios/demo/Sources/MockFlows.swift
  plugins/async-node/core/src/index.ts
  plugins/reference-assets/core/BUILD
  plugins/reference-assets/core/package.json
  plugins/reference-assets/core/src/plugin.ts
  plugins/reference-assets/core/src/plugins/chat-ui-demo-plugin.ts
  plugins/reference-assets/core/src/plugins/index.ts
  plugins/reference-assets/core/src/plugins/reference-assets-transform-plugin.ts
  plugins/reference-assets/core/src/plugins/send.ts
  pnpm-lock.yaml
Owners: @player-ui/web-reviewers, @player-ui/ios-reviewers, @player-ui/reviewers

add async node plugin setup to core reference assets plugin
  plugins/reference-assets/core/src/plugin.ts
  plugins/reference-assets/react/BUILD
  plugins/reference-assets/react/package.json
  plugins/reference-assets/react/src/plugin.tsx
  pnpm-lock.yaml
Owners: @player-ui/reviewers, @player-ui/web-reviewers

add tests for ChatUiDemoPlugin
  plugins/reference-assets/core/src/plugins/__tests__/chat-ui-demo-plugin.test.ts
  plugins/reference-assets/core/src/plugins/chat-ui-demo-plugin.ts
Owners: @player-ui/reviewers

update test names in createAsyncTransform.test.ts
  plugins/async-node/core/src/__tests__/createAsyncTransform.test.ts
Owners: @player-ui/reviewers

tweak ci flags
  .bazelrc
  .circleci/config.yml
Owners: @player-ui/reviewers

use pushed rules_player
  MODULE.bazel
Owners: @player-ui/reviewers

ios working on bazel 8
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
Owners: @player-ui/reviewers

wip android (working //android/demo:install)
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE.bzlmod
  android/demo/src/main/res/values/strings.xml
  android/player/BUILD
  android/player/deps.bzl
  build_constants.bzl
  jvm/BUILD
  jvm/core/BUILD
  jvm/core/deps.bzl
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/Player.kt
  jvm/defs.bzl
  jvm/dependencies/common.bzl
  jvm/graaljs/deps.bzl
  jvm/hermes/BUILD
  jvm/hermes/defs.bzl
  jvm/hermes/deps.bzl
  jvm/j2v8/defs.bzl
  jvm/j2v8/deps.bzl
  jvm/j2v8/libs/BUILD
  jvm/perf/BUILD
  jvm/testutils/deps.bzl
  package.json
  plugins/async-node/jvm/deps.bzl
  plugins/defs.bzl
  plugins/metrics/jvm/deps.bzl
  plugins/pubsub/jvm/deps.bzl
  plugins/reference-assets/android/defs.bzl
  pnpm-lock.yaml
  third_party/fbjni/BUILD
Owners: @player-ui/reviewers, @player-ui/android-reviewers

Omit viewinspector tests for ios test utils
  ios/test-utils-core/BUILD.bazel
Owners: @player-ui/ios-reviewers

ios bazel 8
  .bazelrc
  .bazelversion
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE
  ios/BUILD.bazel
  shell.bzl
Owners: @player-ui/reviewers, @player-ui/ios-reviewers

Update based on contributing feedback
  CONTRIBUTING.md
Owners: @player-ui/reviewers

update to Bazel 7 and fix XCode generation
  .bazelversion
  BUILD.bazel
  MODULE.bazel
  ios/core/BUILD.bazel
  ios/logger/BUILD.bazel
  ios/swiftui/BUILD.bazel
  patches/rules_kotlin.context_receivers.patch
  plugins/reference-assets/swiftui/BUILD.bazel
Owners: @player-ui/reviewers, @player-ui/ios-reviewers

[wip] ios test debug
  MODULE.bazel
  MODULE.bazel.lock
  ios/swiftui/ViewInspector/ManagedPlayer/ManagedPlayerTests.swift
  jvm/defs.bzl
  plugins/async-node/ios/ViewInspector/AsynNodePluginViewInspectorTests.swift
  tools/ios/util.bzl
  xcode/Package.resolved
  xcode/Package.swift
Owners: @player-ui/reviewers, @player-ui/ios-reviewers, @player-ui/android-reviewers
