Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @player-ui/reviewers, @player-ui/android-reviewers, @player-ui/ios-reviewers, @player-ui/web-reviewers

getting rid of warnings
  docs/site/astro.config.mjs
  docs/site/public/.well-known/appspecific/com.chrome.devtools.json
Owners: @player-ui/reviewers

add option to report unused disable directives in eslint
  core/player/src/binding-grammar/__tests__/ebnf/index.ts
  core/player/src/binding-grammar/custom/index.ts
  core/player/src/binding/utils.ts
  core/player/src/controllers/data/utils.ts
  core/player/src/expressions/parser.ts
  core/types/src/index.ts
  eslint.config.mts
  plugins/beacon/core/src/beacon.ts
  plugins/common-types/core/src/formats/__tests__/formats.test.ts
  plugins/pubsub/core/src/pubsub.ts
  plugins/reference-assets/core/src/assets/chat-message/transform.ts
  react/player/src/player.tsx
Owners: @player-ui/reviewers, @player-ui/web-reviewers

sidebar updates
  docs/site/astro.config.mjs
  docs/site/src/components/Sidebar.astro
  docs/site/src/content/docs/getting-started.mdx
  docs/site/src/content/docs/guides/getting-started.mdx
  docs/site/src/content/docs/index.mdx
Owners: @player-ui/reviewers

track inProgressNodes to prevent duplicate async processes (#693)
  plugins/async-node/core/src/__tests__/index.test.ts
  plugins/async-node/core/src/index.ts
Owners: @player-ui/reviewers

implement initial pass of flattening fixes. Left todos for remaining work
  core/player/src/view/builder/index.ts
  core/player/src/view/parser/types.ts
  core/player/src/view/resolver/index.ts
  plugins/async-node/core/src/__tests__/__snapshots__/transform.test.ts.snap
  plugins/async-node/core/src/__tests__/index.test.ts
  plugins/async-node/core/src/index.ts
  plugins/async-node/core/src/transform.ts
  plugins/reference-assets/core/src/assets/chat-message/transform.ts
Owners: @player-ui/reviewers

add bench tests for async transform and add comments
  core/player/src/view/resolver/index.ts
  plugins/async-node/core/src/__tests__/index.bench.ts
  plugins/async-node/core/src/index.ts
  plugins/async-node/core/src/transform.ts
Owners: @player-ui/reviewers

move some weird async transform code into its own function
  plugins/async-node/core/src/transform.ts
Owners: @player-ui/reviewers

code cleanup after rebase
  core/player/src/view/builder/index.ts
  plugins/async-node/core/src/__tests__/index.bench.ts
  plugins/async-node/core/src/index.ts
Owners: @player-ui/reviewers

move parsing code from async node plugin to parser. update resolver to include node extraction logic for async nodes
  core/player/src/view/parser/index.ts
  core/player/src/view/resolver/index.ts
  core/player/src/view/resolver/types.ts
  core/player/src/view/view.ts
  plugins/async-node/core/src/index.ts
  plugins/async-node/core/src/transform.ts
  plugins/async-node/core/src/types.ts
Owners: @player-ui/reviewers

add initial caching strategy for async nodes
  core/player/src/view/builder/index.ts
  core/player/src/view/parser/types.ts
  core/player/src/view/resolver/index.ts
  core/player/src/view/view.ts
  plugins/async-node/core/src/__tests__/__snapshots__/transform.test.ts.snap
  plugins/async-node/core/src/index.ts
  plugins/async-node/core/src/transform.ts
  plugins/async-node/core/src/types.ts
  plugins/reference-assets/core/src/assets/chat-message/transform.ts
Owners: @player-ui/reviewers

fix linting issues in resolver
  core/player/src/view/resolver/index.ts
Owners: @player-ui/reviewers

add resolver and view tests
  core/player/src/view/__tests__/view.test.ts
  core/player/src/view/resolver/__tests__/index.test.ts
Owners: @player-ui/reviewers

write more tests. remove parseMultiNode and improve multi node view plugin implementation
  core/player/src/view/parser/index.ts
  core/player/src/view/parser/types.ts
  core/player/src/view/plugins/__tests__/multi-node.test.ts
  core/player/src/view/plugins/multi-node.ts
  core/player/src/view/resolver/index.ts
  core/player/src/view/resolver/types.ts
  core/player/src/view/view.ts
  plugins/async-node/core/src/__tests__/index.test.ts
  plugins/async-node/core/src/index.ts
Owners: @player-ui/reviewers

remove unused arg from async transform
  plugins/async-node/core/src/types.ts
  plugins/reference-assets/core/src/assets/chat-message/transform.ts
Owners: @player-ui/reviewers

more cleanup
  core/player/src/view/parser/types.ts
  plugins/async-node/core/src/index.ts
Owners: @player-ui/reviewers

separate transform bench tests into their own file
  plugins/async-node/core/src/__tests__/transform.bench.ts
Owners: @player-ui/reviewers

fix build issues
  plugins/async-node/core/src/__tests__/__snapshots__/transform.test.ts.snap
  plugins/async-node/core/src/transform.ts
Owners: @player-ui/reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/reviewers

reverting unintended astro changes and adding more redirects
  docs/site/astro.config.mjs
Owners: @player-ui/reviewers

Updating placeholder comment in ASTExplorer
  docs/site/src/components/tools/ASTExplorer.tsx
Owners: @player-ui/reviewers

Addressing PR feedback
  docs/site/astro.config.mjs
  docs/site/package.json
Owners: @player-ui/reviewers

pnpm-lock
  pnpm-lock.yaml
Owners: @player-ui/reviewers

nav updates and adding preview support to bazel
  docs/site/BUILD
  docs/site/astro.config.mjs
Owners: @player-ui/reviewers

updating team page
  docs/site/src/components/PlayerTeam.astro
Owners: @player-ui/reviewers

Docs: Updating Astro/Starlight, PageFind, Sidebar Enhancements (#698)
  docs/site/BUILD
  docs/site/astro.config.mjs
  docs/site/public/.well-known/appspecific/com.chrome.devtools.json
  docs/site/src/components/NavBar.astro
  docs/site/src/components/PlayerTeam.astro
  docs/site/src/components/Sidebar.astro
  docs/site/src/components/tools/ASTExplorer.tsx
  docs/site/src/content/docs/authoring/index.mdx
  docs/site/src/content/docs/capabilities/cli.mdx
  docs/site/src/content/docs/capabilities/storybook.mdx
  docs/site/src/content/docs/getting-started.mdx
  docs/site/src/content/docs/guides/getting-started.mdx
  docs/site/src/content/docs/index.mdx
  docs/site/src/content/docs/player/faqs.mdx
  package.json
  pnpm-lock.yaml
Owners: @player-ui/reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/reviewers

update to Bazel 7 and fix XCode generation
  .bazelversion
  BUILD.bazel
  MODULE.bazel
  ios/core/BUILD.bazel
  ios/logger/BUILD.bazel
  ios/swiftui/BUILD.bazel
  patches/rules_kotlin.context_receivers.patch
  plugins/reference-assets/swiftui/BUILD.bazel
Owners: @player-ui/reviewers, @player-ui/ios-reviewers

ios bazel 8
  .bazelrc
  .bazelversion
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE
  ios/BUILD.bazel
  shell.bzl
Owners: @player-ui/reviewers, @player-ui/ios-reviewers

use pushed rules_player
  MODULE.bazel
Owners: @player-ui/reviewers

ios working on bazel 8
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
Owners: @player-ui/reviewers

Update based on contributing feedback
  CONTRIBUTING.md
Owners: @player-ui/reviewers

ViewInspectors tests need @MainActor
  MODULE.bazel
  plugins/reference-assets/swiftui/UITests/ManagedPlayerUITests.swift
  plugins/reference-assets/swiftui/ViewInspector/SwiftUI/ActionAssetTests.swift
  plugins/reference-assets/swiftui/ViewInspector/SwiftUI/CollectionAssetTests.swift
  plugins/reference-assets/swiftui/ViewInspector/SwiftUI/InfoAssetTests.swift
  plugins/reference-assets/swiftui/ViewInspector/SwiftUI/InputAssetTests.swift
  plugins/reference-assets/swiftui/ViewInspector/SwiftUI/TextAssetTests.swift
Owners: @player-ui/reviewers, @player-ui/ios-reviewers

bazelignore xcode/.build
  .bazelignore
Owners: @player-ui/reviewers

Update CONTRIBUTING to have iOS happy path
  CONTRIBUTING.md
  ios/README.md
Owners: @player-ui/reviewers, @player-ui/ios-reviewers

Some more formatting whoops
  CONTRIBUTING.md
Owners: @player-ui/reviewers

[wip] ios test debug
  MODULE.bazel
  MODULE.bazel.lock
  ios/swiftui/ViewInspector/ManagedPlayer/ManagedPlayerTests.swift
  jvm/defs.bzl
  plugins/async-node/ios/ViewInspector/AsynNodePluginViewInspectorTests.swift
  tools/ios/util.bzl
  xcode/Package.resolved
  xcode/Package.swift
Owners: @player-ui/reviewers, @player-ui/ios-reviewers, @player-ui/android-reviewers

wip android (working //android/demo:install)
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE.bzlmod
  android/demo/src/main/res/values/strings.xml
  android/player/BUILD
  android/player/deps.bzl
  build_constants.bzl
  jvm/BUILD
  jvm/core/BUILD
  jvm/core/deps.bzl
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/Player.kt
  jvm/defs.bzl
  jvm/dependencies/common.bzl
  jvm/graaljs/deps.bzl
  jvm/hermes/BUILD
  jvm/hermes/defs.bzl
  jvm/hermes/deps.bzl
  jvm/j2v8/defs.bzl
  jvm/j2v8/deps.bzl
  jvm/j2v8/libs/BUILD
  jvm/perf/BUILD
  jvm/testutils/deps.bzl
  package.json
  plugins/async-node/jvm/deps.bzl
  plugins/defs.bzl
  plugins/metrics/jvm/deps.bzl
  plugins/pubsub/jvm/deps.bzl
  plugins/reference-assets/android/defs.bzl
  pnpm-lock.yaml
  third_party/fbjni/BUILD
Owners: @player-ui/reviewers, @player-ui/android-reviewers

bump pnpm, node, and use release version of player rules
  MODULE.bazel
  MODULE.bazel.lock
  docs/site/src/content/docs/authoring/index.mdx
  docs/site/src/content/docs/authoring/schema.mdx
  docs/site/src/content/docs/authoring/views.mdx
  jvm/perf/BUILD
  package.json
  plugins/reference-assets/components/BUILD
  plugins/reference-assets/mocks/BUILD
  third_party/fbjni/BUILD
  tools/mocks/BUILD
  tools/mocks/generate_dsl_targets.bzl
  tools/mocks/generate_mocks_manifest.bzl
Owners: @player-ui/reviewers, @player-ui/android-reviewers

Use xcode 16
  .circleci/config.yml
Owners: @player-ui/reviewers

fix android/player tests
  android/player/BUILD
Owners: @player-ui/android-reviewers

.github/CODEOWNERS:

# Fallback
* @player-ui/reviewers

# Core
**/core @player-ui/reviewers

# Android/JVM
**/jvm @player-ui/android-reviewers
**/android @player-ui/android-reviewers

# iOS
/xcode/ @player-ui/ios-reviewers
**/ios @player-ui/ios-reviewers
**/swiftui @player-ui/ios-reviewers

# Web
**/react @player-ui/web-reviewers
**/storybook @player-ui/web-reviewers
