Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adierkens, @KetanReddy, @sugarmanz, @Brocollie08, @hborawski, @spentacular

.github/CODEOWNERS:

# Fallback
* @adierkens

# Other
/docs/ @KetanReddy @adierkens

# Android/JVM

/jvm/ @sugarmanz @Brocollie08
/android/ @sugarmanz @Brocollie08

# iOS
/xcode/ @hborawski
/ios/ @hborawski

# Web
/react/ @spentacular @adierkens
/tools/storybook/ @adierkens

# Core
/core/ @KetanReddy @adierkens

iOS: prefix resource bundles to prevent naming collisions
  PlayerUI.podspec
  generated.bzl
  ios/packages/test-utils-core/Sources/AssetTestHelper.swift
  ios/plugins/AsyncNodePlugin/Sources/AsyncNodePlugin.swift
  ios/plugins/BaseBeaconPlugin/Sources/BaseBeaconPlugin.swift
  ios/plugins/CheckPathPlugin/Sources/CheckPathPlugin.swift
  ios/plugins/CommonExpressionsPlugin/Sources/CommonExpressionsPlugin.swift
  ios/plugins/CommonTypesPlugin/Sources/CommonTypesPlugin.swift
  ios/plugins/ComputedPropertiesPlugin/Sources/ComputedPropertiesPlugin.swift
  ios/plugins/ExpressionPlugin/Sources/ExpressionPlugin.swift
  ios/plugins/ExternalActionPlugin/Sources/ExternalActionPlugin.swift
  ios/plugins/ExternalActionViewModifierPlugin/Sources/ExternalActionViewModifierPlugin.swift
  ios/plugins/MetricsPlugin/Sources/MetricsPlugin.swift
  ios/plugins/PubSubPlugin/Sources/PubSubPlugin.swift
  ios/plugins/StageRevertDataPlugin/Sources/StageRevertDataPlugin.swift
  ios/plugins/TypesProviderPlugin/Sources/TypesProviderPlugin.swift
  xcode/Podfile.lock
Owners: @adierkens, @hborawski

initial working rehydration tracker
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/lifecycle/DemoPlayerViewModel.kt
  android/player/src/main/java/com/intuit/playerui/android/asset/SuspendableAsset.kt
Owners: @sugarmanz, @Brocollie08

callback approach
  android/player/src/main/java/com/intuit/playerui/android/asset/SuspendableAsset.kt
Owners: @sugarmanz, @Brocollie08

working callback impl
  android/player/src/main/java/com/intuit/playerui/android/asset/SuspendableAsset.kt
Owners: @sugarmanz, @Brocollie08

lint
  android/player/src/main/java/com/intuit/playerui/android/asset/SuspendableAsset.kt
Owners: @sugarmanz, @Brocollie08

oops
  android/player/src/main/java/com/intuit/playerui/android/asset/SuspendableAsset.kt
Owners: @sugarmanz, @Brocollie08

explicit api instead of callback
  android/player/src/main/java/com/intuit/playerui/android/asset/SuspendableAsset.kt
Owners: @sugarmanz, @Brocollie08

ensure beacon call captures view scope synchronously
  plugins/beacon/jvm/src/main/kotlin/com/intuit/playerui/plugins/beacon/BeaconPlugin.kt
Owners: @adierkens

ensure we track hydration as early as possible
  android/player/src/main/java/com/intuit/playerui/android/asset/SuspendableAsset.kt
Owners: @sugarmanz, @Brocollie08

expose onHydrationStarted hook
  android/player/src/main/java/com/intuit/playerui/android/asset/SuspendableAsset.kt
Owners: @sugarmanz, @Brocollie08

player associates
  android/player/BUILD
  android/player/src/main/java/com/intuit/playerui/android/logger/AndroidLogger.kt
  android/player/src/test/java/com/intuit/playerui/android/logger/BUILD
  android/player/src/test/java/com/intuit/playerui/android/utils/BUILD
Owners: @sugarmanz, @Brocollie08

Exp dataRefs:@player-ui/reference-assets-components
  plugins/common-types/core/BUILD
  plugins/common-types/core/src/index.ts
  plugins/reference-assets/components/src/index.tsx
  plugins/reference-assets/core/src/index.ts
Owners: @adierkens

encapsulate everything in associate
  android/player/BUILD
  android/player/build.bzl
  android/player/src/main/java/com/intuit/playerui/android/AndroidPlayer.kt
  android/player/src/main/java/com/intuit/playerui/android/extensions/Into.kt
  android/player/src/test/java/com/intuit/playerui/android/utils/BrokenAsset.kt
  android/player/src/test/java/com/intuit/playerui/android/utils/Json.kt
  android/player/src/test/java/com/intuit/playerui/android/utils/OtherSimpleAsset.kt
Owners: @sugarmanz, @Brocollie08

revert api visibility change
  android/player/src/main/java/com/intuit/playerui/android/AndroidPlayer.kt
Owners: @sugarmanz, @Brocollie08

simple async hydration tracker test
  android/player/src/test/java/com/intuit/playerui/android/renderer/NestedAssetTest.kt
Owners: @sugarmanz, @Brocollie08

fix mvvm build
  android/player-ui/BUILD
Owners: @sugarmanz, @Brocollie08

fix resource_map
  xcode/Podfile
  xcode/Podfile.lock
Owners: @hborawski

rename reference assets bundle
  PlayerUI.podspec
  generated.bzl
  ios/packages/reference-assets/Sources/ReferenceAssetsPlugin.swift
  xcode/Podfile
  xcode/Podfile.lock
Owners: @adierkens, @hborawski

remove redundant trackHydration
  android/player/src/main/java/com/intuit/playerui/android/asset/SuspendableAsset.kt
Owners: @sugarmanz, @Brocollie08

[Android] `AsyncHydrationTrackerPlugin` (#296)
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/lifecycle/DemoPlayerViewModel.kt
  android/player/src/main/java/com/intuit/playerui/android/asset/SuspendableAsset.kt
  android/player/src/test/java/com/intuit/playerui/android/renderer/NestedAssetTest.kt
  plugins/beacon/jvm/src/main/kotlin/com/intuit/playerui/plugins/beacon/BeaconPlugin.kt
Owners: @sugarmanz, @Brocollie08, @adierkens

iOS: prefix resource bundles to prevent naming collisions (#310)
  PlayerUI.podspec
  generated.bzl
  ios/packages/reference-assets/Sources/ReferenceAssetsPlugin.swift
  ios/packages/test-utils-core/Sources/AssetTestHelper.swift
  ios/plugins/AsyncNodePlugin/Sources/AsyncNodePlugin.swift
  ios/plugins/BaseBeaconPlugin/Sources/BaseBeaconPlugin.swift
  ios/plugins/CheckPathPlugin/Sources/CheckPathPlugin.swift
  ios/plugins/CommonExpressionsPlugin/Sources/CommonExpressionsPlugin.swift
  ios/plugins/CommonTypesPlugin/Sources/CommonTypesPlugin.swift
  ios/plugins/ComputedPropertiesPlugin/Sources/ComputedPropertiesPlugin.swift
  ios/plugins/ExpressionPlugin/Sources/ExpressionPlugin.swift
  ios/plugins/ExternalActionPlugin/Sources/ExternalActionPlugin.swift
  ios/plugins/ExternalActionViewModifierPlugin/Sources/ExternalActionViewModifierPlugin.swift
  ios/plugins/MetricsPlugin/Sources/MetricsPlugin.swift
  ios/plugins/PubSubPlugin/Sources/PubSubPlugin.swift
  ios/plugins/StageRevertDataPlugin/Sources/StageRevertDataPlugin.swift
  ios/plugins/TypesProviderPlugin/Sources/TypesProviderPlugin.swift
  xcode/Podfile
  xcode/Podfile.lock
Owners: @adierkens, @hborawski

Fix documentation error on custom asset
  docs/site/pages/plugins/asset-provider.mdx
Owners: @KetanReddy, @adierkens

fixed linting errors
  plugins/reference-assets/components/src/index.tsx
Owners: @adierkens

Fix documentation error on custom asset (#311)
  docs/site/pages/plugins/asset-provider.mdx
Owners: @KetanReddy, @adierkens

Exporting validations + DSLSchema from components
  plugins/reference-assets/components/src/index.tsx
Owners: @adierkens

bump tools packages to 0.5.1
  package.json
  yarn.lock
Owners: @adierkens

bump @player-tools packages to 0.5.1 (#312)
  package.json
  yarn.lock
Owners: @adierkens

Bump version to: v0.7.1 [skip ci]
  VERSION
Owners: @adierkens

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @adierkens

preserve old rendering path for non-suspenable assets
  android/player/src/main/java/com/intuit/playerui/android/ui/PlayerFragment.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/HeadlessPlayer.kt
Owners: @sugarmanz, @Brocollie08

lint
  android/player/src/main/java/com/intuit/playerui/android/ui/PlayerFragment.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/HeadlessPlayer.kt
Owners: @sugarmanz, @Brocollie08

conditionally launch in main for non-suspendable assets
  android/player/src/main/java/com/intuit/playerui/android/ui/PlayerFragment.kt
Owners: @sugarmanz, @Brocollie08

Expose expression parser strictness in options hook
  core/player/src/expressions/evaluator.ts
Owners: @KetanReddy, @adierkens

Make throwing recoverable parsing errors dependent on strictness
  core/player/src/expressions/parser.ts
Owners: @KetanReddy, @adierkens

Update rules
  MODULE.bazel
Owners: @adierkens

update swift package deps
  swift_deps.bzl
  swift_deps_index.json
  xcode/Package.resolved
  xcode/Package.swift
Owners: @adierkens, @hborawski

add syntax examples for default expressions
  docs/site/pages/content/data-expressions.mdx
Owners: @KetanReddy, @adierkens

fix getDataVal casing
  docs/site/pages/content/data-expressions.mdx
Owners: @KetanReddy, @adierkens

fix getDataVal casing
  docs/site/pages/content/data-expressions.mdx
Owners: @KetanReddy, @adierkens

add syntax examples for default expressions (#317)
  docs/site/pages/content/data-expressions.mdx
Owners: @KetanReddy, @adierkens
