Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adierkens, @KetanReddy, @sugarmanz, @Brocollie08, @hborawski, @spentacular

Update asset-provider.mdx (#174)
  docs/site/pages/plugins/asset-provider.mdx
Owners: @KetanReddy, @adierkens

add footer in info component
  plugins/reference-assets/core/src/assets/info/types.ts
  plugins/reference-assets/react/src/assets/info/Info.tsx
Owners: @adierkens

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @adierkens

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @adierkens

Added note to input asset and adding spacing beneath info asset
  ios/packages/demo/Sources/MockFlows.swift
  ios/packages/reference-assets/Sources/SwiftUI/InfoAsset.swift
  ios/packages/reference-assets/Sources/SwiftUI/InputAsset.swift
Owners: @hborawski

intitial
  plugins/reference-assets/core/src/assets/choice/index.ts
  plugins/reference-assets/core/src/assets/choice/transform.ts
  plugins/reference-assets/core/src/assets/choice/types.ts
  plugins/reference-assets/core/src/assets/index.ts
  plugins/reference-assets/core/src/plugin.ts
Owners: @adierkens

updated steps for android contribution
  android/demo/BUILD
  android/demo/README.md
  android/demo/scripts/androidinstall.sh
Owners: @sugarmanz, @Brocollie08

added troubleshooting guide
  android/demo/README.md
Owners: @sugarmanz, @Brocollie08

test branch with ios rules update
  WORKSPACE
Owners: @adierkens

Modified correct mock flows JSON file
  ios/packages/demo/Sources/MockFlows.swift
  plugins/reference-assets/mocks/input/input-basic.json
Owners: @hborawski, @adierkens

transformed choicesentry
  plugins/reference-assets/core/src/assets/choice/choices-entry/index.ts
  plugins/reference-assets/core/src/assets/choice/choices-entry/transform.ts
  plugins/reference-assets/core/src/assets/choice/choices-entry/types.ts
  plugins/reference-assets/core/src/assets/choice/transform.ts
  plugins/reference-assets/core/src/assets/choice/types.ts
Owners: @adierkens

Android: add note to input ref asset
  android/demo/BUILD
  android/demo/scripts/androidinstall.sh
  plugins/reference-assets/android/src/main/java/com/intuit/player/android/reference/assets/input/Input.kt
  plugins/reference-assets/android/src/main/java/com/intuit/player/android/reference/assets/text/Text.kt
  plugins/reference-assets/android/src/main/res/layout/input.xml
  plugins/reference-assets/android/src/main/res/values/text.xml
Owners: @sugarmanz, @Brocollie08, @adierkens

test out forked rules
  WORKSPACE
Owners: @adierkens

Revert "Merge remote-tracking branch 'upstream/sync-android-player' into android-render-note-for-input-ref-asset"
  android/player/api/player.api
  android/player/deps.bzl
  android/player/src/main/java/com/intuit/player/android/AndroidPlayer.kt
  android/player/src/main/java/com/intuit/player/android/asset/RenderableAsset.kt
  android/player/src/main/java/com/intuit/player/android/extensions/into.kt
  android/player/src/main/java/com/intuit/player/android/lifecycle/PlayerViewModel.kt
  android/player/src/test/java/android/util/Log.kt
  android/player/src/test/java/com/intuit/player/android/AndroidPlayerTest.kt
  android/player/src/test/java/com/intuit/player/android/AssetContextTest.kt
  android/player/src/test/java/com/intuit/player/android/extensions/IntoKtTest.kt
  android/player/src/test/java/com/intuit/player/android/lifecycle/PlayerViewModelTest.kt
  android/player/src/test/java/com/intuit/player/android/logger/AndroidLoggerTest.kt
  android/player/src/test/java/com/intuit/player/android/renderer/BrokenAssetTest.kt
  android/player/src/test/java/com/intuit/player/android/renderer/HydrationScopeTest.kt
  android/player/src/test/java/com/intuit/player/android/renderer/SimpleAssetTest.kt
  android/player/src/test/java/com/intuit/player/android/utils/BrokenAsset.kt
  android/player/src/test/java/com/intuit/player/android/utils/TestAssetsPlugin.kt
  android/player/src/test/java/com/intuit/player/android/utils/updates.kt
  jvm/core/api/core.api
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/bridge/hooks/NodeSyncHook.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/bridge/serialization/serializers/NodeSerializableField.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/flow/Flow.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/player/HeadlessPlayer.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/player/Player.kt
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/bridge/serialization/serializers/NodeSerializableFieldTest.kt
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/player/HeadlessPlayerTest.kt
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/player/PlayerHooksTest.kt
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/player/state/InProgressStateTest.kt
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/view/ViewControllerTest.kt
  jvm/j2v8/api/j2v8.api
  jvm/j2v8/libs/BUILD
  jvm/j2v8/src/main/kotlin/com/intuit/player/jvm/j2v8/bridge/runtime/V8Runtime.kt
  plugins/coroutines/jvm/src/test/kotlin/com/intuit/player/plugins/coroutines/FlowScopePluginTest.kt
  plugins/set-time-out/jvm/api/set-time-out.api
  plugins/set-time-out/jvm/src/main/kotlin/com/intuit/player/plugins/settimeout/SetTimeoutPlugin.kt
  plugins/set-time-out/jvm/src/test/kotlin/com.intuit.player.plugins.settimeout/SetTimeoutPluginTest.kt
Owners: @sugarmanz, @Brocollie08, @adierkens

fix: add recommended fix
  jvm/j2v8/libs/BUILD
Owners: @sugarmanz, @Brocollie08

mocks
  plugins/reference-assets/mocks/choice/choice-basic.json
  plugins/reference-assets/mocks/choice/choice-transition.json
Owners: @adierkens

added transformedchoices array
  plugins/reference-assets/core/src/assets/choice/transform.ts
  plugins/reference-assets/core/src/assets/choice/types.ts
Owners: @adierkens

fix: fix failed test
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/input/InputTest.kt
Owners: @adierkens

use release version of rules_player
  WORKSPACE
Owners: @adierkens

Update rules_player version to fix iOS build (#190)
  WORKSPACE
Owners: @adierkens

update contributing doc for iOS precompile script presetup
  CONTRIBUTING.md
Owners: @adierkens

remove fallback from stream in storybook
  docs/storybook/.storybook/webpack.config.js
Owners: @KetanReddy, @adierkens

Try and load DSL stories from package url
  docs/storybook/src/reference-assets/Action.stories.mdx
Owners: @KetanReddy, @adierkens

fix linting fail
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/input/InputTest.kt
Owners: @adierkens

add footer in storybook
  plugins/reference-assets/mocks/info/info-basic.json
  plugins/reference-assets/mocks/info/info-dynamic-flow.json
  plugins/reference-assets/mocks/info/info-modal-flow.json
Owners: @adierkens

add footer to info asset
  ios/packages/demo/Sources/MockFlows.swift
  ios/packages/reference-assets/Sources/SwiftUI/InfoAsset.swift
  plugins/reference-assets/mocks/info/info-footer.json
Owners: @hborawski, @adierkens

fix tests
  ios/packages/reference-assets/ViewInspector/SwiftUI/InfoAssetTests.swift
Owners: @hborawski

add Support For Segmented Assets
  plugins/reference-assets/react/src/assets/info/Info.tsx
Owners: @adierkens

add Support For Segmented Assets
  plugins/auto-scroll/react/src/__tests__/plugin.test.tsx
Owners: @adierkens

add Support For Segmented Assets
  plugins/reference-assets/core/src/assets/info/__tests__/transform.test.ts
  plugins/reference-assets/core/src/assets/info/index.ts
  plugins/reference-assets/core/src/assets/info/transform.ts
  plugins/reference-assets/core/src/assets/info/types.ts
  plugins/reference-assets/core/src/plugin.ts
  plugins/reference-assets/mocks/info/info-basic.json
  plugins/reference-assets/react/src/assets/info/Info.tsx
Owners: @adierkens

address Comments
  plugins/reference-assets/core/src/assets/info/types.ts
Owners: @adierkens

dsl and tests
  plugins/reference-assets/components/src/index.test.tsx
  plugins/reference-assets/components/src/index.tsx
Owners: @adierkens

Update rules_player version to fix iOS build (#190)
  WORKSPACE
Owners: @adierkens

Export InfoAsset as XLR View
  plugins/reference-assets/react/src/plugin.tsx
Owners: @adierkens

WIP
  docs/storybook/src/reference-assets/Image.stories.mdx
  docs/storybook/src/reference-assets/flows.ts
  ios/packages/demo/Sources/MockFlows.swift
  plugins/reference-assets/core/src/assets/image/index.ts
  plugins/reference-assets/core/src/assets/image/types.ts
  plugins/reference-assets/core/src/assets/index.ts
  plugins/reference-assets/mocks/image/image-basic.json
  plugins/reference-assets/react/src/assets/image/Image.tsx
  plugins/reference-assets/react/src/assets/image/index.tsx
Owners: @KetanReddy, @adierkens, @hborawski

Fix failing tests
  plugins/markdown/core/src/__tests__/__snapshots__/index.test.ts.snap
  plugins/markdown/core/src/__tests__/index.test.ts
  plugins/reference-assets/mocks/action/action-transition-to-end.tsx
  tools/storybook/src/addons/events/index.tsx
Owners: @adierkens

add label to collection
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/collection/CollectionTest.kt
  plugins/reference-assets/android/src/main/java/com/intuit/player/android/reference/assets/collection/Collection.kt
  plugins/reference-assets/android/src/main/res/layout/collection.xml
Owners: @adierkens

add footer to android info asset
  plugins/reference-assets/android/src/main/java/com/intuit/player/android/reference/assets/info/Info.kt
Owners: @adierkens

add new LinearLayout
  plugins/reference-assets/android/src/main/res/layout/info.xml
Owners: @adierkens

WIP- image in storybook
  docs/storybook/src/reference-assets/Image.stories.mdx
  plugins/reference-assets/react/src/assets/image/Image.tsx
  plugins/reference-assets/react/src/assets/index.tsx
  plugins/reference-assets/react/src/plugin.tsx
Owners: @KetanReddy, @adierkens

.github/CODEOWNERS:

# Fallback
* @adierkens

# Other
/docs/ @KetanReddy @adierkens

# Android/JVM

/jvm/ @sugarmanz @Brocollie08
/android/ @sugarmanz @Brocollie08

# iOS
/xcode/ @hborawski
/ios/ @hborawski

# Web
/react/ @spentacular @adierkens
/tools/storybook/ @adierkens

# Core
/core/ @KetanReddy @adierkens
