Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adierkens, @KetanReddy, @sugarmanz, @Brocollie08, @hborawski, @spentacular

fix 0 precision commaNumber formatting
  plugins/common-types/core/src/formats/__tests__/formats.test.ts
  plugins/common-types/core/src/formats/index.ts
Owners: @adierkens

d8 dexer
  .bazelrc
Owners: @adierkens

rename db resources
  android/player/api/player.api
  android/player/src/main/java/com/intuit/playerui/android/ui/PlayerFragment.kt
  android/player/src/main/res/layout/fallback_view.xml
  android/player/src/main/res/layout/player_fragment.xml
Owners: @sugarmanz, @Brocollie08

update db rules
  WORKSPACE
Owners: @adierkens

use main rules_player
  WORKSPACE
Owners: @adierkens

refactor nav docs slightly to better call out onEnd expressions
  docs/site/pages/content/navigation.mdx
Owners: @KetanReddy, @adierkens

update rules_player to latest 0.12.0
  WORKSPACE
Owners: @adierkens

reword some more
  docs/site/pages/content/navigation.mdx
Owners: @KetanReddy, @adierkens

grammar update
  docs/site/pages/content/navigation.mdx
Owners: @KetanReddy, @adierkens

.github/CODEOWNERS:

# Fallback
* @adierkens

# Other
/docs/ @KetanReddy @adierkens

# Android/JVM

/jvm/ @sugarmanz @Brocollie08
/android/ @sugarmanz @Brocollie08

# iOS
/xcode/ @hborawski
/ios/ @hborawski

# Web
/react/ @spentacular @adierkens
/tools/storybook/ @adierkens

# Core
/core/ @KetanReddy @adierkens
