Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adierkens, @Brocollie08, @KetanReddy, @spentacular, @sugarmanz, @nancywu1

.github/CODEOWNERS:

# Fallback
* @adierkens @Brocollie08 @KetanReddy @spentacular 

# Other
/docs/ @KetanReddy @adierkens

# Android/JVM

/jvm/ @Brocollie08 @sugarmanz 
/android/ @Brocollie08 @sugarmanz 

# iOS
/xcode/ @nancywu1 
/ios/ @nancywu1

# Web
/react/ @adierkens @spentacular
/tools/storybook/ @adierkens @KetanReddy

# Core
/core/ @KetanReddy @adierkens

# Plugins
/plugins/*/core/ @Brocollie08 @KetanReddy @spentacular 
/plugins/*/react/ @spentacular
/plugins/*/jvm/ @Brocollie08 
/plugins/*/android/ @Brocollie08 
/plugins/*/ios/ @nancywu1
/plugins/*/swiftui/ @nancywu1

Adding compose hydrationScope
  android/player/src/main/java/com/intuit/playerui/android/asset/RenderableAsset.kt
  android/player/src/main/java/com/intuit/playerui/android/compose/ComposableAsset.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/action/Action.kt
Owners: @Brocollie08, @sugarmanz

Forcing render to be on Dispatcher.Default
  android/player/src/main/java/com/intuit/playerui/android/asset/RenderableAsset.kt
  android/player/src/main/java/com/intuit/playerui/android/compose/ComposableAsset.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/action/Action.kt
Owners: @Brocollie08, @sugarmanz

Update based on PR review
  .qodo/history.sqlite
  android/.idea/.gitignore
  android/.idea/inspectionProfiles/Project_Default.xml
  android/.idea/kotlinc.xml
  android/.idea/libraries/KotlinJavaRuntime.xml
  android/.idea/misc.xml
  android/.idea/modules.xml
  android/.idea/vcs.xml
  android/player/src/main/java/com/intuit/playerui/android/compose/ComposableAsset.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/action/Action.kt
  yarn.lock
Owners: @adierkens, @Brocollie08, @KetanReddy, @spentacular, @sugarmanz

why wouldusing IO make a difference
  android/player/src/main/java/com/intuit/playerui/android/compose/ComposableAsset.kt
Owners: @Brocollie08, @sugarmanz

Renewing hydration scope for android view
  android/player/src/main/java/com/intuit/playerui/android/compose/ComposableAsset.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/action/Action.kt
Owners: @Brocollie08, @sugarmanz

Forcing render to be on Dispatcher.Default
  .qodo/history.sqlite
  android/.idea/.gitignore
  android/.idea/inspectionProfiles/Project_Default.xml
  android/.idea/kotlinc.xml
  android/.idea/libraries/KotlinJavaRuntime.xml
  android/.idea/misc.xml
  android/.idea/modules.xml
  android/.idea/vcs.xml
  android/player/src/main/java/com/intuit/playerui/android/compose/ComposableAsset.kt
  yarn.lock
Owners: @adierkens, @Brocollie08, @KetanReddy, @spentacular, @sugarmanz

Offloading render properly in composeAndroidView
  android/player/src/main/java/com/intuit/playerui/android/compose/ComposableAsset.kt
Owners: @Brocollie08, @sugarmanz

We don't need this anymore
  android/player/src/main/java/com/intuit/playerui/android/compose/ComposableAsset.kt
Owners: @Brocollie08, @sugarmanz

just renewing scope
  android/player/src/main/java/com/intuit/playerui/android/compose/ComposableAsset.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/action/Action.kt
Owners: @Brocollie08, @sugarmanz

add optional test tags to assets
  android/player/src/main/java/com/intuit/playerui/android/compose/ComposableAsset.kt
Owners: @Brocollie08, @sugarmanz

Re-add stamping support to builds
  core/player/src/player.ts
  react/player/src/player.tsx
  tsup.config.ts
Owners: @KetanReddy, @adierkens, @spentacular, @Brocollie08

Update to use react
  react/player/src/player.tsx
Owners: @adierkens, @spentacular

lint
  core/player/src/player.ts
  react/player/src/player.tsx
Owners: @KetanReddy, @adierkens, @spentacular

use available iOS version
  .circleci/config.yml
Owners: @adierkens, @Brocollie08, @KetanReddy, @spentacular

deprecated SuspendableAsset
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/lifecycle/DemoPlayerViewModel.kt
  android/player/src/main/java/com/intuit/playerui/android/asset/DecodableAsset.kt
  android/player/src/main/java/com/intuit/playerui/android/asset/RenderableAsset.kt
  android/player/src/main/java/com/intuit/playerui/android/asset/SuspendableAsset.kt
  android/player/src/main/java/com/intuit/playerui/android/compose/ComposableAsset.kt
  android/player/src/main/java/com/intuit/playerui/android/ui/PlayerFragment.kt
  android/player/src/test/java/com/intuit/playerui/android/renderer/HydrationScopeTest.kt
  android/player/src/test/java/com/intuit/playerui/android/renderer/NestedAssetTest.kt
  android/player/src/test/java/com/intuit/playerui/android/utils/BrokenAsset.kt
  android/player/src/test/java/com/intuit/playerui/android/utils/NestedAsset.kt
  android/player/src/test/java/com/intuit/playerui/android/utils/OtherSimpleAsset.kt
  android/player/src/test/java/com/intuit/playerui/android/utils/SimpleAsset.kt
  android/testutils/src/main/java/com/intuit/playerui/android/testutils/asset/Assertions.kt
  android/testutils/src/main/java/com/intuit/playerui/android/testutils/asset/AssetTest.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/info/Info.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/input/Input.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/text/Text.kt
Owners: @Brocollie08, @sugarmanz

fix tests
  android/player/src/test/java/com/intuit/playerui/android/renderer/BrokenAssetTest.kt
  android/player/src/test/java/com/intuit/playerui/android/renderer/NestedAssetTest.kt
  android/player/src/test/java/com/intuit/playerui/android/renderer/SimpleAssetTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/info/InfoTest.kt
Owners: @Brocollie08, @sugarmanz

lint
  android/player/src/main/java/com/intuit/playerui/android/asset/DecodableAsset.kt
  android/player/src/main/java/com/intuit/playerui/android/asset/RenderableAsset.kt
  android/player/src/main/java/com/intuit/playerui/android/asset/SuspendableAsset.kt
  android/player/src/main/java/com/intuit/playerui/android/compose/ComposableAsset.kt
  android/player/src/test/java/com/intuit/playerui/android/renderer/NestedAssetTest.kt
Owners: @Brocollie08, @sugarmanz

combine test prebuild and tests
  .circleci/config.yml
Owners: @adierkens, @Brocollie08, @KetanReddy, @spentacular

commenting out swiftlint tests for now
  .circleci/config.yml
Owners: @adierkens, @Brocollie08, @KetanReddy, @spentacular

Add analytics back to astro site
  docs/site/astro.config.mjs
Owners: @KetanReddy, @adierkens

add data access back to stay non-breaking
  android/player/src/main/java/com/intuit/playerui/android/asset/DecodableAsset.kt
Owners: @Brocollie08, @sugarmanz

[skip ci] Use read only key for forked builds
  .circleci/config.yml
Owners: @adierkens, @Brocollie08, @KetanReddy, @spentacular

warning level for now
  android/player/src/main/java/com/intuit/playerui/android/asset/SuspendableAsset.kt
Owners: @Brocollie08, @sugarmanz

fix info test
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/info/InfoTest.kt
Owners: @Brocollie08

some doc updates for custom android assets
  docs/site/src/content/docs/assets/custom.mdx
Owners: @KetanReddy, @adierkens

fix info test
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/info/InfoTest.kt
Owners: @Brocollie08

fix re-render tests
  android/player/src/main/java/com/intuit/playerui/android/asset/RenderableAsset.kt
  android/player/src/main/java/com/intuit/playerui/android/compose/ComposableAsset.kt
  android/testutils/src/main/java/com/intuit/playerui/android/testutils/asset/AssetTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/action/ActionTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/input/InputTest.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/action/Action.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/collection/Collection.kt
Owners: @Brocollie08, @sugarmanz

lint
  android/player/src/main/java/com/intuit/playerui/android/compose/ComposableAsset.kt
  android/testutils/src/main/java/com/intuit/playerui/android/testutils/asset/AssetTest.kt
Owners: @Brocollie08, @sugarmanz

backward compat for AsyncHydrationTrackerPlugin
  android/player/src/main/java/com/intuit/playerui/android/asset/SuspendableAsset.kt
Owners: @Brocollie08, @sugarmanz

Add plugin for shared flow-level expressions
  .bazelignore
  docs/site/src/content/docs/plugins/core/flow-expressions.mdx
  plugins/flow-expressions/core/BUILD
  plugins/flow-expressions/core/package.json
  plugins/flow-expressions/core/src/__tests__/index.test.ts
  plugins/flow-expressions/core/src/index.ts
  pnpm-lock.yaml
Owners: @adierkens, @Brocollie08, @KetanReddy, @spentacular

addressing PR feedback
  core/player/src/view/plugins/template.ts
  docs/site/src/content/docs/content/assets-views.mdx
Owners: @KetanReddy, @adierkens

update bazel
  .bazelversion
Owners: @adierkens, @Brocollie08, @KetanReddy, @spentacular

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @adierkens, @Brocollie08, @KetanReddy, @spentacular
