Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adierkens, @KetanReddy, @sugarmanz, @Brocollie08, @hborawski, @spentacular

Added note to input asset (#189)
  ios/packages/demo/Sources/MockFlows.swift
  ios/packages/reference-assets/Sources/SwiftUI/InfoAsset.swift
  ios/packages/reference-assets/Sources/SwiftUI/InputAsset.swift
  plugins/reference-assets/mocks/input/input-basic.json
Owners: @hborawski, @adierkens

[Issue 162] iOS: Add footer to info reference asset (#194)
  ios/packages/demo/Sources/MockFlows.swift
  ios/packages/reference-assets/Sources/SwiftUI/InfoAsset.swift
  ios/packages/reference-assets/ViewInspector/SwiftUI/InfoAssetTests.swift
  plugins/reference-assets/mocks/info/info-footer.json
Owners: @hborawski, @adierkens

add diagrams to content section
  docs/site/pages/content/index.mdx
  docs/site/pages/content/navigation.mdx
  docs/site/public/flow-state-machine.png
  docs/site/public/player-block-diagram.png
Owners: @KetanReddy, @adierkens

Use inline snapshots for markdown test
  plugins/markdown/core/src/__tests__/__snapshots__/index.test.ts.snap
  plugins/markdown/core/src/__tests__/index.test.ts
Owners: @adierkens

Basic image asset completed
  docs/storybook/src/reference-assets/Image.stories.mdx
  docs/storybook/src/reference-assets/flows.ts
  plugins/reference-assets/core/src/assets/image/transform.ts
  plugins/reference-assets/core/src/assets/image/types.ts
  plugins/reference-assets/mocks/image/image-with-accessibility.json
  plugins/reference-assets/mocks/image/image-with-caption.json
  plugins/reference-assets/mocks/image/image-with-placeholder.json
  plugins/reference-assets/react/src/assets/image/Image.tsx
Owners: @KetanReddy, @adierkens

Replaced image in storybook at added margin above caption for image asset
  docs/storybook/src/reference-assets/flows.ts
  ios/packages/demo/Sources/MockFlows.swift
  plugins/reference-assets/mocks/image/image-basic.json
  plugins/reference-assets/mocks/image/image-with-accessibility.json
  plugins/reference-assets/mocks/image/image-with-caption.json
  plugins/reference-assets/mocks/image/image-with-placeholder.json
  plugins/reference-assets/react/src/assets/image/Image.tsx
Owners: @KetanReddy, @adierkens, @hborawski

Removing mock flow for image from iOS
  ios/packages/demo/Sources/MockFlows.swift
Owners: @hborawski

Removing image from iOS mock flows (iOS component not implemented yet)
  ios/packages/demo/Sources/MockFlows.swift
Owners: @hborawski

Exported transform for image
  docs/storybook/src/reference-assets/flows.ts
  plugins/reference-assets/core/src/assets/image/index.ts
  plugins/reference-assets/core/src/assets/image/transform.ts
  plugins/reference-assets/core/src/assets/image/types.ts
  plugins/reference-assets/core/src/plugin.ts
  plugins/reference-assets/mocks/image/image-with-accessibility.json
  plugins/reference-assets/mocks/image/image-with-placeholder.json
  plugins/reference-assets/react/src/assets/image/Image.tsx
Owners: @KetanReddy, @adierkens

fix: fix error
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/input/InputTest.kt
  plugins/reference-assets/android/src/main/java/com/intuit/player/android/reference/assets/input/Input.kt
  plugins/reference-assets/android/src/main/res/layout/input.xml
Owners: @adierkens

harris changes
  plugins/reference-assets/components/src/index.tsx
  plugins/reference-assets/core/src/assets/choice/choices-entry/index.ts
  plugins/reference-assets/core/src/assets/choice/choices-entry/transform.ts
  plugins/reference-assets/core/src/assets/choice/choices-entry/types.ts
  plugins/reference-assets/core/src/assets/choice/transform.ts
  plugins/reference-assets/core/src/assets/choice/types.ts
Owners: @adierkens

Fixing lint errors
  plugins/reference-assets/core/src/assets/image/transform.ts
Owners: @adierkens

Fixing more lint errors
  plugins/reference-assets/core/src/plugin.ts
Owners: @adierkens

Added tests
  plugins/reference-assets/core/src/assets/image/__tests__/transform.test.ts
Owners: @adierkens

dsl and test fix?
  plugins/reference-assets/components/src/index.test.tsx
  plugins/reference-assets/components/src/index.tsx
Owners: @adierkens

fixed import
  plugins/reference-assets/components/src/index.test.tsx
  plugins/reference-assets/components/src/index.tsx
  plugins/reference-assets/core/src/assets/choice/choices-entry/index.ts
  plugins/reference-assets/core/src/assets/choice/choices-entry/types.ts
  plugins/reference-assets/core/src/assets/choice/types.ts
Owners: @adierkens

update docs
  CONTRIBUTING.md
  TROUBLESHOOTING.md
Owners: @adierkens

Android: add note to input ref asset (#192)
  android/demo/BUILD
  android/demo/scripts/androidinstall.sh
  jvm/j2v8/libs/BUILD
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/input/InputTest.kt
  plugins/reference-assets/android/src/main/java/com/intuit/player/android/reference/assets/input/Input.kt
  plugins/reference-assets/android/src/main/java/com/intuit/player/android/reference/assets/text/Text.kt
  plugins/reference-assets/android/src/main/res/layout/input.xml
  plugins/reference-assets/android/src/main/res/values/text.xml
Owners: @sugarmanz, @Brocollie08, @adierkens

redone from main, bazel sync was stuck
  android/demo/README.md
Owners: @sugarmanz, @Brocollie08

add user info to assetViewModel
  ios/packages/reference-assets/Sources/SwiftUI/InputAsset.swift
  ios/packages/swiftui/Sources/types/assets/ControlledAsset.swift
Owners: @hborawski

updated guides for new contributors and existing links
  CONTRIBUTING.md
  newCONTRIBUTORS.md
Owners: @adierkens

fix for iOS: Render label for collection reference asset
  ios/packages/reference-assets/Sources/SwiftUI/CollectionAsset.swift
Owners: @hborawski

address comments
  ios/packages/reference-assets/Sources/SwiftUI/InputAsset.swift
  ios/packages/swiftui/Sources/types/assets/ControlledAsset.swift
Owners: @hborawski

update tests
  ios/packages/reference-assets/ViewInspector/SwiftUI/InputAssetTests.swift
Owners: @hborawski

added mocks for external action and pubsub
  plugins/external-action/mocks/BUILD
  plugins/external-action/mocks/build.bzl
  plugins/external-action/mocks/external-action.json
  plugins/external-action/mocks/index.ts
  plugins/pubsub/mocks/BUILD
  plugins/pubsub/mocks/build.bzl
  plugins/pubsub/mocks/index.ts
  plugins/pubsub/mocks/pub-sub-basic.json
Owners: @adierkens

modified build
  plugins/external-action/mocks/BUILD
Owners: @adierkens

update doc
  docs/site/pages/assets/custom.mdx
Owners: @KetanReddy, @adierkens

pubsub build modified
  plugins/pubsub/mocks/BUILD
Owners: @adierkens

apply swift 6 warning fix to tests
  ios/packages/swiftui/Tests/ManagedPlayer/ManagedPlayerViewModelTests.swift
Owners: @hborawski

apply swift 6 warning fix to flaky iOS tests (#207)
  ios/packages/swiftui/Tests/ManagedPlayer/ManagedPlayerViewModelTests.swift
Owners: @hborawski

update Gemfile.lock
  Gemfile.lock
Owners: @adierkens

update Gemfile.lock (#208)
  Gemfile.lock
Owners: @adierkens

store cancellables in ManagedPlayerViewModelTests
  ios/packages/swiftui/Tests/ManagedPlayer/ManagedPlayerViewModelTests.swift
Owners: @hborawski

fix action and text tests
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/action/ActionTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/text/TextTest.kt
Owners: @adierkens

update FSM diagram data types
  docs/site/public/flow-state-machine.png
Owners: @KetanReddy, @adierkens

updated pubsub flow
  plugins/pubsub/mocks/pub-sub-basic.json
Owners: @adierkens

modified example
  newCONTRIBUTORS.md
Owners: @adierkens

apply swift 6 warning fix to flaky iOS tests (#207)
  ios/packages/swiftui/Tests/ManagedPlayer/ManagedPlayerViewModelTests.swift
Owners: @hborawski

update Gemfile.lock (#208)
  Gemfile.lock
Owners: @adierkens

add user info to assetViewModel
  ios/packages/reference-assets/Sources/SwiftUI/InputAsset.swift
  ios/packages/swiftui/Sources/types/assets/ControlledAsset.swift
Owners: @hborawski

.github/CODEOWNERS:

# Fallback
* @adierkens

# Other
/docs/ @KetanReddy @adierkens

# Android/JVM

/jvm/ @sugarmanz @Brocollie08
/android/ @sugarmanz @Brocollie08

# iOS
/xcode/ @hborawski
/ios/ @hborawski

# Web
/react/ @spentacular @adierkens
/tools/storybook/ @adierkens

# Core
/core/ @KetanReddy @adierkens
