Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adierkens, @KetanReddy, @sugarmanz, @Brocollie08, @hborawski, @spentacular

address comments
  ios/packages/reference-assets/Sources/SwiftUI/InputAsset.swift
  ios/packages/swiftui/Sources/types/assets/ControlledAsset.swift
Owners: @hborawski

update tests
  ios/packages/reference-assets/ViewInspector/SwiftUI/InputAssetTests.swift
Owners: @hborawski

update doc
  docs/site/pages/assets/custom.mdx
Owners: @KetanReddy, @adierkens

update import orders
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/action/ActionTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/text/TextTest.kt
  plugins/reference-assets/android/src/main/java/com/intuit/player/android/reference/assets/collection/Collection.kt
Owners: @adierkens

link flows from plugins to ios mockflows
  ios/packages/demo/Sources/MockFlows.swift
  ios/packages/demo/scripts/generateFlowSections.js
Owners: @hborawski

updated babel message
  android/demo/README.md
Owners: @sugarmanz, @Brocollie08

done trim flow name if flow name is equal to section
  ios/packages/demo/Sources/MockFlows.swift
  ios/packages/demo/scripts/generateFlowSections.js
Owners: @hborawski

store cancellables in ManagedPlayerViewModelTests (#210)
  ios/packages/swiftui/Tests/ManagedPlayer/ManagedPlayerViewModelTests.swift
Owners: @hborawski

iOS: remove strong self references in plugins
  ios/plugins/BaseBeaconPlugin/Sources/BaseBeaconPlugin.swift
  ios/plugins/BeaconPlugin/Sources/SwiftUIBeaconPlugin.swift
  ios/plugins/ExpressionPlugin/Sources/ExpressionPlugin.swift
  ios/plugins/ExternalActionPlugin/Sources/ExternalActionPlugin.swift
  ios/plugins/ExternalActionViewModifierPlugin/Sources/ExternalActionViewModifierPlugin.swift
  ios/plugins/MetricsPlugin/Sources/MetricsPlugin.swift
  ios/plugins/SwiftUICheckPathPlugin/Sources/SwiftUICheckPathPlugin.swift
Owners: @hborawski

update pod push flag for more output
  scripts/after-shipit-pod-push.js
Owners: @adierkens

link shared plugin mocks for iOS
  ios/packages/demo/Sources/MockFlows.swift
  ios/packages/demo/scripts/generateFlowSections.js
Owners: @hborawski

merge trunk and fork workflows
  .circleci/config.yml
Owners: @adierkens

reference correct test
  .circleci/config.yml
Owners: @adierkens

hyphen
  .circleci/config.yml
Owners: @adierkens

add plugin examples and managed player to demo app
  ios/packages/demo/Sources/AppDelegate.swift
  ios/packages/demo/Sources/MockFlows.swift
  ios/packages/demo/scripts/generateFlowSections.js
  ios/packages/swiftui/Sources/ManagedPlayer/ManagedPlayer.swift
  ios/packages/test-utils/Sources/ui-test/AssetAndPluginCollection.swift
  ios/packages/test-utils/Sources/ui-test/AssetUITestCase.swift
  ios/packages/test-utils/Sources/ui-test/FlowManagerView.swift
  ios/packages/test-utils/Sources/ui-test/MockFlowManager.swift
  ios/packages/test-utils/Sources/ui-test/String + Extensions.swift
  xcode/Podfile.lock
Owners: @hborawski

separate deps for trunk and fork jobs
  .circleci/config.yml
Owners: @adierkens

add names to jobs called twice
  .circleci/config.yml
Owners: @adierkens

filters on jobs called twice
  .circleci/config.yml
Owners: @adierkens

re-order params
  .circleci/config.yml
Owners: @adierkens

fix config.yml
  .circleci/config.yml
Owners: @adierkens

Singular workflow for CI (#214)
  .circleci/config.yml
Owners: @adierkens

Return a readonly instance of the DataController on Player end state
  core/player/src/controllers/data/controller.ts
  core/player/src/controllers/data/index.ts
  core/player/src/controllers/data/utils.ts
  core/player/src/controllers/index.ts
  core/player/src/controllers/view/controller.ts
  core/player/src/player.ts
  core/player/src/types.ts
Owners: @KetanReddy, @adierkens

renamed folder structure for plugin mocks
  plugins/beacon/mocks/beacon/beacon-action.json
  plugins/external-action/mocks/external-action/external-action.json
  plugins/pubsub/mocks/pubsub/pub-sub-basic.json
Owners: @adierkens

Singular workflow for CI (#214)
  .circleci/config.yml
Owners: @adierkens

store cancellables in ManagedPlayerViewModelTests (#210)
  ios/packages/swiftui/Tests/ManagedPlayer/ManagedPlayerViewModelTests.swift
Owners: @hborawski

use playerloader to keep track of beacons and pubsub events
  ios/packages/demo/Sources/AppDelegate.swift
  ios/packages/demo/Sources/MockFlows.swift
  ios/packages/reference-assets/UITests/ActionAssetUITests.swift
  ios/packages/reference-assets/UITests/BeaconPluginUITest.swift
  ios/packages/test-utils/Sources/ui-test/AssetAndPluginCollection.swift
  ios/packages/test-utils/Sources/ui-test/String + Extensions.swift
Owners: @hborawski

Add tests for ReadOnlyDataController
  core/player/src/__tests__/data.test.ts
Owners: @KetanReddy, @adierkens

lint
  core/player/src/__tests__/data.test.ts
Owners: @KetanReddy, @adierkens

re add navigationBarTitle
  ios/packages/test-utils/Sources/ui-test/AssetAndPluginCollection.swift
Owners: @hborawski

move managed player flows to shared reference asset mocks
  docs/storybook/src/flows/managed.ts
  plugins/reference-assets/mocks/flow-manager/asset-error-flow.json
  plugins/reference-assets/mocks/flow-manager/error-flow.json
  plugins/reference-assets/mocks/flow-manager/first-flow.json
  plugins/reference-assets/mocks/flow-manager/second-flow.json
Owners: @KetanReddy, @adierkens

iOS: remove strong self references in plugins (#209)
  ios/plugins/BaseBeaconPlugin/Sources/BaseBeaconPlugin.swift
  ios/plugins/BeaconPlugin/Sources/SwiftUIBeaconPlugin.swift
  ios/plugins/ExpressionPlugin/Sources/ExpressionPlugin.swift
  ios/plugins/ExternalActionPlugin/Sources/ExternalActionPlugin.swift
  ios/plugins/ExternalActionViewModifierPlugin/Sources/ExternalActionViewModifierPlugin.swift
  ios/plugins/MetricsPlugin/Sources/MetricsPlugin.swift
  ios/plugins/SwiftUICheckPathPlugin/Sources/SwiftUICheckPathPlugin.swift
  scripts/after-shipit-pod-push.js
Owners: @hborawski, @adierkens

WIP, plugin demo app
  android/demo/deps.bzl
  index.bzl
  plugins/beacon/mocks/beacon/beacon-action.json
  plugins/external-action/mocks/BUILD
  plugins/external-action/mocks/build.bzl
  plugins/mocks/BUILD
  plugins/pubsub/mocks/BUILD
  plugins/pubsub/mocks/build.bzl
  plugins/pubsub/mocks/pubsub/pub-sub-basic.json
  plugins/reference-assets/mocks/BUILD
  plugins/reference-assets/mocks/build.bzl
Owners: @sugarmanz, @Brocollie08, @adierkens

generate manifest for mocks
  index.bzl
  plugins/external-action/mocks/BUILD
  plugins/mocks/BUILD
  plugins/pubsub/mocks/BUILD
  plugins/reference-assets/mocks/BUILD
Owners: @adierkens

fix iOS release, and fix script to show output properly
  BUILD.bazel
  scripts/after-shipit-pod-push.js
Owners: @adierkens

fix iOS release, and fix script to show output properly (#218)
  BUILD.bazel
  scripts/after-shipit-pod-push.js
Owners: @adierkens

fixed typo in build file
  plugins/external-action/mocks/BUILD
Owners: @adierkens

modified mocks reader
  jvm/utils/src/main/kotlin/com/intuit/player/jvm/utils/mocks/ClassLoaderMocksReader.kt
Owners: @sugarmanz, @Brocollie08

change assetcollection back, move logic to SegmentControlView
  ios/packages/demo/Sources/AppDelegate.swift
  ios/packages/demo/Sources/MockFlows.swift
  ios/packages/test-utils/Sources/ui-test/AssetCollection.swift
  ios/packages/test-utils/Sources/ui-test/SegmentControlView.swift
Owners: @hborawski

updated test dependencies
  jvm/core/deps.bzl
Owners: @sugarmanz, @Brocollie08

Core: decouple Back Button
  plugins/reference-assets/core/src/assets/action/transform.ts
  plugins/reference-assets/core/src/assets/action/types.ts
  plugins/reference-assets/react/src/assets/action/Action.tsx
Owners: @adierkens

.github/CODEOWNERS:

# Fallback
* @adierkens

# Other
/docs/ @KetanReddy @adierkens

# Android/JVM

/jvm/ @sugarmanz @Brocollie08
/android/ @sugarmanz @Brocollie08

# iOS
/xcode/ @hborawski
/ios/ @hborawski

# Web
/react/ @spentacular @adierkens
/tools/storybook/ @adierkens

# Core
/core/ @KetanReddy @adierkens
