Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adierkens, @KetanReddy, @sugarmanz, @Brocollie08, @hborawski, @spentacular

.github/CODEOWNERS:

# Fallback
* @adierkens

# Other
/docs/ @KetanReddy @adierkens

# Android/JVM

/jvm/ @sugarmanz @Brocollie08
/android/ @sugarmanz @Brocollie08

# iOS
/xcode/ @hborawski
/ios/ @hborawski

# Web
/react/ @spentacular @adierkens
/tools/storybook/ @adierkens

# Core
/core/ @KetanReddy @adierkens

fixed bundle name
  newios/BUILD.bazel
  newios/Sources/core/CorePlugins/JSBasePlugin.swift
Owners: @adierkens

clean up workspace and use released player rules for kotlin upgrade
  WORKSPACE
  jvm/BUILD
Owners: @adierkens, @sugarmanz, @Brocollie08

format and comment androidtest python script
  android/demo/scripts/androidtest.sh
Owners: @sugarmanz, @Brocollie08

swiftui building
  ios/core/BUILD.bazel
  ios/core/Sources/Types/Assets/BaseAssetRegistry.swift
  ios/swiftui/BUILD.bazel
  ios/swiftui/Sources/ManagedPlayer/ConstantFlowManager.swift
  ios/swiftui/Sources/ManagedPlayer/FlowManager.swift
  ios/swiftui/Sources/ManagedPlayer/ManagedPlayer.swift
  ios/swiftui/Sources/ManagedPlayer/ManagedPlayerViewModel.swift
  ios/swiftui/Sources/ManagedPlayer/ScrollPlugin.swift
  ios/swiftui/Sources/ManagedPlayer/ScrollToProxy.swift
  ios/swiftui/Sources/SwiftUIPlayer.swift
  ios/swiftui/Sources/SwiftUIRegistry.swift
  ios/swiftui/Sources/extensions/SwiftUI+Decoder+Extensions.swift
  ios/swiftui/Sources/types/WrappedFunction.swift
  ios/swiftui/Sources/types/assets/ControlledAsset.swift
  ios/swiftui/Sources/types/assets/SwiftUIAsset.swift
  ios/swiftui/Sources/types/assets/WrappedAsset.swift
  ios/swiftui/Tests/ManagedPlayer/ManagedPlayerViewModelTests.swift
  ios/swiftui/Tests/SwiftUIRegistryTests.swift
  ios/swiftui/Tests/extensions/DecoderExtensionsTests.swift
  ios/swiftui/Tests/reference-assets/SwiftUIChoiceAsset.swift
  ios/swiftui/Tests/types/WrappedFunctionTests.swift
  ios/swiftui/Tests/types/assets/ControlledAssetTests.swift
  ios/swiftui/Tests/types/assets/SwiftUIAssetTests.swift
  ios/swiftui/ViewInspector/ManagedPlayer/ManagedPlayerTests.swift
  ios/swiftui/ViewInspector/SwiftUIPlayerTests.swift
Owners: @hborawski

viewinspector dependency resolved, tests need reference assets
  MODULE.bazel
  ios/swiftui/BUILD.bazel
  ios/swiftui/ViewInspector/ManagedPlayer/ManagedPlayerTests.swift
  ios/swiftui/ViewInspector/SwiftUIPlayerTests.swift
Owners: @adierkens, @hborawski

add pending transaction ios plugin
  plugins/pending-transaction/ios/BUILD.bazel
  plugins/pending-transaction/ios/Sources/SwiftUIPendingTransactionPlugin.swift
  plugins/pending-transaction/ios/ViewInspector/SwiftUIPendingTransactionPlugin.swift
  plugins/reference-assets/ios/BUILD.bazel
  plugins/reference-assets/ios/Sources/SwiftUI/ActionAsset.swift
  plugins/reference-assets/ios/Sources/SwiftUI/InputAsset.swift
Owners: @adierkens

add base beacon plugin
  plugins/beacon/ios/BUILD.bazel
  plugins/beacon/ios/Resources/beacon-plugin.prod.js
  plugins/beacon/ios/Sources/BaseBeaconPlugin.swift
  plugins/beacon/ios/Tests/BaseBeaconPluginTests.swift
Owners: @adierkens

remove xcode project
  ios/Player.xcodeproj/xcshareddata/xcschemes/PlayerUIBaseBeaconPlugin.xcscheme
  ios/Player.xcodeproj/xcshareddata/xcschemes/PlayerUIBaseBeaconPluginTests (Library).xcscheme
  ios/Player.xcodeproj/xcshareddata/xcschemes/PlayerUIBaseBeaconPluginTests (Unit Tests).xcscheme
  ios/Player.xcodeproj/xcshareddata/xcschemes/PlayerUIBeaconPlugin.xcscheme
  ios/Player.xcodeproj/xcshareddata/xcschemes/PlayerUIBeaconPluginViewInspectorTests (Library).xcscheme
  ios/Player.xcodeproj/xcshareddata/xcschemes/PlayerUIBeaconPluginViewInspectorTests (UI Tests).xcscheme
  ios/Player.xcodeproj/xcshareddata/xcschemes/PlayerUISwiftUIPendingTransactionPlugin.xcscheme
  ios/Player.xcodeproj/xcshareddata/xcschemes/PlayerUISwiftUIPendingTransactionPluginViewInspectorTests (Library).xcscheme
  ios/Player.xcodeproj/xcshareddata/xcschemes/PlayerUISwiftUIPendingTransactionPluginViewInspectorTests (UI Tests).xcscheme
Owners: @hborawski

ignore xcodeproj
  .gitignore
Owners: @adierkens

pr comments
  WORKSPACE
  jvm/dependencies/versions.bzl
Owners: @adierkens, @sugarmanz, @Brocollie08

generate resource Bundle.module shims
  ios/core/BUILD.bazel
  ios/core/Sources/CorePlugins/JSBasePlugin.swift
  plugins/beacon/ios/BUILD.bazel
  plugins/beacon/ios/Sources/BaseBeaconPlugin.swift
  tools/ios/BUILD.bazel
  tools/ios/ResourceShimTemplate.swift
  tools/ios/util.bzl
Owners: @hborawski, @adierkens

check path ios
  plugins/check-path/ios/BUILD.bazel
  plugins/check-path/ios/Resources/check-path-plugin.prod.js
  plugins/check-path/ios/Sources/CheckPathPlugin.swift
  plugins/check-path/ios/Tests/CheckPathPluginTests.swift
Owners: @adierkens

swiftui check-path
  plugins/check-path/swiftui/BUILD.bazel
  plugins/check-path/swiftui/Sources/SwiftUICheckPathPlugin.swift
  plugins/check-path/swiftui/ViewInspector/SwiftUICheckPathPluginTests.swift
Owners: @adierkens

common-expressions ios
  plugins/common-expressions/ios/BUILD.bazel
  plugins/common-expressions/ios/Resources/common-expressions-plugin.prod.js
  plugins/common-expressions/ios/Sources/CommonExpressionsPlugin.swift
  plugins/common-expressions/ios/Tests/CommonExpressionsPluginTests.swift
Owners: @adierkens

common-types ios
  plugins/common-types/ios/BUILD.bazel
  plugins/common-types/ios/Resources/common-types-plugin.prod.js
  plugins/common-types/ios/Sources/CommonTypesPlugin.swift
  plugins/common-types/ios/Tests/CommonTypesPluginTests.swift
Owners: @adierkens

computed-properties ios
  plugins/computed-properties/ios/BUILD.bazel
  plugins/computed-properties/ios/Resources/computed-properties-plugin.prod.js
  plugins/computed-properties/ios/Sources/ComputedPropertiesPlugin.swift
  plugins/computed-properties/ios/Tests/ComputedPropertiesPluginTests.swift
Owners: @adierkens

expression plugin ios
  plugins/expression/ios/BUILD.bazel
  plugins/expression/ios/Resources/expression-plugin.prod.js
  plugins/expression/ios/Sources/ExpressionPlugin.swift
  plugins/expression/ios/Tests/ExpressionPluginTests.swift
Owners: @adierkens

external action ios
  ios/core/Sources/Types/Core/CompletedState.swift
  ios/core/Sources/Types/Core/NavigationStates.swift
  ios/core/Sources/utilities/ErrorUtilites.swift
  plugins/external-action/ios/BUILD.bazel
  plugins/external-action/ios/Resources/external-action-plugin.prod.js
  plugins/external-action/ios/Sources/ExternalActionPlugin.swift
  plugins/external-action/ios/Tests/ExternalActionPluginTests.swift
Owners: @hborawski, @adierkens

swiftui external action
  plugins/external-action/ios/Sources/ExternalActionPlugin.swift
  plugins/external-action/swiftui/BUILD.bazel
  plugins/external-action/swiftui/Sources/ExternalActionViewModifierPlugin.swift
  plugins/external-action/swiftui/ViewInspector/ExternalActionViewModifierPluginTests.swift
Owners: @adierkens

metrics plugin swiftui
  plugins/metrics/swiftui/BUILD.bazel
  plugins/metrics/swiftui/Resources/metrics-plugin.prod.js
  plugins/metrics/swiftui/Sources/MetricsPlugin.swift
  plugins/metrics/swiftui/ViewInspector/MetricsPluginTests.swift
Owners: @adierkens

fix bundle access
  plugins/metrics/swiftui/Sources/MetricsPlugin.swift
Owners: @adierkens

pubsub ios
  plugins/pubsub/ios/BUILD.bazel
  plugins/pubsub/ios/Resources/pubsub-plugin.prod.js
  plugins/pubsub/ios/Sources/PubSubPlugin.swift
  plugins/pubsub/ios/Tests/PubSubPluginTests.swift
Owners: @adierkens

stage-revert-data ios
  plugins/stage-revert-data/ios/BUILD.bazel
  plugins/stage-revert-data/ios/Resources/stage-revert-data-plugin.prod.js
  plugins/stage-revert-data/ios/Sources/StageRevertDataPlugin.swift
  plugins/stage-revert-data/ios/Tests/StageRevertDataPluginTests.swift
Owners: @adierkens

types-provider ios
  plugins/types-provider/ios/BUILD.bazel
  plugins/types-provider/ios/Resources/types-provider-plugin.prod.js
  plugins/types-provider/ios/Sources/Types/CustomType.swift
  plugins/types-provider/ios/Sources/Types/FormatDeclaration.swift
  plugins/types-provider/ios/Sources/Types/FormatReference.swift
  plugins/types-provider/ios/Sources/Types/ValidationDeclaration.swift
  plugins/types-provider/ios/Sources/Types/ValidationReference.swift
  plugins/types-provider/ios/Sources/TypesProviderPlugin.swift
  plugins/types-provider/ios/Tests/TypesProviderPluginTests.swift
Owners: @adierkens

move print logger ios to console-logger package
  plugins/console-logger/ios/BUILD.bazel
  plugins/console-logger/ios/Sources/PrintLoggerPlugin.swift
  plugins/console-logger/ios/Tests/PrintLoggerPluginTests.swift
Owners: @adierkens

test utilities core
  ios/test-utils-core/BUILD.bazel
  ios/test-utils-core/Resources/make-flow.prod.js
  ios/test-utils-core/Sources/AssetTestHelper.swift
  ios/test-utils-core/Sources/TestPlayer.swift
  ios/test-utils-core/Tests/AssetTestHelperTests.swift
Owners: @hborawski

ios test-utils that rely on XCTest
  ios/test-utils/BUILD.bazel
  ios/test-utils/Sources/ui-test/AssetCollection.swift
  ios/test-utils/Sources/ui-test/AssetFlowView.swift
  ios/test-utils/Sources/ui-test/AssetUITestCase.swift
  ios/test-utils/Sources/unit-test/SwiftUIAssetUnitTestCase.swift
  ios/test-utils/Tests/unit-test/AssetUnitTestCaseTests.swift
  ios/test-utils/ViewInspector/ui-test/AssetFlowViewTests.swift
  ios/test-utils/ViewInspector/ui-test/mocks/action/action-basic.json
  ios/test-utils/ViewInspector/ui-test/mocks/action/transition/action-transition-to-end.json
  ios/test-utils/ViewInspector/unit-test/SwiftUIAssetUnitTestCaseTests.swift
Owners: @hborawski

viewinspector tests running for ref assets
  plugins/reference-assets/swiftui/BUILD.bazel
  plugins/reference-assets/swiftui/ViewInspector/ReferenceAssetsPluginTests.swift
  plugins/reference-assets/swiftui/ViewInspector/SwiftUI/ActionAssetTests.swift
  plugins/reference-assets/swiftui/ViewInspector/SwiftUI/CollectionAssetTests.swift
  plugins/reference-assets/swiftui/ViewInspector/SwiftUI/InfoAssetTests.swift
  plugins/reference-assets/swiftui/ViewInspector/SwiftUI/InputAssetTests.swift
  plugins/reference-assets/swiftui/ViewInspector/SwiftUI/TextAssetTests.swift
  plugins/reference-assets/swiftui/ViewInspector/Utilities/ValidationTests.swift
Owners: @adierkens

update xcodeproj generation
  ios/BUILD.bazel
Owners: @hborawski

update demo with more plugins
  ios/demo/BUILD.bazel
  ios/demo/Sources/App.swift
Owners: @hborawski

move transition plugin for ios
  ios/BUILD.bazel
  ios/demo/BUILD.bazel
  ios/demo/Sources/App.swift
  ios/swiftui/Sources/ManagedPlayer/ManagedPlayerViewModel.swift
  plugins/transition/swiftui/BUILD.bazel
  plugins/transition/swiftui/Sources/TransitionPlugin.swift
  plugins/transition/swiftui/ViewInspector/TransitionPluginTests.swift
Owners: @hborawski, @adierkens

plugins all moved out of ios directory
  ios/plugins/BaseBeaconPlugin/Sources/BaseBeaconPlugin.swift
  ios/plugins/BaseBeaconPlugin/Tests/BaseBeaconPluginTests.swift
  ios/plugins/BeaconPlugin/Sources/SwiftUIBeaconPlugin.swift
  ios/plugins/BeaconPlugin/ViewInspector/BeaconPluginTests.swift
  ios/plugins/CheckPathPlugin/Sources/CheckPathPlugin.swift
  ios/plugins/CheckPathPlugin/Tests/CheckPathPluginTests.swift
  ios/plugins/CommonExpressionsPlugin/Sources/CommonExpressionsPlugin.swift
  ios/plugins/CommonExpressionsPlugin/Tests/CommonExpressionsPluginTests.swift
  ios/plugins/CommonTypesPlugin/Sources/CommonTypesPlugin.swift
  ios/plugins/CommonTypesPlugin/Tests/CommonTypesPluginTests.swift
  ios/plugins/ComputedPropertiesPlugin/Sources/ComputedPropertiesPlugin.swift
  ios/plugins/ComputedPropertiesPlugin/Tests/ComputedPropertiesPluginTests.swift
  ios/plugins/ExpressionPlugin/Sources/ExpressionPlugin.swift
  ios/plugins/ExpressionPlugin/Tests/ExpressionPluginTests.swift
  ios/plugins/ExternalActionPlugin/Sources/ExternalActionPlugin.swift
  ios/plugins/ExternalActionPlugin/Tests/ExternalActionPluginTests.swift
  ios/plugins/ExternalActionViewModifierPlugin/Sources/ExternalActionViewModifierPlugin.swift
  ios/plugins/ExternalActionViewModifierPlugin/ViewInspector/ExternalActionViewModifierPluginTests.swift
  ios/plugins/MetricsPlugin/Sources/MetricsPlugin.swift
  ios/plugins/MetricsPlugin/ViewInspector/MetricsPluginTests.swift
  ios/plugins/PrintLoggerPlugin/Sources/PrintLoggerPlugin.swift
  ios/plugins/PubSubPlugin/Sources/PubSubPlugin.swift
  ios/plugins/PubSubPlugin/Tests/PubSubPluginTests.swift
  ios/plugins/StageRevertDataPlugin/Sources/StageRevertDataPlugin.swift
  ios/plugins/StageRevertDataPlugin/Tests/StageRevertDataPluginTests.swift
  ios/plugins/SwiftUICheckPathPlugin/Sources/SwiftUICheckPathPlugin.swift
  ios/plugins/SwiftUICheckPathPlugin/ViewInspector/SwiftUICheckPathPluginTests.swift
  ios/plugins/SwiftUIPendingTransactionPlugin/Sources/SwiftUIPendingTransactionPlugin.swift
  ios/plugins/SwiftUIPendingTransactionPlugin/ViewInspector/SwiftUIPendingTransactionPlugin.swift
  ios/plugins/TransitionPlugin/Sources/TransitionPlugin.swift
  ios/plugins/TransitionPlugin/ViewInspector/TransitionPluginTests.swift
  ios/plugins/TypesProviderPlugin/Sources/Types/CustomType.swift
  ios/plugins/TypesProviderPlugin/Sources/Types/FormatDeclaration.swift
  ios/plugins/TypesProviderPlugin/Sources/Types/FormatReference.swift
  ios/plugins/TypesProviderPlugin/Sources/Types/ValidationDeclaration.swift
  ios/plugins/TypesProviderPlugin/Sources/Types/ValidationReference.swift
  ios/plugins/TypesProviderPlugin/Sources/TypesProviderPlugin.swift
  ios/plugins/TypesProviderPlugin/Tests/TypesProviderPluginTests.swift
Owners: @hborawski

Bump version to: v0.5.0 [skip ci]
  VERSION
Owners: @adierkens

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @adierkens

pull in latest demo app files from main
  ios/demo/BUILD.bazel
  ios/demo/Sources/App.swift
  ios/demo/Sources/FlowManagerView.swift
  ios/demo/Sources/MockFlows.swift
  ios/demo/Sources/PluginsAndPlayerCollection.swift
  ios/demo/Sources/SegmentControlView.swift
  ios/demo/Sources/String+Extensions.swift
  ios/test-utils-core/BUILD.bazel
  ios/test-utils-core/Sources/utilities/AssetTestHelper.swift
  ios/test-utils-core/Sources/utilities/TestPlayer.swift
  ios/test-utils-core/Sources/utilities/ui-test/AssetCollection.swift
  ios/test-utils-core/Sources/utilities/ui-test/AssetFlowView.swift
  ios/test-utils/BUILD.bazel
Owners: @hborawski

uitests run but demo app need flow finished alert
  MODULE.bazel
  ios/test-utils-core/Sources/ui-test/AssetCollection.swift
  ios/test-utils-core/Sources/ui-test/AssetFlowView.swift
  ios/test-utils-core/Sources/utilities/ui-test/AssetFlowView.swift
  plugins/reference-assets/swiftui/BUILD.bazel
  plugins/reference-assets/swiftui/UITests/BaseTestCase.swift
Owners: @adierkens, @hborawski

Generate bundles for native
  .prettierrc
  tsup.config.ts
Owners: @adierkens

Split native bundles into separate target
  MODULE.bazel
  core/make-flow/BUILD
  core/make-flow/package.json
  core/partial-match-registry/BUILD
  core/partial-match-registry/package.json
  core/player/BUILD
  core/player/package.json
  plugins/beacon/core/BUILD
  plugins/beacon/core/package.json
  plugins/check-path/core/BUILD
  plugins/check-path/core/package.json
  plugins/common-expressions/core/BUILD
  plugins/common-expressions/core/package.json
  plugins/common-types/core/BUILD
  plugins/common-types/core/package.json
  plugins/computed-properties/core/BUILD
  plugins/computed-properties/core/package.json
  plugins/expression/core/BUILD
  plugins/expression/core/package.json
  plugins/external-action/core/BUILD
  plugins/external-action/core/package.json
  plugins/markdown/core/BUILD
  plugins/markdown/core/package.json
  plugins/metrics/core/BUILD
  plugins/metrics/core/package.json
  plugins/partial-match-fingerprint/core/BUILD
  plugins/partial-match-fingerprint/core/package.json
  plugins/pubsub/core/BUILD
  plugins/pubsub/core/package.json
  plugins/reference-assets/core/BUILD
  plugins/reference-assets/core/package.json
  plugins/stage-revert-data/core/BUILD
  plugins/stage-revert-data/core/package.json
  plugins/types-provider/core/BUILD
  plugins/types-provider/core/package.json
  tsup.config.ts
Owners: @adierkens, @KetanReddy

Split native bundles into separate target (#255)
  MODULE.bazel
  core/make-flow/BUILD
  core/make-flow/package.json
  core/partial-match-registry/BUILD
  core/partial-match-registry/package.json
  core/player/BUILD
  core/player/package.json
  plugins/beacon/core/BUILD
  plugins/beacon/core/package.json
  plugins/check-path/core/BUILD
  plugins/check-path/core/package.json
  plugins/common-expressions/core/BUILD
  plugins/common-expressions/core/package.json
  plugins/common-types/core/BUILD
  plugins/common-types/core/package.json
  plugins/computed-properties/core/BUILD
  plugins/computed-properties/core/package.json
  plugins/expression/core/BUILD
  plugins/expression/core/package.json
  plugins/external-action/core/BUILD
  plugins/external-action/core/package.json
  plugins/markdown/core/BUILD
  plugins/markdown/core/package.json
  plugins/metrics/core/BUILD
  plugins/metrics/core/package.json
  plugins/partial-match-fingerprint/core/BUILD
  plugins/partial-match-fingerprint/core/package.json
  plugins/pubsub/core/BUILD
  plugins/pubsub/core/package.json
  plugins/reference-assets/core/BUILD
  plugins/reference-assets/core/package.json
  plugins/stage-revert-data/core/BUILD
  plugins/stage-revert-data/core/package.json
  plugins/types-provider/core/BUILD
  plugins/types-provider/core/package.json
  tsup.config.ts
Owners: @adierkens, @KetanReddy

wip using resource bundles from bazel targets not working
  MODULE.bazel
  plugins/beacon/ios/BUILD.bazel
  plugins/beacon/ios/Resources/BeaconPlugin.native.js
  plugins/beacon/ios/Sources/BaseBeaconPlugin.swift
  plugins/beacon/ios/Tests/BaseBeaconPluginTests.swift
  plugins/beacon/swiftui/Sources/SwiftUIBeaconPlugin.swift
Owners: @adierkens
