Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adierkens, @hborawski, @KetanReddy, @sugarmanz, @Brocollie08, @nancywu1, @spentacular

.github/CODEOWNERS:

# Fallback
* @adierkens @hborawski @KetanReddy

# Other
/docs/ @KetanReddy @adierkens

# Android/JVM

/jvm/ @sugarmanz @Brocollie08
/android/ @sugarmanz @Brocollie08

# iOS
/xcode/ @hborawski @nancywu1 
/ios/ @hborawski @nancywu1

# Web
/react/ @spentacular @adierkens
/tools/storybook/ @adierkens

# Core
/core/ @KetanReddy @adierkens

Bump version to: 0.10.3 [skip ci]
  VERSION
Owners: @adierkens, @hborawski, @KetanReddy

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @adierkens, @hborawski, @KetanReddy

Exposed onFlowBegin, onFlowEnd, and onRenderEnd hooks for Android MetricsPlugin
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/hooks/NodeSyncHook.kt
  plugins/metrics/jvm/src/main/kotlin/com/intuit/playerui/plugins/metrics/Metrics.kt
  plugins/metrics/jvm/src/main/kotlin/com/intuit/playerui/plugins/metrics/MetricsPlugin.kt
  plugins/metrics/jvm/src/test/kotlin/com/intuit/playerui/plugins/metrics/MetricsPluginTest.kt
Owners: @sugarmanz, @Brocollie08, @adierkens, @hborawski, @KetanReddy

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @adierkens, @hborawski, @KetanReddy

Switched to JSON deserialization
  jvm/core/src/main/kotlin/com/intuit/playerui/core/flow/Flow.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/state/PlayerFlowState.kt
  jvm/core/src/test/kotlin/com/intuit/playerui/core/player/state/CompletedStateTest.kt
  jvm/core/src/test/kotlin/com/intuit/playerui/core/player/state/ErrorStateTest.kt
  jvm/core/src/test/kotlin/com/intuit/playerui/core/player/state/InProgressStateTest.kt
Owners: @sugarmanz, @Brocollie08

Changed JsonElement types to Node
  jvm/core/src/main/kotlin/com/intuit/playerui/core/flow/Flow.kt
  jvm/core/src/test/kotlin/com/intuit/playerui/core/player/HeadlessPlayerTest.kt
Owners: @sugarmanz, @Brocollie08

Convert Flow to NodeWrapper
  jvm/core/src/main/kotlin/com/intuit/playerui/core/flow/Flow.kt
Owners: @sugarmanz, @Brocollie08

Flow moving towards using node constructor, create test util flow data class for test purposes only
  jvm/core/src/test/kotlin/com/intuit/playerui/core/player/HeadlessPlayerTest.kt
  jvm/testutils/src/main/kotlin/com/intuit/playerui/utils/test/TestMocks.kt
Owners: @sugarmanz, @Brocollie08

map backing flow
  jvm/core/src/main/kotlin/com/intuit/playerui/core/flow/Flow.kt
Owners: @sugarmanz, @Brocollie08

Flow is now using existing map backed node
  android/player/src/androidTest/java/com/intuit/playerui/android/AssetContextAndroidTest.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/Node.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/flow/Flow.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/state/PlayerFlowState.kt
  jvm/core/src/test/kotlin/com/intuit/playerui/core/player/HeadlessPlayerTest.kt
  jvm/core/src/test/kotlin/com/intuit/playerui/core/player/state/CompletedStateTest.kt
  jvm/core/src/test/kotlin/com/intuit/playerui/core/player/state/ErrorStateTest.kt
  jvm/core/src/test/kotlin/com/intuit/playerui/core/player/state/InProgressStateTest.kt
  jvm/testutils/src/main/kotlin/com/intuit/playerui/testutils/Node.kt
Owners: @sugarmanz, @Brocollie08

DSL mock
  core/player/src/view/resolver/index.ts
  docs/storybook/src/reference-assets/ChatMessage.stories.tsx
  plugins/async-node/core/src/__tests__/__snapshots__/transform.test.ts.snap
  plugins/async-node/core/src/__tests__/index.test.ts
  plugins/async-node/core/src/__tests__/transform.test.ts
  plugins/async-node/core/src/transform.ts
  plugins/async-node/core/src/types.ts
  plugins/reference-assets/components/src/index.test.tsx
  plugins/reference-assets/components/src/index.tsx
  plugins/reference-assets/core/src/assets/chat-message/__tests__/transform.test.ts
  plugins/reference-assets/core/src/assets/chat-message/index.ts
  plugins/reference-assets/core/src/assets/chat-message/transform.ts
  plugins/reference-assets/core/src/assets/chat-message/types.ts
  plugins/reference-assets/mocks/BUILD
  plugins/reference-assets/mocks/chat-message/chat-message-basic.json
  plugins/reference-assets/mocks/chat-message/chat-message-basic.tsx
Owners: @KetanReddy, @adierkens, @hborawski

2xlarge+
  .circleci/config.yml
  android/testutils/BUILD
Owners: @adierkens, @hborawski, @KetanReddy, @sugarmanz, @Brocollie08

2xlarge
  .circleci/config.yml
Owners: @adierkens, @hborawski, @KetanReddy

Marked TestMock Flow as InternalPlayerApi
  jvm/testutils/src/main/kotlin/com/intuit/playerui/utils/test/TestMocks.kt
Owners: @sugarmanz, @Brocollie08

build android during build and attach workspace for release
  .circleci/config.yml
Owners: @adierkens, @hborawski, @KetanReddy

revert to large
  .circleci/config.yml
Owners: @adierkens, @hborawski, @KetanReddy

xlarge
  .circleci/config.yml
Owners: @adierkens, @hborawski, @KetanReddy

Async streaming android
  plugins/async-node/jvm/BUILD
  plugins/async-node/jvm/deps.bzl
  plugins/async-node/jvm/src/test/kotlin/com/intuit/playerui/plugins/asyncnode/AsyncNodePluginTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/chatmessageasset/BUILD
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/chatmessageasset/ChatMessageAssetTest.kt
Owners: @adierkens, @hborawski, @KetanReddy

Changed async node resolve with singular and chained chat -message tests
  plugins/async-node/jvm/src/test/kotlin/com/intuit/playerui/plugins/asyncnode/AsyncNodePluginTest.kt
Owners: @adierkens, @hborawski, @KetanReddy

Fixed linter issue for ChatMessageAssetTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/chatmessageasset/ChatMessageAssetTest.kt
Owners: @adierkens, @hborawski, @KetanReddy

Updated code with a ToDo
  plugins/async-node/jvm/src/main/kotlin/com/intuit/playerui/plugins/asyncnode/AsyncNodePlugin.kt
Owners: @adierkens, @hborawski, @KetanReddy

Added chained and singular resolve of chat-message asset in the node resolve
  plugins/async-node/jvm/src/test/kotlin/com/intuit/playerui/plugins/asyncnode/AsyncNodePluginTest.kt
Owners: @adierkens, @hborawski, @KetanReddy

fix dsl validator test failure
  plugins/reference-assets/core/src/plugin.ts
Owners: @adierkens, @hborawski, @KetanReddy

add plugin manager
  ios/core/Sources/Player/HeadlessPlayer.swift
  ios/core/Sources/PluginManager.swift
  ios/swiftui/Sources/SwiftUIPlayer.swift
  ios/test-utils-core/Sources/utilities/HeadlessPlayerImpl.swift
  ios/test-utils-core/Sources/utilities/TestPlayer.swift
  plugins/metrics/swiftui/Sources/MetricsPlugin.swift
Owners: @hborawski, @nancywu1, @adierkens, @KetanReddy

Hermes perf optimization (#598)
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/serialization/serializers/NodeSerializableFunction.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/constants/ConstantsController.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/data/DataController.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/data/DataModelWithParser.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/expressions/ExpressionEvaluator.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/flow/FlowController.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/flow/FlowInstance.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/logger/TapableLogger.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/state/PlayerFlowState.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/validation/BindingInstance.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/validation/Validation.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/validation/ValidationController.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/validation/ValidationResponse.kt
  jvm/core/src/test/kotlin/com/intuit/playerui/core/data/DataControllerTest.kt
  jvm/core/src/test/kotlin/com/intuit/playerui/core/player/state/CompletedStateTest.kt
  plugins/beacon/jvm/src/main/kotlin/com/intuit/playerui/plugins/beacon/BeaconPlugin.kt
Owners: @sugarmanz, @Brocollie08, @adierkens, @hborawski, @KetanReddy

Removed OptIns
  jvm/core/src/main/kotlin/com/intuit/playerui/core/flow/Flow.kt
Owners: @sugarmanz, @Brocollie08

fix hook setup
  ios/core/Sources/PluginManager.swift
  ios/swiftui/Sources/SwiftUIPlayer.swift
Owners: @hborawski, @nancywu1

Applied DSL mock content to android
  plugins/async-node/jvm/src/test/kotlin/com/intuit/playerui/plugins/asyncnode/AsyncNodePluginTest.kt
Owners: @adierkens, @hborawski, @KetanReddy

async-node doc update
  docs/site/src/content/docs/plugins/multiplatform/async-node.mdx
Owners: @KetanReddy, @adierkens

just hermes
  .circleci/config.yml
Owners: @adierkens, @hborawski, @KetanReddy

no remote cache
  .circleci/config.yml
Owners: @adierkens, @hborawski, @KetanReddy

flag in the beginning
  .circleci/config.yml
Owners: @adierkens, @hborawski, @KetanReddy

do not depend on hermeshost
  .circleci/config.yml
  android/testutils/deps.bzl
Owners: @adierkens, @hborawski, @KetanReddy, @sugarmanz, @Brocollie08

moving plugin name check inside tap
  ios/core/Sources/PluginManager.swift
Owners: @hborawski, @nancywu1

add hermes dep to test
  plugins/reference-assets/android/defs.bzl
Owners: @adierkens, @hborawski, @KetanReddy

add callback test
  plugins/async-node/ios/Tests/AsynNodePluginTests.swift
Owners: @adierkens, @hborawski, @KetanReddy

async streaming ios update
  ios/demo/Sources/MockFlows.swift
  plugins/async-node/ios/Tests/AsynNodePluginTests.swift
  plugins/reference-assets/swiftui/UITests/ChatMessageAssetUITests.swift
Owners: @hborawski, @nancywu1, @adierkens, @KetanReddy

update content
  ios/demo/Sources/MockFlows.swift
  plugins/async-node/ios/Tests/AsynNodePluginTests.swift
  plugins/reference-assets/swiftui/UITests/ChatMessageAssetUITests.swift
Owners: @hborawski, @nancywu1, @adierkens, @KetanReddy

remove hermes build
  .circleci/config.yml
Owners: @adierkens, @hborawski, @KetanReddy

todo back
  plugins/reference-assets/android/defs.bzl
Owners: @adierkens, @hborawski, @KetanReddy
