Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @player-ui/reviewers, @player-ui/android-reviewers, @player-ui/ios-reviewers, @player-ui/web-reviewers

.github/CODEOWNERS:

# Fallback
* @player-ui/reviewers

# Core
**/core @player-ui/reviewers

# Android/JVM
**/jvm @player-ui/android-reviewers
**/android @player-ui/android-reviewers

# iOS
/xcode/ @player-ui/ios-reviewers
**/ios @player-ui/ios-reviewers
**/swiftui @player-ui/ios-reviewers

# Web
**/react @player-ui/web-reviewers
**/storybook @player-ui/web-reviewers

android demo mobile-install
  .bazelrc
  android/demo/BUILD
  android/demo/deps.bzl
  justfile
  plugins/reference-assets/android/BUILD
Owners: @player-ui/reviewers, @player-ui/android-reviewers

libs.versions.toml
  MODULE.bazel
  justfile
  libs.versions.toml
  maven-lock.json
Owners: @player-ui/reviewers

use pushed rules_player
  MODULE.bazel
  MODULE.bazel.lock
Owners: @player-ui/reviewers

working android ui tests
  android/demo/BUILD
  android/demo/scripts/androidinstall.sh
  android/demo/scripts/androidtest.sh
  android/demo/src/androidTest/AndroidManifest.xml
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/MainActivityTest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/SplashActivityTest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/assets/action/ActionUITest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/assets/badge/BadgeUITest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/assets/collection/CollectionUITest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/assets/info/InfoUITest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/assets/input/InputUITest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/assets/text/TextUITest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/base/Assertions.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/base/AssetUITest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/base/ComposeUITest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/base/Matchers.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/base/PerformanceTest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/fragment/PlayerFragmentScrollingTest.kt
  android/demo/src/main/assets/mocks/badge/badge-all.json
Owners: @player-ui/android-reviewers

android demo kt_android wip
  android/demo/BUILD
  android/demo/deps.bzl
  android/demo/src/main/kotlin/com/intuit/playerui/android/reference/demo/lifecycle/DemoPlayerViewModel.kt
  android/demo/src/main/kotlin/com/intuit/playerui/android/reference/demo/model/AssetMock.kt
  android/demo/src/main/kotlin/com/intuit/playerui/android/reference/demo/model/StringMock.kt
  android/demo/src/main/kotlin/com/intuit/playerui/android/reference/demo/ui/base/BasePlayerFragment.kt
  android/demo/src/main/kotlin/com/intuit/playerui/android/reference/demo/ui/main/MainActivity.kt
  android/demo/src/main/kotlin/com/intuit/playerui/android/reference/demo/ui/main/MainViewModel.kt
  android/demo/src/main/kotlin/com/intuit/playerui/android/reference/demo/ui/player/DemoPlayerFragment.kt
  android/demo/src/main/kotlin/com/intuit/playerui/android/reference/demo/ui/splash/SplashActivity.kt
  android/demo/src/main/kotlin/com/intuit/playerui/android/reference/demo/ui/start/StartFragment.kt
  android/demo/src/main/res/values/strings.xml
  plugins/reference-assets/android/BUILD
Owners: @player-ui/android-reviewers

fix android ui tests
  android/defs.bzl
  android/testutils/BUILD
  android/testutils/src/main/kotlin/com/intuit/playerui/android/testutils/asset/AssetTest.kt
Owners: @player-ui/android-reviewers

fix AndroidLibraryAarInfo usage
  MODULE.bazel
  jvm/hermes/defs.bzl
Owners: @player-ui/reviewers, @player-ui/android-reviewers

fix demo app
  MODULE.bazel
  android/demo/BUILD
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/assets/action/ActionUITest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/assets/badge/BadgeUITest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/assets/collection/CollectionUITest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/assets/info/InfoUITest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/assets/input/InputUITest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/base/Assertions.kt
  jvm/BUILD
  jvm/core/BUILD
  jvm/defs.bzl
  jvm/dependencies/BUILD
  jvm/dependencies/common.bzl
  jvm/dependencies/versions.bzl
  jvm/hermes/defs.bzl
  libs.versions.toml
  maven-lock.json
  plugins/defs.bzl
Owners: @player-ui/reviewers, @player-ui/android-reviewers

fix mockk
  justfile
  libs.versions.toml
  maven-lock.json
Owners: @player-ui/reviewers

let format invokations fail
  justfile
Owners: @player-ui/reviewers

no rsync
  third_party/fbjni/extract_headers.bzl
Owners: @player-ui/reviewers

enable hermes-host for internal builds
  jvm/hermes/BUILD
  jvm/testutils/BUILD
Owners: @player-ui/android-reviewers

fix android platforms
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  third_party/fbjni/artifact.BUILD
  third_party/rn/BUILD
  third_party/rn/hermes_android.BUILD
Owners: @player-ui/reviewers

Pin mdast-util-from-markdown
  package.json
  pnpm-lock.yaml
Owners: @player-ui/reviewers

fix publishing
  .bazelversion
  MODULE.bazel
  jvm/testutils/BUILD
  tools/mocks/BUILD
Owners: @player-ui/reviewers, @player-ui/android-reviewers

remove outdated todo
  libs.versions.toml
Owners: @player-ui/reviewers

configure ktlint
  .editorconfig
  jvm/BUILD
Owners: @player-ui/reviewers, @player-ui/android-reviewers

random fixes + enable coverage on jvm/android targets
  .bazelrc
  .circleci/config.yml
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/Player.kt
  plugins/reference-assets/swiftui/ViewInspector/SwiftUI/ActionAssetTests.swift
Owners: @player-ui/reviewers, @player-ui/android-reviewers, @player-ui/ios-reviewers

fix broken tests
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/base/PerformanceTest.kt
  justfile
  jvm/j2v8/src/test/kotlin/com/intuit/playerui/j2v8/bridge/serialization/V8DecoderTest.kt
  jvm/perf/src/main/kotlin/com/intuit/playerui/perf/jmh/PlayerPerf.kt
Owners: @player-ui/android-reviewers, @player-ui/reviewers

rest of lint fixes
  .editorconfig
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/base/Matchers.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/base/PerformanceTest.kt
  android/player/src/main/kotlin/com/intuit/playerui/android/AndroidPlayer.kt
  android/player/src/main/kotlin/com/intuit/playerui/android/Constants.kt
  android/player/src/test/kotlin/com/intuit/playerui/android/lifecycle/PlayerViewModelTest.kt
  android/player/src/test/kotlin/com/intuit/playerui/android/logger/AndroidLoggerTest.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/Node.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/Promise.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/runtime/PlayerRuntimeContainer.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/runtime/Runtime.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/HeadlessPlayer.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/Player.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/state/PlayerFlowState.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/plugins/RuntimePlugin.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/plugins/logging/PlayerLoggingFactory.kt
  jvm/core/src/test/kotlin/com/intuit/playerui/core/bridge/runtime/RuntimeBlockingTest.kt
  jvm/hermes/src/main/kotlin/com/intuit/playerui/hermes/bridge/runtime/HermesRuntime.kt
  jvm/hermes/src/main/kotlin/com/intuit/playerui/hermes/extensions/Lock.kt
  jvm/j2v8/src/main/kotlin/com/intuit/playerui/j2v8/bridge/V8ObjectWrapper.kt
  jvm/j2v8/src/main/kotlin/com/intuit/playerui/j2v8/bridge/runtime/V8Runtime.kt
  jvm/j2v8/src/test/kotlin/com/intuit/playerui/j2v8/bridge/serialization/V8DecoderTest.kt
  jvm/utils/src/main/kotlin/com/intuit/playerui/utils/mocks/Mock.kt
  plugins/async-node/jvm/src/main/kotlin/com/intuit/playerui/plugins/asyncnode/AsyncNodePlugin.kt
  plugins/beacon/jvm/src/main/kotlin/com/intuit/playerui/plugins/beacon/BeaconPlugin.kt
  plugins/check-path/jvm/src/main/kotlin/com/intuit/playerui/plugins/checkpath/CheckPathPlugin.kt
  plugins/expression/jvm/src/main/kotlin/com/intuit/playerui/plugins/expression/ExpressionPlugin.kt
  plugins/external-action/jvm/src/main/kotlin/com/intuit/playerui/plugins/externalAction/ExternalActionPlugin.kt
  plugins/metrics/jvm/src/main/kotlin/com/intuit/playerui/plugins/metrics/MetricsPlugin.kt
  plugins/pubsub/jvm/src/main/kotlin/com/intuit/playerui/plugins/pubsub/PubSubPlugin.kt
Owners: @player-ui/reviewers, @player-ui/android-reviewers

add hermes host for local android tests
  android/player/BUILD
  plugins/reference-assets/android/BUILD
Owners: @player-ui/android-reviewers

enable abi jars
  jvm/BUILD
Owners: @player-ui/android-reviewers

simplify coverage
  .circleci/config.yml
Owners: @player-ui/reviewers

re-disable coverage on jvm/android due to lcov issues
  .circleci/config.yml
Owners: @player-ui/reviewers

fix quoting
  .circleci/config.yml
Owners: @player-ui/reviewers

coverage for all except android
  .circleci/config.yml
Owners: @player-ui/reviewers

use released rules_player
  MODULE.bazel
Owners: @player-ui/reviewers

try smarter android test
  .circleci/config.yml
Owners: @player-ui/reviewers

some script fixes
  .circleci/config.yml
Owners: @player-ui/reviewers

add log
  .circleci/config.yml
Owners: @player-ui/reviewers

try built in android tools
  .circleci/config.yml
Owners: @player-ui/reviewers

don't exit on test
  .circleci/config.yml
Owners: @player-ui/reviewers

trigger all android tests
  android/demo/README.md
  android/demo/src/main/kotlin/com/intuit/playerui/android/reference/demo/ui/splash/SplashActivity.kt
Owners: @player-ui/android-reviewers

properly fill in params
  .circleci/config.yml
Owners: @player-ui/reviewers

background emulator
  .circleci/config.yml
Owners: @player-ui/reviewers

move set -e
  .circleci/config.yml
Owners: @player-ui/reviewers

Revert "cache bust"
  android/demo/src/main/kotlin/com/intuit/playerui/android/reference/demo/ui/start/StartFragment.kt
Owners: @player-ui/android-reviewers

nohup emulator, don't build before test, mute cache check
  .circleci/config.yml
Owners: @player-ui/reviewers

cache bust
  android/demo/src/main/kotlin/com/intuit/playerui/android/reference/demo/ui/start/StartFragment.kt
Owners: @player-ui/android-reviewers

xlarge android
  .circleci/config.yml
Owners: @player-ui/reviewers
