Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @player-ui/reviewers, @player-ui/android-reviewers, @player-ui/ios-reviewers, @player-ui/web-reviewers

.github/CODEOWNERS:

# Fallback
* @player-ui/reviewers

# Core
**/core @player-ui/reviewers

# Android/JVM
**/jvm @player-ui/android-reviewers
**/android @player-ui/android-reviewers

# iOS
/xcode/ @player-ui/ios-reviewers
**/ios @player-ui/ios-reviewers
**/swiftui @player-ui/ios-reviewers

# Web
**/react @player-ui/web-reviewers
**/storybook @player-ui/web-reviewers

WIP workflow docs setup
  .circleci/config.yml
  .github/workflows/canary.yml
  .github/workflows/pr-closed.yml
  CONTRIBUTING.md
  scripts/deploy-canary-docs.sh
Owners: @player-ui/reviewers

trying to fix config
  .circleci/config.yml
Owners: @player-ui/reviewers

trying to fix config
  .circleci/config.yml
Owners: @player-ui/reviewers

using release.sh to deploy canary folder - testing
  .autorc
  .circleci/config.yml
  .github/workflows/canary.yml
  scripts/canary-docs.js
  scripts/deploy-canary-docs.sh
  scripts/release.sh
Owners: @player-ui/reviewers

address comments
  docs/site/src/content/docs/getting-started.mdx
  docs/site/src/content/docs/guides/writing-plugins.mdx
Owners: @player-ui/reviewers

trying to fix errors and also add algolia to canary logic
  VERSION
  plugins/reference-assets/mocks/BUILD
  scripts/release.sh
  tools/mocks/BUILD
Owners: @player-ui/reviewers

updating pr comment message
  scripts/canary-docs.js
Owners: @player-ui/reviewers

Fix VERSION file format to match upstream/main
  VERSION
Owners: @player-ui/reviewers

adding a title
  scripts/canary-docs.js
Owners: @player-ui/reviewers

updating trigger logic
  .autorc
  .github/workflows/docs-preview.yml
  .github/workflows/pr-closed.yml
  docs/site/src/content/docs/getting-started.mdx
  package.json
  pnpm-lock.yaml
  scripts/release-comments.ts
  scripts/release.sh
Owners: @player-ui/reviewers

trying to fix gh action
  .github/workflows/docs-preview.yml
Owners: @player-ui/reviewers

Updating comments logic
  .autorc
  .github/workflows/docs-preview.yml
  scripts/release-comment.ts
Owners: @player-ui/reviewers

Updating release comment content
  scripts/release-comment.ts
Owners: @player-ui/reviewers

Updating message
  .github/workflows/docs-preview.yml
  docs/site/src/content/docs/getting-started.mdx
Owners: @player-ui/reviewers

testing docs comment
  docs/site/src/content/docs/getting-started.mdx
Owners: @player-ui/reviewers

trying to fix build
  tsconfig.json
Owners: @player-ui/reviewers

updating contributing docs
  CONTRIBUTING.md
  docs/site/src/content/docs/getting-started.mdx
Owners: @player-ui/reviewers

changing docs trigger to comment to match canary workflow trigger logic
  .github/workflows/docs-preview.yml
  CONTRIBUTING.md
Owners: @player-ui/reviewers

Updating pr directory to organize all pr-based content
  .github/workflows/docs-preview.yml
  .github/workflows/pr-closed.yml
  CONTRIBUTING.md
Owners: @player-ui/reviewers

Simplifying docs comment
  .github/workflows/docs-preview.yml
  CONTRIBUTING.md
Owners: @player-ui/reviewers

Simplifying docs comment
  .github/workflows/docs-preview.yml
Owners: @player-ui/reviewers

Supplement Android + JVM platform documentation (#719)
  MODULE.bazel
  MODULE.bazel.lock
  docs/site/astro.config.mjs
  docs/site/src/assets/plugin-ooo.png
  docs/site/src/content/docs/assets/reference.mdx
  docs/site/src/content/docs/getting-started.mdx
  docs/site/src/content/docs/guides/multi-flow-experiences.mdx
  docs/site/src/content/docs/guides/writing-plugins.mdx
  docs/site/src/content/docs/platforms/android.mdx
  docs/site/src/content/docs/platforms/cross-platform.mdx
  docs/site/src/content/docs/platforms/jvm.mdx
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/runtime/PlayerRuntimeFactory.kt
Owners: @player-ui/reviewers, @player-ui/android-reviewers

fix docs build
  plugins/reference-assets/mocks/BUILD
  tools/mocks/BUILD
Owners: @player-ui/reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/reviewers

Bump version to: 0.14.0 [skip ci]
  VERSION
Owners: @player-ui/reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/reviewers

reworking logic to use CI
  .autorc
  .circleci/config.yml
  .github/workflows/docs-preview.yml
  .github/workflows/docs-publishing.yml
  plugins/reference-assets/mocks/BUILD
  scripts/build-preview.ts
  scripts/release.sh
  tools/mocks/BUILD
  tsconfig.json
Owners: @player-ui/reviewers

don't invoke callbacks if released
  android/player/src/main/kotlin/com/intuit/playerui/android/ui/PlayerFragment.kt
Owners: @player-ui/android-reviewers

trying to fix build
  .github/workflows/docs-preview.yml
  plugins/reference-assets/mocks/BUILD
  tools/mocks/BUILD
Owners: @player-ui/reviewers

trying to fix build
  .circleci/config.yml
  .github/workflows/docs-preview.yml
Owners: @player-ui/reviewers

trying to fix build
  .circleci/config.yml
Owners: @player-ui/reviewers

removing pr comment html comment
  .circleci/config.yml
Owners: @player-ui/reviewers

circle config formatting
  .circleci/config.yml
Owners: @player-ui/reviewers

fixing job filtering and updating auto plugin to use require
  .circleci/config.yml
  scripts/build-preview.ts
Owners: @player-ui/reviewers

changing job logic
  .circleci/config.yml
Owners: @player-ui/reviewers

converting build-preview to js
  .autorc
  package.json
  pnpm-lock.yaml
  scripts/build-preview.js
Owners: @player-ui/reviewers

testing trigger logic
  .circleci/config.yml
  .github/workflows/canary.yml
  .github/workflows/docs-publishing.yml
Owners: @player-ui/reviewers

testing trigger logic
  .circleci/config.yml
Owners: @player-ui/reviewers

testing trigger logic
  .circleci/config.yml
Owners: @player-ui/reviewers

trying to update ci pipeline
  .circleci/config.yml
Owners: @player-ui/reviewers
