Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adierkens, @KetanReddy, @sugarmanz, @Brocollie08, @hborawski, @spentacular

Core: decouple Back Button
  plugins/reference-assets/core/src/assets/action/__tests__/transform.test.ts
  plugins/reference-assets/core/src/assets/action/transform.ts
  plugins/reference-assets/core/src/assets/action/types.ts
  plugins/reference-assets/mocks/action/action-navigation.json
  plugins/reference-assets/react/src/assets/action/Action.tsx
Owners: @adierkens

Core: decouple Back Button
  plugins/reference-assets/core/src/assets/action/transform.ts
Owners: @adierkens

Core: decouple Back Button
  plugins/reference-assets/core/src/assets/action/__tests__/transform.test.ts
  plugins/reference-assets/mocks/action/action-navigation.json
Owners: @adierkens

Core: decouple Back Button
  plugins/reference-assets/core/src/assets/action/types.ts
Owners: @adierkens

added dependency for all plugin tests to work with simpleFlow
  jvm/testutils/BUILD
  jvm/testutils/deps.bzl
Owners: @sugarmanz, @Brocollie08

reference assets needed
  jvm/core/deps.bzl
Owners: @sugarmanz, @Brocollie08

Android: add label to collection (#195)
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/action/ActionTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/collection/CollectionTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/text/TextTest.kt
  plugins/reference-assets/android/src/main/java/com/intuit/player/android/reference/assets/collection/Collection.kt
  plugins/reference-assets/android/src/main/res/layout/collection.xml
Owners: @adierkens

more dependencies for tests
  plugins/reference-assets/android/build.bzl
  plugins/reference-assets/android/deps.bzl
Owners: @adierkens

feat: adds react player subscriber
  react/player/src/index.tsx
  react/player/src/subscriber/__tests__/subscriber-player.test.tsx
  react/player/src/subscriber/subscriber-player.tsx
  react/player/src/subscriber/types.ts
Owners: @spentacular, @adierkens

modified test names
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/action/ActionTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/info/InfoTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/input/InputTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/test/deps.bzl
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/text/TextTest.kt
Owners: @adierkens

iOS: Add swift wrapper for ComputedPropertiesPlugin
  BUILD.bazel
  PlayerUI.podspec
  generated.bzl
  ios/plugins/ComputedPropertiesPlugin/Sources/ComputedPropertiesPlugin.swift
  ios/plugins/ComputedPropertiesPlugin/Tests/ComputedPropertiesPluginTests.swift
  plugins/computed-properties/core/BUILD
  xcode/Podfile
  xcode/Podfile.lock
Owners: @adierkens, @hborawski

feat/decouple back button (#211)
  plugins/reference-assets/core/src/assets/action/__tests__/transform.test.ts
  plugins/reference-assets/core/src/assets/action/transform.ts
  plugins/reference-assets/core/src/assets/action/types.ts
  plugins/reference-assets/mocks/action/action-navigation.json
  plugins/reference-assets/react/src/assets/action/Action.tsx
Owners: @adierkens

iOS: Add swift wrapper for ComputedPropertiesPlugin (#224)
  BUILD.bazel
  PlayerUI.podspec
  generated.bzl
  ios/plugins/ComputedPropertiesPlugin/Sources/ComputedPropertiesPlugin.swift
  ios/plugins/ComputedPropertiesPlugin/Tests/ComputedPropertiesPluginTests.swift
  plugins/computed-properties/core/BUILD
  xcode/Podfile
  xcode/Podfile.lock
Owners: @adierkens, @hborawski

sync latest
  core/player/src/__tests__/validation.test.ts
  core/player/src/controllers/validation/controller.ts
  tools/storybook/src/redux/index.tsx
Owners: @KetanReddy, @adierkens

modified test names
  plugins/reference-assets/android/build.bzl
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/action/ActionTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/collection/CollectionTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/info/InfoTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/input/InputTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/test/deps.bzl
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/text/TextTest.kt
Owners: @adierkens

fix precompile script to source zshrc and load user node, update mocks
  PlayerUI.podspec
  ios/packages/demo/Sources/MockFlows.swift
  xcode/Podfile.lock
Owners: @adierkens, @hborawski

update generateflowsection
  ios/packages/demo/scripts/generateFlowSections.js
Owners: @hborawski

pin monaco editor to non mjs version
  package.json
  yarn.lock
Owners: @adierkens

manual version fix from failed release
  VERSION
Owners: @adierkens

verbose flag for problematic bazel commands
  scripts/release.sh
Owners: @adierkens

address comments
  String + Extensions.swift
  ios/packages/demo/Sources/AppDelegate.swift
  ios/packages/demo/Sources/FlowManagerView.swift
  ios/packages/demo/Sources/PluginsAndPlayerCollection.swift
  ios/packages/demo/Sources/SegmentControlView.swift
  ios/packages/reference-assets/UITests/ExternalActionUITests.swift
  ios/packages/reference-assets/UITests/ManagedPlayerUITests.swift
  ios/packages/reference-assets/UITests/PubsubUITests.swift
  ios/packages/test-utils/Sources/ui-test/AssetUITestCase.swift
  ios/packages/test-utils/Sources/ui-test/SegmentControlView.swift
Owners: @adierkens, @hborawski

fix UI test failure
  ios/packages/reference-assets/UITests/BaseTestCase.swift
Owners: @hborawski

iOS: Update precompile script to source zshrc (#226)
  PlayerUI.podspec
  VERSION
  ios/packages/demo/Sources/MockFlows.swift
  ios/packages/reference-assets/UITests/BaseTestCase.swift
  scripts/release.sh
  xcode/Podfile.lock
Owners: @adierkens, @hborawski

remove version prefix from doc release path
  scripts/release.sh
Owners: @adierkens

remove version prefix from doc release path (#232)
  scripts/release.sh
Owners: @adierkens

rewrite publisher assertions to be async
  ios/packages/internal-test-utils/Sources/Utilities.swift
  ios/packages/swiftui/Tests/ManagedPlayer/ManagedPlayerViewModelTests.swift
Owners: @hborawski

comment out major doc deploy for now
  scripts/release.sh
Owners: @adierkens

increase XCUI test timeout
  .circleci/config.yml
Owners: @adierkens

build: comment out major doc deploy for now (#235)
  scripts/release.sh
Owners: @adierkens

Bump version to: v0.4.1 [skip ci]
  VERSION
Owners: @adierkens

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @adierkens

try to fix timeout issue
  .circleci/config.yml
  ios/packages/reference-assets/UITests/BaseTestCase.swift
  ios/packages/test-utils/Tests/unit-test/AssetUnitTestCaseTests.swift
Owners: @adierkens, @hborawski

move extension to where its used
  ios/packages/internal-test-utils/Sources/Utilities.swift
  ios/packages/swiftui/Tests/ManagedPlayer/ManagedPlayerViewModelTests.swift
Owners: @hborawski

adding swiftuipendingtransactionplugin
  PlayerUI.podspec
  docs/site/pages/plugins/swiftui-pending-transaction.mdx
  generated.bzl
  ios/packages/demo/Sources/AppDelegate.swift
  ios/plugins/SwiftUIPendingTransactionPlugin/Sources/SwiftUIPendingTransactionPlugin.swift
  ios/plugins/SwiftUIPendingTransactionPlugin/ViewInspector/SwiftUIPendingTransactionPlugin.swift
  xcode/Podfile
  xcode/Podfile.lock
Owners: @adierkens, @KetanReddy, @hborawski

update podfile.lock
  ios/packages/demo/Sources/AppDelegate.swift
  xcode/Podfile.lock
Owners: @hborawski

Update broken link in contributing docs
  CONTRIBUTING.md
Owners: @adierkens

Add better error messaging for failed expression eval and parsing
  core/player/src/expressions/__tests__/evaluator.test.ts
  core/player/src/expressions/evaluator.ts
  package.json
Owners: @KetanReddy, @adierkens

update docs and assets to include usage
  ios/packages/reference-assets/Sources/SwiftUI/ActionAsset.swift
  ios/packages/reference-assets/Sources/SwiftUI/InputAsset.swift
Owners: @hborawski

include wrapped function changes too to include user info
  ios/packages/reference-assets/Sources/SwiftUI/ActionAsset.swift
  ios/packages/swiftui/Sources/types/WrappedFunction.swift
Owners: @hborawski

Remove nested-error-stacks from dep list
  core/player/BUILD
Owners: @KetanReddy, @adierkens

.github/CODEOWNERS:

# Fallback
* @adierkens

# Other
/docs/ @KetanReddy @adierkens

# Android/JVM

/jvm/ @sugarmanz @Brocollie08
/android/ @sugarmanz @Brocollie08

# iOS
/xcode/ @hborawski
/ios/ @hborawski

# Web
/react/ @spentacular @adierkens
/tools/storybook/ @adierkens

# Core
/core/ @KetanReddy @adierkens
