Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adierkens, @KetanReddy, @sugarmanz, @Brocollie08, @hborawski, @spentacular

.github/CODEOWNERS:

# Fallback
* @adierkens

# Other
/docs/ @KetanReddy @adierkens

# Android/JVM

/jvm/ @sugarmanz @Brocollie08
/android/ @sugarmanz @Brocollie08

# iOS
/xcode/ @hborawski
/ios/ @hborawski

# Web
/react/ @spentacular @adierkens
/tools/storybook/ @adierkens

# Core
/core/ @KetanReddy @adierkens

neverlink j2v8 debugger
  jvm/j2v8/BUILD
  jvm/j2v8/build.bzl
  jvm/j2v8/deps.bzl
  jvm/j2v8/libs/BUILD
  jvm/j2v8/src/main/kotlin/com/alexii/j2v8debugger/ScriptSourceProvider.kt
  jvm/j2v8/src/main/kotlin/com/intuit/player/jvm/j2v8/bridge/runtime/V8Runtime.kt
Owners: @sugarmanz, @Brocollie08

fix deps.bzl miss
  jvm/j2v8/deps.bzl
Owners: @sugarmanz, @Brocollie08

Define process.env in native bundles
  tsup.config.ts
Owners: @adierkens

allow navigationFlowViewState attributes to take Any instead of string
  ios/packages/core/Sources/Types/Core/NavigationStates.swift
Owners: @hborawski

Update pluginName for SwiftUI plugin
  plugins/beacon/swiftui/Sources/SwiftUIBeaconPlugin.swift
Owners: @adierkens

fix test
  ios/packages/core/Tests/FlowStateTests.swift
Owners: @hborawski

use bazel target for beacon resources
  plugins/beacon/ios/BUILD.bazel
  plugins/beacon/ios/Resources/BeaconPlugin.native.js
  plugins/beacon/ios/Resources/beacon-plugin.prod.js
  plugins/beacon/ios/Tests/BaseBeaconPluginTests.swift
Owners: @adierkens

use bazel target for core resources
  ios/core/BUILD.bazel
  ios/core/Resources/partial-match-fingerprint-plugin.prod.js
  ios/core/Resources/partial-match-registry.prod.js
  ios/core/Resources/player.prod.js
  ios/core/Sources/CorePlugins/PartialMatchFingerprintPlugin.swift
  ios/core/Sources/Player/HeadlessPlayer.swift
  ios/test-utils-core/BUILD.bazel
Owners: @hborawski

use bazel target for check-path resources
  plugins/check-path/core/BUILD
  plugins/check-path/ios/BUILD.bazel
  plugins/check-path/ios/Sources/CheckPathPlugin.swift
Owners: @adierkens

use bazel target for make-flow
  ios/test-utils-core/Sources/utilities/AssetTestHelper.swift
Owners: @hborawski

use bazel target for make-flow
  ios/test-utils-core/Resources/make-flow.prod.js
Owners: @hborawski

bazel targets for common types/expressions
  plugins/common-expressions/ios/BUILD.bazel
  plugins/common-expressions/ios/Resources/common-expressions-plugin.prod.js
  plugins/common-expressions/ios/Sources/CommonExpressionsPlugin.swift
  plugins/common-types/ios/BUILD.bazel
  plugins/common-types/ios/Resources/common-types-plugin.prod.js
  plugins/common-types/ios/Sources/CommonTypesPlugin.swift
Owners: @adierkens

use bazel targets for ios resources
  plugins/computed-properties/ios/BUILD.bazel
  plugins/computed-properties/ios/Resources/computed-properties-plugin.prod.js
  plugins/computed-properties/ios/Sources/ComputedPropertiesPlugin.swift
  plugins/expression/ios/BUILD.bazel
  plugins/expression/ios/Resources/expression-plugin.prod.js
  plugins/expression/ios/Sources/ExpressionPlugin.swift
  plugins/external-action/ios/BUILD.bazel
  plugins/external-action/ios/Resources/external-action-plugin.prod.js
  plugins/external-action/ios/Sources/ExternalActionPlugin.swift
  plugins/external-action/swiftui/Sources/ExternalActionViewModifierPlugin.swift
  plugins/metrics/swiftui/BUILD.bazel
  plugins/metrics/swiftui/Resources/metrics-plugin.prod.js
  plugins/metrics/swiftui/Sources/MetricsPlugin.swift
  plugins/pubsub/ios/BUILD.bazel
  plugins/pubsub/ios/Resources/pubsub-plugin.prod.js
  plugins/pubsub/ios/Sources/PubSubPlugin.swift
  plugins/reference-assets/swiftui/BUILD.bazel
  plugins/reference-assets/swiftui/Resources/js/reference-assets-plugin.prod.js
  plugins/reference-assets/swiftui/Sources/ReferenceAssetsPlugin.swift
  plugins/stage-revert-data/ios/BUILD.bazel
  plugins/stage-revert-data/ios/Resources/stage-revert-data-plugin.prod.js
  plugins/stage-revert-data/ios/Sources/StageRevertDataPlugin.swift
  plugins/types-provider/ios/BUILD.bazel
  plugins/types-provider/ios/Resources/types-provider-plugin.prod.js
  plugins/types-provider/ios/Sources/TypesProviderPlugin.swift
Owners: @adierkens

remove old resource
  plugins/check-path/ios/Resources/check-path-plugin.prod.js
Owners: @adierkens

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @adierkens

Bump version to: v0.5.1 [skip ci]
  VERSION
Owners: @adierkens

Add coverage support for JS files
  BUILD.bazel
  MODULE.bazel
  core/player/src/binding/__tests__/index.test.ts
  core/player/src/expressions/__tests__/__snapshots__/parser.test.ts.snap
  core/player/src/view/parser/__tests__/__snapshots__/parser.test.ts.snap
  package.json
  pnpm-lock.yaml
  tools/BUILD
  tools/vitest_coverage_mapper.ts
  vitest.config.ts
Owners: @adierkens, @KetanReddy

[BAZEL-6] Add coverage support for JS files (#260)
  BUILD.bazel
  MODULE.bazel
  core/player/src/binding/__tests__/index.test.ts
  core/player/src/expressions/__tests__/__snapshots__/parser.test.ts.snap
  core/player/src/view/parser/__tests__/__snapshots__/parser.test.ts.snap
  package.json
  pnpm-lock.yaml
  tools/BUILD
  tools/vitest_coverage_mapper.ts
  vitest.config.ts
Owners: @adierkens, @KetanReddy

UITests passing
  MODULE.bazel
  ios/BUILD.bazel
  ios/demo/Sources/App.swift
  ios/demo/Sources/SegmentControlView.swift
  ios/test-utils-core/Sources/ui-test/AssetCollection.swift
  ios/test-utils-core/Sources/ui-test/AssetFlowView.swift
  plugins/reference-assets/swiftui/UITests/ActionAssetUITests.swift
Owners: @adierkens, @hborawski

remove commented out tags
  ios/core/BUILD.bazel
  ios/swiftui/BUILD.bazel
  ios/test-utils-core/BUILD.bazel
  plugins/beacon/ios/BUILD.bazel
  plugins/beacon/swiftui/BUILD.bazel
  plugins/check-path/ios/BUILD.bazel
  plugins/check-path/swiftui/BUILD.bazel
  plugins/common-expressions/ios/BUILD.bazel
  plugins/common-types/ios/BUILD.bazel
  plugins/computed-properties/ios/BUILD.bazel
  plugins/console-logger/ios/BUILD.bazel
  plugins/expression/ios/BUILD.bazel
  plugins/external-action/ios/BUILD.bazel
  plugins/external-action/swiftui/BUILD.bazel
  plugins/metrics/swiftui/BUILD.bazel
  plugins/pending-transaction/swiftui/BUILD.bazel
  plugins/pubsub/ios/BUILD.bazel
  plugins/reference-assets/swiftui/BUILD.bazel
  plugins/stage-revert-data/ios/BUILD.bazel
  plugins/transition/swiftui/BUILD.bazel
  plugins/types-provider/ios/BUILD.bazel
Owners: @hborawski, @adierkens

update podspec and add Package.swift
  Package.swift
  PlayerUI.podspec
Owners: @adierkens

add bazel source targets, zip sources and resources into proper locations, pod lint passes
  BUILD.bazel
  PlayerUI.podspec
  ios/core/BUILD.bazel
  ios/logger/BUILD.bazel
  ios/swiftui/BUILD.bazel
  ios/test-utils-core/BUILD.bazel
  ios/test-utils/BUILD.bazel
  plugins/beacon/ios/BUILD.bazel
  plugins/beacon/swiftui/BUILD.bazel
  plugins/check-path/ios/BUILD.bazel
  plugins/check-path/swiftui/BUILD.bazel
  plugins/common-expressions/ios/BUILD.bazel
  plugins/common-types/ios/BUILD.bazel
  plugins/computed-properties/ios/BUILD.bazel
  plugins/console-logger/ios/BUILD.bazel
  plugins/expression/ios/BUILD.bazel
  plugins/external-action/ios/BUILD.bazel
  plugins/external-action/swiftui/BUILD.bazel
  plugins/metrics/swiftui/BUILD.bazel
  plugins/pending-transaction/swiftui/BUILD.bazel
  plugins/pubsub/ios/BUILD.bazel
  plugins/reference-assets/swiftui/BUILD.bazel
  plugins/reference-assets/swiftui/Resources/BUILD.bazel
  plugins/stage-revert-data/ios/BUILD.bazel
  plugins/transition/swiftui/BUILD.bazel
  plugins/types-provider/ios/BUILD.bazel
  tools/ios/util.bzl
Owners: @adierkens, @hborawski

port async wrapped function again, since this was branched prior to sync
  ios/core/Sources/Types/Assets/Wrappers.swift
  ios/swiftui/Sources/types/WrappedFunction.swift
  ios/swiftui/Sources/types/assets/WrappedAsset.swift
  ios/swiftui/Tests/SwiftUIRegistryTests.swift
  ios/swiftui/Tests/types/WrappedFunctionTests.swift
  plugins/pending-transaction/swiftui/BUILD.bazel
Owners: @hborawski, @adierkens

zip works as a pod
  ios/core/Sources/Types/Beacon.swift
  plugins/check-path/swiftui/Sources/SwiftUICheckPathPlugin.swift
Owners: @hborawski, @adierkens

touch ups needed to run all tests through query
  BUILD.bazel
  ios/test-utils/BUILD.bazel
  ios/test-utils/ViewInspector/ui-test/AssetFlowViewTests.swift
  ios/test-utils/ViewInspector/unit-test/SwiftUIAssetUnitTestCaseTests.swift
  plugins/check-path/ios/BUILD.bazel
Owners: @adierkens, @hborawski

try running all tests in circle
  .circleci/config.yml
Owners: @adierkens

fix indent
  .circleci/config.yml
Owners: @adierkens

check homebrew path
  .circleci/config.yml
Owners: @adierkens

update openjdk version
  .circleci/config.yml
Owners: @adierkens

fix resource bundle for reference assets icon catalog
  plugins/reference-assets/swiftui/BUILD.bazel
  plugins/reference-assets/swiftui/Resources/BUILD.bazel
  plugins/reference-assets/swiftui/Sources/Utilities/InternalAssets.swift
  tools/ios/BUILD.bazel
  tools/ios/Info.plist
Owners: @adierkens

lower to serial test running, builds are getting interuptted with 2
  .circleci/config.yml
Owners: @adierkens

prebuild test modules before running tests
  .circleci/config.yml
Owners: @adierkens

remove print
  plugins/reference-assets/swiftui/Sources/Utilities/InternalAssets.swift
Owners: @adierkens

try large executor
  .circleci/config.yml
Owners: @adierkens

everything minus language, internal plugins, async
  core/player/src/controllers/flow/__tests__/flow.test.ts
  core/player/src/controllers/flow/flow.ts
  package.json
  tools/storybook/src/addons/events/events.css
  tools/storybook/src/addons/events/index.tsx
Owners: @KetanReddy, @adierkens

this works
  core/player/src/controllers/flow/__tests__/flow.test.ts
  core/player/src/controllers/flow/flow.ts
  core/player/src/view/parser/index.ts
  core/player/src/view/parser/types.ts
  core/player/src/view/parser/utils.ts
  core/player/src/view/plugins/switch.ts
  core/player/src/view/resolver/index.ts
  core/player/src/view/resolver/utils.ts
  core/player/src/view/view.ts
  package.json
  plugins/async-node/core/BUILD
  plugins/async-node/core/src/index.test.ts
  plugins/async-node/core/src/index.ts
  plugins/async-node/core/src/types.ts
  plugins/reference-assets/mocks/action/action-basic.tsx
  plugins/reference-assets/mocks/action/action-transition-to-end.tsx
  scripts/yarn-link-setup.js
  tools/storybook/src/addons/events/index.tsx
  yarn.lock
Owners: @KetanReddy, @adierkens

lint
  plugins/async-node/core/src/index.test.ts
  plugins/async-node/core/src/index.ts
  plugins/async-node/core/src/types.ts
Owners: @adierkens

update yarn version according to readme
  WORKSPACE
Owners: @adierkens

revert yarn version
  WORKSPACE
Owners: @adierkens

remove resolutions
  package.json
Owners: @adierkens
