Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @player-ui/reviewers, @player-ui/android-reviewers, @player-ui/ios-reviewers, @player-ui/web-reviewers

[PLAYA-9608] All iOS tests pass
  ios/core/Tests/HeadlessPlayerTests.swift
  justfile
  plugins/reference-assets/swiftui/UITests/ManagedPlayerUITests.swift
Owners: @player-ui/ios-reviewers, @player-ui/reviewers

Only DSL mocks are used; replace json mock
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/action/ActionTest.kt
  plugins/reference-assets/mocks/action/action-transition-to-end.json
  plugins/reference-assets/mocks/action/action-transition-to-end.tsx
Owners: @player-ui/android-reviewers, @player-ui/reviewers

try different ios config
  .bazelrc
  .circleci/config.yml
Owners: @player-ui/reviewers

[PLAYA-9608] Clean up comments
  .bazelrc
  BUILD.bazel
  MODULE.bazel
  android/player/BUILD
  justfile
  jvm/j2v8/deps.bzl
  plugins/reference-assets/react/src/assets/collection/Collection.tsx
  pnpm-lock.yaml
  swift_deps.bzl
  swift_deps_index.json
  xcode/Package.swift
Owners: @player-ui/reviewers, @player-ui/android-reviewers, @player-ui/web-reviewers, @player-ui/ios-reviewers

25/27 Android/JVM Tests pass
  MODULE.bazel
  MODULE.bazel.lock
  justfile
  jvm/graaljs/deps.bzl
  jvm/hermes/deps.bzl
  plugins/async-node/jvm/deps.bzl
  plugins/metrics/jvm/deps.bzl
  plugins/pubsub/jvm/deps.bzl
Owners: @player-ui/reviewers, @player-ui/android-reviewers

wip
  .bazelrc
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/MainActivityTest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/SplashActivityTest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/action/ActionUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/badge/BadgeUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/collection/CollectionUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/info/InfoUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/input/InputUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/text/TextUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/base/Assertions.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/base/AssetUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/base/ComposeUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/base/Matchers.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/base/PerformanceTest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/fragment/PlayerFragmentScrollingTest.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/lifecycle/DemoPlayerViewModel.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/model/AssetMock.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/base/BasePlayerFragment.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/main/MainActivity.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/main/MainViewModel.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/player/DemoPlayerFragment.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/splash/SplashActivity.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/start/StartFragment.kt
  android/player/BUILD
  justfile
  jvm/j2v8/deps.bzl
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/ReferenceAssetsPlugin.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/XmlStyleParser.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/action/Action.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/badge/Badge.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/collection/Collection.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/info/Info.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/input/FormattedEditText.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/input/Input.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/text/Text.kt
Owners: @player-ui/reviewers, @player-ui/android-reviewers

cmake parallel flag
  BUILD.bazel
  third_party/fbjni/BUILD
Owners: @player-ui/reviewers

building fbjni
  MODULE.bazel
  MODULE.bazel.lock
  justfile
  third_party/fbjni/BUILD
  third_party/fbjni/extract_headers.bzl
Owners: @player-ui/reviewers

[PLAYA-9764] Do not add react to tsup config
  BUILD.bazel
Owners: @player-ui/reviewers

hermes building
  third_party/hermes/BUILD
Owners: @player-ui/reviewers

wip on re-org deps
  jvm/BUILD
  jvm/core/BUILD
  jvm/core/deps.bzl
  jvm/core/src/test/kotlin/com/intuit/playerui/core/view/ViewControllerHooksTest.kt
  jvm/defs.bzl
  jvm/dependencies/common.bzl
  jvm/dependencies/versions.bzl
  jvm/graaljs/BUILD
  jvm/graaljs/deps.bzl
  jvm/j2v8/BUILD
  jvm/j2v8/deps.bzl
  jvm/testutils/BUILD
  jvm/testutils/deps.bzl
  jvm/utils/BUILD
  jvm/utils/deps.bzl
  jvm/utils/src/main/kotlin/com/intuit/playerui/utils/MakeFlow.kt
  jvm/utils/src/test/kotlin/com/intuit/playerui/utils/MakeFlowTests.kt
  plugins/beacon/jvm/BUILD
  plugins/beacon/jvm/deps.bzl
  plugins/defs.bzl
  plugins/set-time-out/jvm/BUILD
  plugins/set-time-out/jvm/deps.bzl
Owners: @player-ui/android-reviewers, @player-ui/reviewers

allow dupe plugins w/ patch
  MODULE.bazel
  MODULE.bazel.lock
  patches/rules_kotlin.allow_dupe_plugins.patch
Owners: @player-ui/reviewers

move lint-kotlin script to just
  justfile
  tools/lint-kotlin
Owners: @player-ui/reviewers

remove unnecessary android script
  .bazelrc
  scripts/install-android-tools.sh
Owners: @player-ui/reviewers

kt_player_plugin_wrapper macro
  MODULE.bazel
  jvm/BUILD
  patches/BUILD
  patches/rules_jvm_external.default_public_visibility.patch
  plugins/beacon/jvm/BUILD
  plugins/defs.bzl
  plugins/plugin_wrapper_template.kt.tpl
  plugins/plugin_wrapper_test_template.kt.tpl
  plugins/reference-assets/jvm/BUILD
Owners: @player-ui/reviewers, @player-ui/android-reviewers

android reference assets using kt_android
  android/testutils/deps.bzl
  plugins/reference-assets/android/BUILD
  plugins/reference-assets/android/deps.bzl
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/action/BUILD
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/chatmessageasset/BUILD
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/collection/BUILD
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/info/BUILD
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/input/BUILD
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/text/BUILD
  plugins/reference-assets/android/src/androidTest/kotlin/com/intuit/playerui/android/reference/assets/action/ActionTest.kt
  plugins/reference-assets/android/src/androidTest/kotlin/com/intuit/playerui/android/reference/assets/chatmessageasset/ChatMessageAssetTest.kt
  plugins/reference-assets/android/src/androidTest/kotlin/com/intuit/playerui/android/reference/assets/collection/CollectionTest.kt
  plugins/reference-assets/android/src/androidTest/kotlin/com/intuit/playerui/android/reference/assets/info/InfoTest.kt
  plugins/reference-assets/android/src/androidTest/kotlin/com/intuit/playerui/android/reference/assets/input/InputTest.kt
  plugins/reference-assets/android/src/androidTest/kotlin/com/intuit/playerui/android/reference/assets/text/TextTest.kt
  plugins/reference-assets/android/src/main/AndroidManifest.xml
  plugins/reference-assets/android/src/main/kotlin/com/intuit/playerui/android/reference/assets/ReferenceAssetsPlugin.kt
  plugins/reference-assets/android/src/main/kotlin/com/intuit/playerui/android/reference/assets/XmlStyleParser.kt
  plugins/reference-assets/android/src/main/kotlin/com/intuit/playerui/android/reference/assets/action/Action.kt
  plugins/reference-assets/android/src/main/kotlin/com/intuit/playerui/android/reference/assets/badge/Badge.kt
  plugins/reference-assets/android/src/main/kotlin/com/intuit/playerui/android/reference/assets/collection/Collection.kt
  plugins/reference-assets/android/src/main/kotlin/com/intuit/playerui/android/reference/assets/info/Info.kt
  plugins/reference-assets/android/src/main/kotlin/com/intuit/playerui/android/reference/assets/input/FormattedEditText.kt
  plugins/reference-assets/android/src/main/kotlin/com/intuit/playerui/android/reference/assets/input/Input.kt
  plugins/reference-assets/android/src/main/kotlin/com/intuit/playerui/android/reference/assets/text/Text.kt
Owners: @player-ui/android-reviewers

fix compose neverlink
  .bazelrc
  android/defs.bzl
  android/player/BUILD
  android/player/src/androidTest/kotlin/com/intuit/playerui/android/AssetContextAndroidTest.kt
  android/testutils/BUILD
  android/testutils/src/main/kotlin/com/intuit/playerui/android/testutils/asset/Assertions.kt
  jvm/BUILD
  jvm/empty.jar
  jvm/hermes/src/main/jni/BUILD
  jvm/testutils/BUILD
  plugins/defs.bzl
Owners: @player-ui/reviewers, @player-ui/android-reviewers

android demo mobile-install
  .bazelrc
  android/demo/BUILD
  android/demo/deps.bzl
  justfile
  plugins/reference-assets/android/BUILD
Owners: @player-ui/reviewers, @player-ui/android-reviewers

alias kt_* if they follow typical structure
  android/defs.bzl
  android/demo/deps.bzl
  android/player/BUILD
  android/player/src/main/kotlin/com/intuit/playerui/android/AndroidPlayer.kt
  android/player/src/main/kotlin/com/intuit/playerui/android/compose/AssetStyle.kt
  android/player/src/main/kotlin/com/intuit/playerui/android/compose/ComposableAsset.kt
  android/testutils/BUILD
  jvm/core/BUILD
  jvm/defs.bzl
  jvm/hermes/BUILD
  plugins/async-node/jvm/BUILD
  plugins/beacon/jvm/BUILD
  plugins/external-action/jvm/BUILD
  plugins/reference-assets/android/BUILD
Owners: @player-ui/android-reviewers

j2v8-debugger neverlink
  jvm/j2v8/BUILD
  jvm/j2v8/libs/BUILD
Owners: @player-ui/android-reviewers

android demo kt_android wip
  android/demo/BUILD
  android/demo/deps.bzl
  android/demo/src/main/kotlin/com/intuit/playerui/android/reference/demo/lifecycle/DemoPlayerViewModel.kt
  android/demo/src/main/kotlin/com/intuit/playerui/android/reference/demo/model/AssetMock.kt
  android/demo/src/main/kotlin/com/intuit/playerui/android/reference/demo/model/StringMock.kt
  android/demo/src/main/kotlin/com/intuit/playerui/android/reference/demo/ui/base/BasePlayerFragment.kt
  android/demo/src/main/kotlin/com/intuit/playerui/android/reference/demo/ui/main/MainActivity.kt
  android/demo/src/main/kotlin/com/intuit/playerui/android/reference/demo/ui/main/MainViewModel.kt
  android/demo/src/main/kotlin/com/intuit/playerui/android/reference/demo/ui/player/DemoPlayerFragment.kt
  android/demo/src/main/kotlin/com/intuit/playerui/android/reference/demo/ui/splash/SplashActivity.kt
  android/demo/src/main/kotlin/com/intuit/playerui/android/reference/demo/ui/start/StartFragment.kt
  android/demo/src/main/res/values/strings.xml
  plugins/reference-assets/android/BUILD
Owners: @player-ui/android-reviewers

fix AndroidLibraryAarInfo usage
  MODULE.bazel
  jvm/hermes/defs.bzl
Owners: @player-ui/reviewers, @player-ui/android-reviewers

working android ui tests
  android/demo/BUILD
  android/demo/scripts/androidinstall.sh
  android/demo/scripts/androidtest.sh
  android/demo/src/androidTest/AndroidManifest.xml
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/MainActivityTest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/SplashActivityTest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/assets/action/ActionUITest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/assets/badge/BadgeUITest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/assets/collection/CollectionUITest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/assets/info/InfoUITest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/assets/input/InputUITest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/assets/text/TextUITest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/base/Assertions.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/base/AssetUITest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/base/ComposeUITest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/base/Matchers.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/base/PerformanceTest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/fragment/PlayerFragmentScrollingTest.kt
  android/demo/src/main/assets/mocks/badge/badge-all.json
Owners: @player-ui/android-reviewers

use pushed rules_player
  MODULE.bazel
  MODULE.bazel.lock
Owners: @player-ui/reviewers

fix demo app
  MODULE.bazel
  android/demo/BUILD
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/assets/action/ActionUITest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/assets/badge/BadgeUITest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/assets/collection/CollectionUITest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/assets/info/InfoUITest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/assets/input/InputUITest.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/base/Assertions.kt
  jvm/BUILD
  jvm/core/BUILD
  jvm/defs.bzl
  jvm/dependencies/BUILD
  jvm/dependencies/common.bzl
  jvm/dependencies/versions.bzl
  jvm/hermes/defs.bzl
  libs.versions.toml
  maven-lock.json
  plugins/defs.bzl
Owners: @player-ui/reviewers, @player-ui/android-reviewers

libs.versions.toml
  MODULE.bazel
  justfile
  libs.versions.toml
  maven-lock.json
Owners: @player-ui/reviewers

enable hermes-host for internal builds
  jvm/hermes/BUILD
  jvm/testutils/BUILD
Owners: @player-ui/android-reviewers

fix publishing
  .bazelversion
  MODULE.bazel
  jvm/testutils/BUILD
  tools/mocks/BUILD
Owners: @player-ui/reviewers, @player-ui/android-reviewers

fix android ui tests
  android/defs.bzl
  android/testutils/BUILD
  android/testutils/src/main/kotlin/com/intuit/playerui/android/testutils/asset/AssetTest.kt
Owners: @player-ui/android-reviewers

fix mockk
  justfile
  libs.versions.toml
  maven-lock.json
Owners: @player-ui/reviewers

let format invokations fail
  justfile
Owners: @player-ui/reviewers

Pin mdast-util-from-markdown
  package.json
  pnpm-lock.yaml
Owners: @player-ui/reviewers

fix android platforms
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  third_party/fbjni/artifact.BUILD
  third_party/rn/BUILD
  third_party/rn/hermes_android.BUILD
Owners: @player-ui/reviewers

no rsync
  third_party/fbjni/extract_headers.bzl
Owners: @player-ui/reviewers

configure ktlint
  .editorconfig
  jvm/BUILD
Owners: @player-ui/reviewers, @player-ui/android-reviewers

random fixes + enable coverage on jvm/android targets
  .bazelrc
  .circleci/config.yml
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/Player.kt
  plugins/reference-assets/swiftui/ViewInspector/SwiftUI/ActionAssetTests.swift
Owners: @player-ui/reviewers, @player-ui/android-reviewers, @player-ui/ios-reviewers

remove outdated todo
  libs.versions.toml
Owners: @player-ui/reviewers

rest of lint fixes
  .editorconfig
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/base/Matchers.kt
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/base/PerformanceTest.kt
  android/player/src/main/kotlin/com/intuit/playerui/android/AndroidPlayer.kt
  android/player/src/main/kotlin/com/intuit/playerui/android/Constants.kt
  android/player/src/test/kotlin/com/intuit/playerui/android/lifecycle/PlayerViewModelTest.kt
  android/player/src/test/kotlin/com/intuit/playerui/android/logger/AndroidLoggerTest.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/Node.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/Promise.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/runtime/PlayerRuntimeContainer.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/runtime/Runtime.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/HeadlessPlayer.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/Player.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/state/PlayerFlowState.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/plugins/RuntimePlugin.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/plugins/logging/PlayerLoggingFactory.kt
  jvm/core/src/test/kotlin/com/intuit/playerui/core/bridge/runtime/RuntimeBlockingTest.kt
  jvm/hermes/src/main/kotlin/com/intuit/playerui/hermes/bridge/runtime/HermesRuntime.kt
  jvm/hermes/src/main/kotlin/com/intuit/playerui/hermes/extensions/Lock.kt
  jvm/j2v8/src/main/kotlin/com/intuit/playerui/j2v8/bridge/V8ObjectWrapper.kt
  jvm/j2v8/src/main/kotlin/com/intuit/playerui/j2v8/bridge/runtime/V8Runtime.kt
  jvm/j2v8/src/test/kotlin/com/intuit/playerui/j2v8/bridge/serialization/V8DecoderTest.kt
  jvm/utils/src/main/kotlin/com/intuit/playerui/utils/mocks/Mock.kt
  plugins/async-node/jvm/src/main/kotlin/com/intuit/playerui/plugins/asyncnode/AsyncNodePlugin.kt
  plugins/beacon/jvm/src/main/kotlin/com/intuit/playerui/plugins/beacon/BeaconPlugin.kt
  plugins/check-path/jvm/src/main/kotlin/com/intuit/playerui/plugins/checkpath/CheckPathPlugin.kt
  plugins/expression/jvm/src/main/kotlin/com/intuit/playerui/plugins/expression/ExpressionPlugin.kt
  plugins/external-action/jvm/src/main/kotlin/com/intuit/playerui/plugins/externalAction/ExternalActionPlugin.kt
  plugins/metrics/jvm/src/main/kotlin/com/intuit/playerui/plugins/metrics/MetricsPlugin.kt
  plugins/pubsub/jvm/src/main/kotlin/com/intuit/playerui/plugins/pubsub/PubSubPlugin.kt
Owners: @player-ui/reviewers, @player-ui/android-reviewers

fix broken tests
  android/demo/src/androidTest/kotlin/com/intuit/playerui/android/reference/demo/test/base/PerformanceTest.kt
  justfile
  jvm/j2v8/src/test/kotlin/com/intuit/playerui/j2v8/bridge/serialization/V8DecoderTest.kt
  jvm/perf/src/main/kotlin/com/intuit/playerui/perf/jmh/PlayerPerf.kt
Owners: @player-ui/android-reviewers, @player-ui/reviewers

add hermes host for local android tests
  android/player/BUILD
  plugins/reference-assets/android/BUILD
Owners: @player-ui/android-reviewers

.github/CODEOWNERS:

# Fallback
* @player-ui/reviewers

# Core
**/core @player-ui/reviewers

# Android/JVM
**/jvm @player-ui/android-reviewers
**/android @player-ui/android-reviewers

# iOS
/xcode/ @player-ui/ios-reviewers
**/ios @player-ui/ios-reviewers
**/swiftui @player-ui/ios-reviewers

# Web
**/react @player-ui/web-reviewers
**/storybook @player-ui/web-reviewers
