Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adierkens, @KetanReddy, @sugarmanz, @Brocollie08, @hborawski, @spentacular

[android#287]: scroll to top when navigating to a new view
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/fragment/PlayerFragmentScrollingTest.kt
  android/demo/src/main/assets/mocks/misc/long-multi-view.json
  android/player/src/main/java/com/intuit/player/android/ui/PlayerFragment.kt
Owners: @sugarmanz, @Brocollie08

Make views in Flow nullable
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/flow/Flow.kt
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/player/HeadlessPlayerTest.kt
Owners: @sugarmanz, @Brocollie08

clear guideline for top level render function
  android/player/src/main/java/com/intuit/player/android/asset/RenderableAsset.kt
Owners: @sugarmanz, @Brocollie08

fix bazel intellij sync
  WORKSPACE
  android/demo/BUILD
Owners: @adierkens, @sugarmanz, @Brocollie08

add error handling during asset expansion
  android/player/src/main/java/com/intuit/player/android/AndroidPlayer.kt
Owners: @sugarmanz, @Brocollie08

[jvm#230]: automatic deserializes functions and invokables
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/bridge/Invokable.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/bridge/serialization/encoding/AbstractRuntimeValueDecoders.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/bridge/serialization/encoding/NodeDecoders.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/bridge/serialization/format/RuntimeFormat.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/bridge/serialization/serializers/FunctionSerializers.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/bridge/serialization/serializers/module.kt
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/serialization/NodeSerializationTest.kt
  jvm/graaljs/src/main/kotlin/com/intuit/player/jvm/graaljs/bridge/serialization/encoding/GraalDecoders.kt
  jvm/j2v8/src/main/kotlin/com/intuit/player/jvm/j2v8/bridge/serialization/encoding/V8Decoders.kt
  jvm/j2v8/src/test/kotlin/com/intuit/player/jvm/j2v8/bridge/serialization/V8DecoderTest.kt
Owners: @sugarmanz, @Brocollie08

[jvm#243] debuggable v8
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/bridge/Promise.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/bridge/runtime/PlayerRuntimeConfig.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/bridge/runtime/Runtime.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/player/HeadlessPlayer.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/plugins/JSScriptPluginWrapper.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/utils/future.kt
  jvm/graaljs/src/main/kotlin/com/intuit/player/jvm/graaljs/bridge/runtime/GraalRuntime.kt
  jvm/j2v8/deps.bzl
  jvm/j2v8/libs/BUILD
  jvm/j2v8/libs/j2v8_debugger_no_op.jar
  jvm/j2v8/libs/stetho.jar
  jvm/j2v8/src/main/kotlin/com/intuit/player/jvm/j2v8/bridge/runtime/V8Runtime.kt
  jvm/j2v8/src/main/kotlin/com/intuit/player/jvm/j2v8/plugins/V8ScriptPlayerPlugin.kt
  jvm/testutils/src/main/kotlin/com/intuit/player/jvm/utils/test/PlayerTest.kt
  plugins/beacon/jvm/src/main/kotlin/com/intuit/player/plugins/beacon/BeaconPlugin.kt
  plugins/expression/jvm/src/main/kotlin/com/intuit/player/plugins/expression/ExpressionPlugin.kt
  plugins/external-action/jvm/src/main/kotlin/com/intuit/player/plugins/externalAction/ExternalActionPlugin.kt
  plugins/metrics/jvm/src/main/kotlin/com/intuit/player/jvm/plugins/metrics/MetricsPlugin.kt
  plugins/pubsub/jvm/src/main/kotlin/com/intuit/player/plugins/pubsub/PubSubPlugin.kt
Owners: @sugarmanz, @Brocollie08, @adierkens

SetTimeoutPlugin exception handling enhancement pt. 1
  plugins/set-time-out/jvm/src/main/kotlin/com/intuit/player/plugins/settimeout/SetTimeoutPlugin.kt
Owners: @adierkens

[jvm#224]: hooks@0.15.0
  jvm/dependencies/versions.bzl
Owners: @sugarmanz, @Brocollie08

lint
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/bridge/hooks/NodeSyncHook.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/bridge/serialization/serializers/NodeSerializableField.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/player/Player.kt
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/bridge/serialization/serializers/NodeSerializableFieldTest.kt
Owners: @sugarmanz, @Brocollie08

viewmodel tests
  android/player/api/player.api
  android/player/src/main/java/com/intuit/player/android/AndroidPlayer.kt
  android/player/src/main/java/com/intuit/player/android/lifecycle/PlayerViewModel.kt
  android/player/src/test/java/android/util/Log.kt
  android/player/src/test/java/com/intuit/player/android/AndroidPlayerTest.kt
  android/player/src/test/java/com/intuit/player/android/AssetContextTest.kt
  android/player/src/test/java/com/intuit/player/android/lifecycle/PlayerViewModelTest.kt
  android/player/src/test/java/com/intuit/player/android/logger/AndroidLoggerTest.kt
  android/player/src/test/java/com/intuit/player/android/renderer/BrokenAssetTest.kt
  android/player/src/test/java/com/intuit/player/android/renderer/SimpleAssetTest.kt
  android/player/src/test/java/com/intuit/player/android/utils/BrokenAsset.kt
  android/player/src/test/java/com/intuit/player/android/utils/TestAssetsPlugin.kt
Owners: @sugarmanz, @Brocollie08

guard against logging on release due to weird timing
  android/player/src/main/java/com/intuit/player/android/lifecycle/PlayerViewModel.kt
  android/player/src/test/java/com/intuit/player/android/lifecycle/PlayerViewModelTest.kt
Owners: @sugarmanz, @Brocollie08

M1 J2V8 Support
  jvm/j2v8/libs/BUILD
Owners: @sugarmanz, @Brocollie08

[android#265]: fix orientation change reset
  android/demo/deps.bzl
  android/demo/src/main/java/com/intuit/player/android/reference/demo/ui/main/MainActivity.kt
  android/demo/src/main/java/com/intuit/player/android/reference/demo/ui/main/MainViewModel.kt
Owners: @sugarmanz, @Brocollie08

fix test
  android/player/src/test/java/com/intuit/player/android/lifecycle/PlayerViewModelTest.kt
Owners: @sugarmanz, @Brocollie08

SetTimeoutPlugin exception handling enhancement pt. 2
  plugins/set-time-out/jvm/src/test/kotlin/com.intuit.player.plugins.settimeout/SetTimeoutPluginTest.kt
Owners: @adierkens

support null contextual serialization for assets
  android/player/src/main/java/com/intuit/player/android/asset/RenderableAsset.kt
Owners: @sugarmanz, @Brocollie08

[jvm#240]: fix testutils node
  jvm/testutils/src/main/kotlin/com/intuit/player/jvm/testutils/Node.kt
Owners: @sugarmanz, @Brocollie08

[android#286]: `SuspendableAsset`
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/MainActivityTest.kt
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/SplashActivityTest.kt
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/assets/action/ActionUITest.kt
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/assets/collection/CollectionUITest.kt
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/assets/info/InfoUITest.kt
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/assets/input/InputUITest.kt
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/assets/text/TextUITest.kt
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/base/ApplitoolsTest.kt
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/base/AssetUITest.kt
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/base/matchers.kt
  android/demo/src/main/java/com/intuit/player/android/reference/demo/ui/base/BasePlayerFragment.kt
  android/demo/src/main/java/com/intuit/player/android/reference/demo/ui/start/StartFragment.kt
  android/player/src/main/java/com/intuit/player/android/AndroidPlayer.kt
  android/player/src/main/java/com/intuit/player/android/asset/DecodableAsset.kt
  android/player/src/main/java/com/intuit/player/android/asset/RenderableAsset.kt
  android/player/src/main/java/com/intuit/player/android/asset/SuspendableAsset.kt
  android/player/src/main/java/com/intuit/player/android/extensions/into.kt
  android/player/src/main/java/com/intuit/player/android/lifecycle/PlayerViewModel.kt
  android/player/src/main/java/com/intuit/player/android/ui/PlayerFragment.kt
  android/player/src/main/res/values/tags.xml
  android/player/src/test/java/android/util/Log.kt
  android/player/src/test/java/com/intuit/player/android/AndroidPlayerTest.kt
  android/player/src/test/java/com/intuit/player/android/lifecycle/PlayerViewModelTest.kt
  android/player/src/test/java/com/intuit/player/android/renderer/BaseRenderableAssetTest.kt
  android/player/src/test/java/com/intuit/player/android/renderer/HydrationScopeTest.kt
  android/player/src/test/java/com/intuit/player/android/renderer/NestedAssetTest.kt
  android/player/src/test/java/com/intuit/player/android/utils/NestedAsset.kt
  android/player/src/test/java/com/intuit/player/android/utils/OtherSimpleAsset.kt
  android/player/src/test/java/com/intuit/player/android/utils/SimpleAsset.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/action/ActionTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/info/InfoTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/input/InputTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/test/AssetTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/player/android/reference/assets/test/assertions.kt
  plugins/reference-assets/android/src/main/java/com/intuit/player/android/reference/assets/action/Action.kt
  plugins/reference-assets/android/src/main/java/com/intuit/player/android/reference/assets/collection/Collection.kt
  plugins/reference-assets/android/src/main/java/com/intuit/player/android/reference/assets/info/Info.kt
  plugins/reference-assets/android/src/main/java/com/intuit/player/android/reference/assets/input/Input.kt
  plugins/reference-assets/android/src/main/java/com/intuit/player/android/reference/assets/text/Text.kt
Owners: @sugarmanz, @Brocollie08, @adierkens

expose V8 params in psuedo constructors
  jvm/core/api/core.api
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/player/HeadlessPlayer.kt
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/player/HeadlessPlayerTest.kt
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/player/state/InProgressStateTest.kt
  jvm/j2v8/api/j2v8.api
  jvm/j2v8/src/main/kotlin/com/intuit/player/jvm/j2v8/bridge/runtime/V8Runtime.kt
Owners: @sugarmanz, @Brocollie08

working demo app
  WORKSPACE
  android/demo/deps.bzl
  android/player/BUILD
  android/player/deps.bzl
  android/player/src/main/java/com/intuit/player/android/lifecycle/PlayerViewModel.kt
  jvm/BUILD
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/bridge/hooks/NodeHook.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/player/HeadlessPlayer.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/player/JSPlayerConfig.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/plugins/JSScriptPluginWrapper.kt
  jvm/dependencies/versions.bzl
  jvm/j2v8/src/main/kotlin/com/intuit/player/jvm/j2v8/extensions/HandleValue.kt
  jvm/j2v8/src/test/kotlin/com/intuit/player/jvm/j2v8/bridge/serialization/serializers/ThrowableSerializerTest.kt
  jvm/perf/src/main/kotlin/com/intuit/player/jvm/perf/jmh/PlayerPerf.kt
Owners: @adierkens, @sugarmanz, @Brocollie08

lint
  android/player/src/test/java/com/intuit/player/android/lifecycle/PlayerViewModelTest.kt
Owners: @sugarmanz, @Brocollie08

[android#292] android debuggable v8
  WORKSPACE
  android/demo/deps.bzl
  android/demo/src/main/java/com/intuit/player/android/reference/demo/lifecycle/DemoPlayerViewModel.kt
  android/demo/src/main/java/com/intuit/player/android/reference/demo/ui/base/BasePlayerFragment.kt
  android/player/src/main/java/com/intuit/player/android/AndroidPlayer.kt
  android/player/src/main/java/com/intuit/player/android/debug/UnsupportedScriptProvider.kt
  android/player/src/main/java/com/intuit/player/android/lifecycle/PlayerViewModel.kt
  jvm/dependencies/versions.bzl
Owners: @adierkens, @sugarmanz, @Brocollie08

all //jvm tests passing
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/bridge/hooks/NodeHook.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/bridge/serialization/serializers/ThrowableSerializer.kt
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/bridge/PromiseTest.kt
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/bridge/hooks/NodeSyncBailHookTest.kt
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/bridge/hooks/NodeSyncHookTest.kt
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/bridge/hooks/NodeSyncWaterfallHookTest.kt
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/player/HeadlessPlayerTest.kt
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/player/state/ErrorStateTest.kt
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/view/ViewControllerHooksTest.kt
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/view/ViewHooksTest.kt
  jvm/dependencies/versions.bzl
  jvm/j2v8/deps.bzl
  jvm/j2v8/libs/BUILD
  jvm/j2v8/libs/stetho.jar
  jvm/j2v8/src/test/kotlin/com/intuit/player/jvm/j2v8/bridge/serialization/serializers/ThrowableSerializerTest.kt
  jvm/utils/src/main/kotlin/com/intuit/player/jvm/utils/StackTraceElements.kt
Owners: @sugarmanz, @Brocollie08

fix build file
  jvm/j2v8/libs/BUILD
Owners: @sugarmanz, @Brocollie08

[android#269]: PlayerViewModel::runtime null safety
  android/player/src/main/java/com/intuit/player/android/lifecycle/PlayerViewModel.kt
  android/player/src/test/java/com/intuit/player/android/lifecycle/PlayerViewModelTest.kt
Owners: @sugarmanz, @Brocollie08

[android#276]: asset handler hook
  android/player/src/main/java/com/intuit/player/android/AndroidPlayer.kt
Owners: @sugarmanz, @Brocollie08

[jvm#239]: `JSErrorException` enhancement
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/bridge/JSErrorException.kt
Owners: @sugarmanz, @Brocollie08

lint
  plugins/set-time-out/jvm/src/main/kotlin/com/intuit/player/plugins/settimeout/SetTimeoutPlugin.kt
Owners: @adierkens

[jvm#235]: local class discriminators
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/bridge/serialization/serializers/NodeSerializers.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/bridge/serialization/serializers/module.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/flow/state/NavigationFlowState.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/player/state/PlayerFlowState.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/validation/ValidationResponse.kt
  plugins/metrics/jvm/src/main/kotlin/com/intuit/player/jvm/plugins/metrics/metrics.kt
Owners: @sugarmanz, @Brocollie08, @adierkens

add coroutine-test import to android player package
  android/player/deps.bzl
  android/player/src/test/java/com/intuit/player/android/lifecycle/PlayerViewModelTest.kt
Owners: @sugarmanz, @Brocollie08

replace deprecated channel method
  android/player/src/test/java/com/intuit/player/android/utils/updates.kt
Owners: @sugarmanz, @Brocollie08

[jvm#241]: `NavigationFlowEndState.param` helper
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/bridge/Node.kt
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/flow/state/NavigationFlowState.kt
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/player/HeadlessPlayerTest.kt
Owners: @sugarmanz, @Brocollie08

ensure test target fails on failure
  .circleci/config.yml
  android/demo/scripts/androidtest.sh
Owners: @adierkens, @sugarmanz, @Brocollie08

fix instrumented android tests
  android/build.bzl
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/assets/action/ActionUITest.kt
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/assets/collection/CollectionUITest.kt
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/assets/info/InfoUITest.kt
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/assets/input/InputUITest.kt
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/assets/text/TextUITest.kt
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/base/AssetUITest.kt
Owners: @sugarmanz, @Brocollie08

lint
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/assets/input/InputUITest.kt
Owners: @sugarmanz, @Brocollie08

bootstrap intents break everything
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/base/AssetUITest.kt
Owners: @sugarmanz, @Brocollie08

androidx orchestrator
  WORKSPACE
  android/demo/BUILD
  android/demo/scripts/androidtest.sh
Owners: @adierkens, @sugarmanz, @Brocollie08

preprocessor macro working for resources in and out of bazel?
  newios/BUILD.bazel
  newios/Player.xcodeproj/project.pbxproj
  newios/Player.xcodeproj/rules_xcodeproj/bazel/Debug-swift_debug_settings.py
  newios/Player.xcodeproj/rules_xcodeproj/generated.xcfilelist
  newios/Player.xcodeproj/xcshareddata/xcschemes/PlayerUIDemo.xcscheme
  newios/Player.xcodeproj/xcshareddata/xcschemes/PlayerUITests (Unit Tests).xcscheme
  newios/Resources/Info.plist
  newios/Sources/core/CorePlugins/JSBasePlugin.swift
  newios/Sources/core/Resources/BUILD.bazel
  newios/Sources/demo/App.swift
Owners: @adierkens

test host not needed for unit test resources
  newios/BUILD.bazel
  newios/Sources/core/CorePlugins/JSBasePlugin.swift
  newios/Sources/core/Player/HeadlessPlayer.swift
Owners: @adierkens

.github/CODEOWNERS:

# Fallback
* @adierkens

# Other
/docs/ @KetanReddy @adierkens

# Android/JVM

/jvm/ @sugarmanz @Brocollie08
/android/ @sugarmanz @Brocollie08

# iOS
/xcode/ @hborawski
/ios/ @hborawski

# Web
/react/ @spentacular @adierkens
/tools/storybook/ @adierkens

# Core
/core/ @KetanReddy @adierkens
