Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @player-ui/reviewers, @player-ui/android-reviewers, @player-ui/ios-reviewers, @player-ui/web-reviewers

.github/CODEOWNERS:

# Fallback
* @player-ui/reviewers

# Core
**/core @player-ui/reviewers

# Android/JVM
**/jvm @player-ui/android-reviewers
**/android @player-ui/android-reviewers

# iOS
/xcode/ @player-ui/ios-reviewers
**/ios @player-ui/ios-reviewers
**/swiftui @player-ui/ios-reviewers

# Web
**/react @player-ui/web-reviewers
**/storybook @player-ui/web-reviewers

set flatMap to just map in resolver
  core/player/src/view/resolver/index.ts
Owners: @player-ui/reviewers

write more tests. remove parseMultiNode and improve multi node view plugin implementation
  core/player/src/view/parser/index.ts
  core/player/src/view/parser/types.ts
  core/player/src/view/plugins/__tests__/multi-node.test.ts
  core/player/src/view/plugins/multi-node.ts
  core/player/src/view/resolver/index.ts
  core/player/src/view/resolver/types.ts
  core/player/src/view/view.ts
  plugins/async-node/core/src/__tests__/index.test.ts
  plugins/async-node/core/src/index.ts
Owners: @player-ui/reviewers

remove unused arg from async transform
  plugins/async-node/core/src/types.ts
  plugins/reference-assets/core/src/assets/chat-message/transform.ts
Owners: @player-ui/reviewers

add more tests for extractNodeFromPath
  plugins/async-node/core/src/utils/__tests__/extractNodeFromPath.test.ts
  plugins/async-node/core/src/utils/extractNodeFromPath.ts
Owners: @player-ui/reviewers

update test names in createAsyncTransform.test.ts
  plugins/async-node/core/src/__tests__/createAsyncTransform.test.ts
Owners: @player-ui/reviewers

add extra test case for binding queries
  core/player/src/binding-grammar/__tests__/test-utils/ast-cases.ts
Owners: @player-ui/reviewers

undo default flatten value for async transform
  plugins/async-node/core/src/transform.ts
Owners: @player-ui/reviewers

support boolean values in binding queries (#703)
  core/player/src/binding-grammar/__tests__/parser.test.ts
  core/player/src/binding-grammar/__tests__/test-utils/ast-cases.ts
  core/player/src/binding-grammar/ast.ts
  core/player/src/binding-grammar/custom/index.ts
  core/player/src/binding/__tests__/resolver.test.ts
  core/player/src/binding/resolver.ts
Owners: @player-ui/reviewers

preserve existing async nodes resolved array in AsyncNodePluginPlugin
  plugins/async-node/core/src/index.ts
Owners: @player-ui/reviewers

improve async node flattening and apply resolver cache to async nodes (#694)
  core/player/src/view/__tests__/view.test.ts
  core/player/src/view/builder/index.ts
  core/player/src/view/parser/index.ts
  core/player/src/view/parser/types.ts
  core/player/src/view/plugins/__tests__/multi-node.test.ts
  core/player/src/view/plugins/multi-node.ts
  core/player/src/view/resolver/__tests__/index.test.ts
  core/player/src/view/resolver/index.ts
  core/player/src/view/view.ts
  docs/site/src/content/docs/plugins/multiplatform/async-node.mdx
  plugins/async-node/core/src/__tests__/__snapshots__/transform.test.ts.snap
  plugins/async-node/core/src/__tests__/createAsyncTransform.test.ts
  plugins/async-node/core/src/__tests__/index.test.ts
  plugins/async-node/core/src/__tests__/transform.bench.ts
  plugins/async-node/core/src/createAsyncTransform.ts
  plugins/async-node/core/src/index.ts
  plugins/async-node/core/src/transform.ts
  plugins/async-node/core/src/types.ts
  plugins/async-node/core/src/utils/__tests__/extractNodeFromPath.test.ts
  plugins/async-node/core/src/utils/__tests__/traverseAndReplace.test.ts
  plugins/async-node/core/src/utils/__tests__/unwrapAsset.test.ts
  plugins/async-node/core/src/utils/extractNodeFromPath.ts
  plugins/async-node/core/src/utils/index.ts
  plugins/async-node/core/src/utils/traverseAndReplace.ts
  plugins/async-node/core/src/utils/unwrapAsset.ts
  plugins/reference-assets/core/src/assets/chat-message/transform.ts
Owners: @player-ui/reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/reviewers

[PLAYA-9764] Do not add react to tsup config
  BUILD.bazel
Owners: @player-ui/reviewers

Migrate contributing docs to docs site
  CONTRIBUTING.md
  DEV_GUIDE.md
  android/demo/README.md
  docs/site/astro.config.mjs
  docs/site/src/components/Sidebar.astro
  docs/site/src/content/docs/contributing/android.mdx
  docs/site/src/content/docs/contributing/core-web.mdx
  docs/site/src/content/docs/contributing/index.mdx
  docs/site/src/content/docs/contributing/ios.mdx
  docs/site/src/content/docs/contributing/new-contributors.mdx
  docs/site/src/content/docs/contributing/troubleshooting.mdx
  ios/README.md
Owners: @player-ui/reviewers, @player-ui/android-reviewers, @player-ui/ios-reviewers

Use more astro components, remove AI content
  docs/site/src/content/docs/contributing/android.mdx
  docs/site/src/content/docs/contributing/core-web.mdx
  docs/site/src/content/docs/contributing/index.mdx
  docs/site/src/content/docs/contributing/ios.mdx
  docs/site/src/content/docs/contributing/new-contributors.mdx
  docs/site/src/content/docs/contributing/troubleshooting.mdx
Owners: @player-ui/reviewers

Document how to fix cache corruption
  .bazelrc
  docs/site/src/content/docs/contributing/troubleshooting.mdx
Owners: @player-ui/reviewers

Migrate contributing docs to docs site
  .bazelrc
  CONTRIBUTING.md
  DEV_GUIDE.md
  android/demo/README.md
  docs/site/astro.config.mjs
  docs/site/src/components/Sidebar.astro
  docs/site/src/content/docs/contributing/android.mdx
  docs/site/src/content/docs/contributing/core-web.mdx
  docs/site/src/content/docs/contributing/index.mdx
  docs/site/src/content/docs/contributing/ios.mdx
  docs/site/src/content/docs/contributing/new-contributors.mdx
  docs/site/src/content/docs/contributing/troubleshooting.mdx
  ios/README.md
Owners: @player-ui/reviewers, @player-ui/android-reviewers, @player-ui/ios-reviewers

Fix AI issue; restore deps example
  docs/site/src/content/docs/contributing/core-web.mdx
Owners: @player-ui/reviewers

Document cache error and how to fix it
  ios/README.md
Owners: @player-ui/ios-reviewers

complexity and metrics docs added
  docs/site/src/content/docs/capabilities/complexity-check.mdx
  docs/site/src/content/docs/capabilities/metrics-output.mdx
Owners: @player-ui/reviewers

moving to plugins section
  docs/site/src/content/docs/plugins/language/complexity-check.mdx
  docs/site/src/content/docs/plugins/language/metrics-output.mdx
Owners: @player-ui/reviewers

update to Bazel 7 and fix XCode generation
  .bazelversion
  BUILD.bazel
  MODULE.bazel
  ios/core/BUILD.bazel
  ios/logger/BUILD.bazel
  ios/swiftui/BUILD.bazel
  patches/rules_kotlin.context_receivers.patch
  plugins/reference-assets/swiftui/BUILD.bazel
Owners: @player-ui/reviewers, @player-ui/ios-reviewers

ios bazel 8
  .bazelrc
  .bazelversion
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE
  ios/BUILD.bazel
  shell.bzl
Owners: @player-ui/reviewers, @player-ui/ios-reviewers

ios working on bazel 8
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
Owners: @player-ui/reviewers

[wip] ios test debug
  MODULE.bazel
  MODULE.bazel.lock
  ios/swiftui/ViewInspector/ManagedPlayer/ManagedPlayerTests.swift
  jvm/defs.bzl
  plugins/async-node/ios/ViewInspector/AsynNodePluginViewInspectorTests.swift
  tools/ios/util.bzl
  xcode/Package.resolved
  xcode/Package.swift
Owners: @player-ui/reviewers, @player-ui/ios-reviewers, @player-ui/android-reviewers

ViewInspectors tests need @MainActor
  MODULE.bazel
  plugins/reference-assets/swiftui/UITests/ManagedPlayerUITests.swift
  plugins/reference-assets/swiftui/ViewInspector/SwiftUI/ActionAssetTests.swift
  plugins/reference-assets/swiftui/ViewInspector/SwiftUI/CollectionAssetTests.swift
  plugins/reference-assets/swiftui/ViewInspector/SwiftUI/InfoAssetTests.swift
  plugins/reference-assets/swiftui/ViewInspector/SwiftUI/InputAssetTests.swift
  plugins/reference-assets/swiftui/ViewInspector/SwiftUI/TextAssetTests.swift
Owners: @player-ui/reviewers, @player-ui/ios-reviewers

use pushed rules_player
  MODULE.bazel
Owners: @player-ui/reviewers

Update CONTRIBUTING to have iOS happy path
  CONTRIBUTING.md
  ios/README.md
Owners: @player-ui/reviewers, @player-ui/ios-reviewers

wip android (working //android/demo:install)
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE.bzlmod
  android/demo/src/main/res/values/strings.xml
  android/player/BUILD
  android/player/deps.bzl
  build_constants.bzl
  jvm/BUILD
  jvm/core/BUILD
  jvm/core/deps.bzl
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/Player.kt
  jvm/defs.bzl
  jvm/dependencies/common.bzl
  jvm/graaljs/deps.bzl
  jvm/hermes/BUILD
  jvm/hermes/defs.bzl
  jvm/hermes/deps.bzl
  jvm/j2v8/defs.bzl
  jvm/j2v8/deps.bzl
  jvm/j2v8/libs/BUILD
  jvm/perf/BUILD
  jvm/testutils/deps.bzl
  package.json
  plugins/async-node/jvm/deps.bzl
  plugins/defs.bzl
  plugins/metrics/jvm/deps.bzl
  plugins/pubsub/jvm/deps.bzl
  plugins/reference-assets/android/defs.bzl
  pnpm-lock.yaml
  third_party/fbjni/BUILD
Owners: @player-ui/reviewers, @player-ui/android-reviewers

Some more formatting whoops
  CONTRIBUTING.md
Owners: @player-ui/reviewers

Update based on contributing feedback
  CONTRIBUTING.md
Owners: @player-ui/reviewers

Use xcode 16
  .circleci/config.yml
Owners: @player-ui/reviewers

bazelignore xcode/.build
  .bazelignore
Owners: @player-ui/reviewers

bump pnpm, node, and use release version of player rules
  MODULE.bazel
  MODULE.bazel.lock
  docs/site/src/content/docs/authoring/index.mdx
  docs/site/src/content/docs/authoring/schema.mdx
  docs/site/src/content/docs/authoring/views.mdx
  jvm/perf/BUILD
  package.json
  plugins/reference-assets/components/BUILD
  plugins/reference-assets/mocks/BUILD
  third_party/fbjni/BUILD
  tools/mocks/BUILD
  tools/mocks/generate_dsl_targets.bzl
  tools/mocks/generate_mocks_manifest.bzl
Owners: @player-ui/reviewers, @player-ui/android-reviewers

[skip ci] during release, prebuild js packages in parallel
  scripts/release.sh
Owners: @player-ui/reviewers

Omit viewinspector tests for ios test utils
  ios/test-utils-core/BUILD.bazel
Owners: @player-ui/ios-reviewers

remove android parts of ios builds, bump sim version
  .bazelrc
  .circleci/config.yml
Owners: @player-ui/reviewers

fix android/player tests
  android/player/BUILD
Owners: @player-ui/android-reviewers

bump iOS version to align with sim
  .bazelrc
  .circleci/config.yml
  webpack.config.js
Owners: @player-ui/reviewers

tweak ci flags
  .bazelrc
  .circleci/config.yml
Owners: @player-ui/reviewers

[PLAYA-9608] Lint-fix Android
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/MainActivityTest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/SplashActivityTest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/action/ActionUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/badge/BadgeUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/collection/CollectionUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/info/InfoUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/input/InputUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/text/TextUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/base/Assertions.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/base/AssetUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/base/ComposeUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/base/Matchers.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/base/PerformanceTest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/fragment/PlayerFragmentScrollingTest.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/lifecycle/DemoPlayerViewModel.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/model/AssetMock.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/base/BasePlayerFragment.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/main/MainActivity.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/main/MainViewModel.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/player/DemoPlayerFragment.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/splash/SplashActivity.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/start/StartFragment.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/ReferenceAssetsPlugin.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/XmlStyleParser.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/action/Action.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/badge/Badge.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/collection/Collection.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/info/Info.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/input/FormattedEditText.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/input/Input.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/text/Text.kt
Owners: @player-ui/android-reviewers
