Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @player-ui/reviewers, @player-ui/android-reviewers, @player-ui/ios-reviewers, @player-ui/web-reviewers

enable abi jars
  jvm/BUILD
Owners: @player-ui/android-reviewers

re-disable coverage on jvm/android due to lcov issues
  .circleci/config.yml
Owners: @player-ui/reviewers

simplify coverage
  .circleci/config.yml
Owners: @player-ui/reviewers

update createAsyncTransform to allow for different node types
  core/player/src/view/builder/index.ts
  plugins/async-node/core/src/__tests__/createAsyncTransform.test.ts
  plugins/async-node/core/src/createAsyncTransform.ts
  plugins/async-node/core/src/utils/__tests__/requiresAssetWrapper.test.ts
  plugins/async-node/core/src/utils/index.ts
  plugins/async-node/core/src/utils/requiresAssetWrapper.ts
Owners: @player-ui/reviewers

use released rules_player
  MODULE.bazel
Owners: @player-ui/reviewers

coverage for all except android
  .circleci/config.yml
Owners: @player-ui/reviewers

fix quoting
  .circleci/config.yml
Owners: @player-ui/reviewers

try built in android tools
  .circleci/config.yml
Owners: @player-ui/reviewers

try smarter android test
  .circleci/config.yml
Owners: @player-ui/reviewers

some script fixes
  .circleci/config.yml
Owners: @player-ui/reviewers

add log
  .circleci/config.yml
Owners: @player-ui/reviewers

properly fill in params
  .circleci/config.yml
Owners: @player-ui/reviewers

undo type change to Builder.multiNode
  core/player/src/view/builder/index.ts
  core/player/src/view/resolver/__tests__/index.test.ts
  plugins/async-node/core/src/createAsyncTransform.ts
  plugins/async-node/core/src/utils/requiresAssetWrapper.ts
Owners: @player-ui/reviewers

don't exit on test
  .circleci/config.yml
Owners: @player-ui/reviewers

move set -e
  .circleci/config.yml
Owners: @player-ui/reviewers

fix type build issues on reference assets
  plugins/async-node/core/src/createAsyncTransform.ts
  plugins/async-node/core/src/utils/requiresAssetWrapper.ts
Owners: @player-ui/reviewers

background emulator
  .circleci/config.yml
Owners: @player-ui/reviewers

trigger all android tests
  android/demo/README.md
  android/demo/src/main/kotlin/com/intuit/playerui/android/reference/demo/ui/splash/SplashActivity.kt
Owners: @player-ui/android-reviewers

xlarge android
  .circleci/config.yml
Owners: @player-ui/reviewers

nohup emulator, don't build before test, mute cache check
  .circleci/config.yml
Owners: @player-ui/reviewers

cache buster
  .circleci/config.yml
  android/demo/src/main/kotlin/com/intuit/playerui/android/reference/demo/ui/splash/SplashActivity.kt
Owners: @player-ui/reviewers, @player-ui/android-reviewers

Clean up comments
  .bazelrc
  BUILD.bazel
  MODULE.bazel
  android/player/BUILD
  justfile
  jvm/j2v8/deps.bzl
  plugins/reference-assets/react/src/assets/collection/Collection.tsx
  pnpm-lock.yaml
  swift_deps.bzl
  swift_deps_index.json
  xcode/Package.swift
Owners: @player-ui/reviewers, @player-ui/android-reviewers, @player-ui/web-reviewers, @player-ui/ios-reviewers

All iOS tests pass
  ios/core/Tests/HeadlessPlayerTests.swift
  justfile
  plugins/reference-assets/swiftui/UITests/ManagedPlayerUITests.swift
Owners: @player-ui/ios-reviewers, @player-ui/reviewers

25/27 Android/JVM Tests pass
  MODULE.bazel
  MODULE.bazel.lock
  justfile
  jvm/graaljs/deps.bzl
  jvm/hermes/deps.bzl
  plugins/async-node/jvm/deps.bzl
  plugins/metrics/jvm/deps.bzl
  plugins/pubsub/jvm/deps.bzl
Owners: @player-ui/reviewers, @player-ui/android-reviewers

Do not add react to tsup config
  BUILD.bazel
Owners: @player-ui/reviewers

Only DSL mocks are used; replace json mock
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/action/ActionTest.kt
  plugins/reference-assets/mocks/action/action-transition-to-end.json
  plugins/reference-assets/mocks/action/action-transition-to-end.tsx
Owners: @player-ui/android-reviewers, @player-ui/reviewers

Lint-fix Android
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/MainActivityTest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/SplashActivityTest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/action/ActionUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/badge/BadgeUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/collection/CollectionUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/info/InfoUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/input/InputUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/text/TextUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/base/Assertions.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/base/AssetUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/base/ComposeUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/base/Matchers.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/base/PerformanceTest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/fragment/PlayerFragmentScrollingTest.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/lifecycle/DemoPlayerViewModel.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/model/AssetMock.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/base/BasePlayerFragment.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/main/MainActivity.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/main/MainViewModel.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/player/DemoPlayerFragment.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/splash/SplashActivity.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/start/StartFragment.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/ReferenceAssetsPlugin.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/XmlStyleParser.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/action/Action.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/badge/Badge.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/collection/Collection.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/info/Info.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/input/FormattedEditText.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/input/Input.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/text/Text.kt
Owners: @player-ui/android-reviewers

cmake parallel flag
  BUILD.bazel
  third_party/fbjni/BUILD
Owners: @player-ui/reviewers

wip on re-org deps
  jvm/BUILD
  jvm/core/BUILD
  jvm/core/deps.bzl
  jvm/core/src/test/kotlin/com/intuit/playerui/core/view/ViewControllerHooksTest.kt
  jvm/defs.bzl
  jvm/dependencies/common.bzl
  jvm/dependencies/versions.bzl
  jvm/graaljs/BUILD
  jvm/graaljs/deps.bzl
  jvm/j2v8/BUILD
  jvm/j2v8/deps.bzl
  jvm/testutils/BUILD
  jvm/testutils/deps.bzl
  jvm/utils/BUILD
  jvm/utils/deps.bzl
  jvm/utils/src/main/kotlin/com/intuit/playerui/utils/MakeFlow.kt
  jvm/utils/src/test/kotlin/com/intuit/playerui/utils/MakeFlowTests.kt
  plugins/beacon/jvm/BUILD
  plugins/beacon/jvm/deps.bzl
  plugins/defs.bzl
  plugins/set-time-out/jvm/BUILD
  plugins/set-time-out/jvm/deps.bzl
Owners: @player-ui/android-reviewers, @player-ui/reviewers

hermes building
  third_party/hermes/BUILD
Owners: @player-ui/reviewers

building fbjni
  MODULE.bazel
  MODULE.bazel.lock
  justfile
  third_party/fbjni/BUILD
  third_party/fbjni/extract_headers.bzl
Owners: @player-ui/reviewers

allow dupe plugins w/ patch
  MODULE.bazel
  MODULE.bazel.lock
  patches/rules_kotlin.allow_dupe_plugins.patch
Owners: @player-ui/reviewers

wip
  .bazelrc
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/MainActivityTest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/SplashActivityTest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/action/ActionUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/badge/BadgeUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/collection/CollectionUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/info/InfoUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/input/InputUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/assets/text/TextUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/base/Assertions.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/base/AssetUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/base/ComposeUITest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/base/Matchers.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/base/PerformanceTest.kt
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/fragment/PlayerFragmentScrollingTest.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/lifecycle/DemoPlayerViewModel.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/model/AssetMock.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/base/BasePlayerFragment.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/main/MainActivity.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/main/MainViewModel.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/player/DemoPlayerFragment.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/splash/SplashActivity.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/start/StartFragment.kt
  android/player/BUILD
  justfile
  jvm/j2v8/deps.bzl
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/ReferenceAssetsPlugin.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/XmlStyleParser.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/action/Action.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/badge/Badge.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/collection/Collection.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/info/Info.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/input/FormattedEditText.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/input/Input.kt
  plugins/reference-assets/android/src/main/java/com/intuit/playerui/android/reference/assets/text/Text.kt
Owners: @player-ui/reviewers, @player-ui/android-reviewers

move lint-kotlin script to just
  justfile
  tools/lint-kotlin
Owners: @player-ui/reviewers

android reference assets using kt_android
  android/testutils/deps.bzl
  plugins/reference-assets/android/BUILD
  plugins/reference-assets/android/deps.bzl
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/action/BUILD
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/chatmessageasset/BUILD
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/collection/BUILD
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/info/BUILD
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/input/BUILD
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/text/BUILD
  plugins/reference-assets/android/src/androidTest/kotlin/com/intuit/playerui/android/reference/assets/action/ActionTest.kt
  plugins/reference-assets/android/src/androidTest/kotlin/com/intuit/playerui/android/reference/assets/chatmessageasset/ChatMessageAssetTest.kt
  plugins/reference-assets/android/src/androidTest/kotlin/com/intuit/playerui/android/reference/assets/collection/CollectionTest.kt
  plugins/reference-assets/android/src/androidTest/kotlin/com/intuit/playerui/android/reference/assets/info/InfoTest.kt
  plugins/reference-assets/android/src/androidTest/kotlin/com/intuit/playerui/android/reference/assets/input/InputTest.kt
  plugins/reference-assets/android/src/androidTest/kotlin/com/intuit/playerui/android/reference/assets/text/TextTest.kt
  plugins/reference-assets/android/src/main/AndroidManifest.xml
  plugins/reference-assets/android/src/main/kotlin/com/intuit/playerui/android/reference/assets/ReferenceAssetsPlugin.kt
  plugins/reference-assets/android/src/main/kotlin/com/intuit/playerui/android/reference/assets/XmlStyleParser.kt
  plugins/reference-assets/android/src/main/kotlin/com/intuit/playerui/android/reference/assets/action/Action.kt
  plugins/reference-assets/android/src/main/kotlin/com/intuit/playerui/android/reference/assets/badge/Badge.kt
  plugins/reference-assets/android/src/main/kotlin/com/intuit/playerui/android/reference/assets/collection/Collection.kt
  plugins/reference-assets/android/src/main/kotlin/com/intuit/playerui/android/reference/assets/info/Info.kt
  plugins/reference-assets/android/src/main/kotlin/com/intuit/playerui/android/reference/assets/input/FormattedEditText.kt
  plugins/reference-assets/android/src/main/kotlin/com/intuit/playerui/android/reference/assets/input/Input.kt
  plugins/reference-assets/android/src/main/kotlin/com/intuit/playerui/android/reference/assets/text/Text.kt
Owners: @player-ui/android-reviewers

remove unnecessary android script
  .bazelrc
  scripts/install-android-tools.sh
Owners: @player-ui/reviewers

kt_player_plugin_wrapper macro
  MODULE.bazel
  jvm/BUILD
  patches/BUILD
  patches/rules_jvm_external.default_public_visibility.patch
  plugins/beacon/jvm/BUILD
  plugins/defs.bzl
  plugins/plugin_wrapper_template.kt.tpl
  plugins/plugin_wrapper_test_template.kt.tpl
  plugins/reference-assets/jvm/BUILD
Owners: @player-ui/reviewers, @player-ui/android-reviewers

j2v8-debugger neverlink
  jvm/j2v8/BUILD
  jvm/j2v8/libs/BUILD
Owners: @player-ui/android-reviewers

alias kt_* if they follow typical structure
  android/defs.bzl
  android/demo/deps.bzl
  android/player/BUILD
  android/player/src/main/kotlin/com/intuit/playerui/android/AndroidPlayer.kt
  android/player/src/main/kotlin/com/intuit/playerui/android/compose/AssetStyle.kt
  android/player/src/main/kotlin/com/intuit/playerui/android/compose/ComposableAsset.kt
  android/testutils/BUILD
  jvm/core/BUILD
  jvm/defs.bzl
  jvm/hermes/BUILD
  plugins/async-node/jvm/BUILD
  plugins/beacon/jvm/BUILD
  plugins/external-action/jvm/BUILD
  plugins/reference-assets/android/BUILD
Owners: @player-ui/android-reviewers

fix compose neverlink
  .bazelrc
  android/defs.bzl
  android/player/BUILD
  android/player/src/androidTest/kotlin/com/intuit/playerui/android/AssetContextAndroidTest.kt
  android/testutils/BUILD
  android/testutils/src/main/kotlin/com/intuit/playerui/android/testutils/asset/Assertions.kt
  jvm/BUILD
  jvm/empty.jar
  jvm/hermes/src/main/jni/BUILD
  jvm/testutils/BUILD
  plugins/defs.bzl
Owners: @player-ui/reviewers, @player-ui/android-reviewers

.github/CODEOWNERS:

# Fallback
* @player-ui/reviewers

# Core
**/core @player-ui/reviewers

# Android/JVM
**/jvm @player-ui/android-reviewers
**/android @player-ui/android-reviewers

# iOS
/xcode/ @player-ui/ios-reviewers
**/ios @player-ui/ios-reviewers
**/swiftui @player-ui/ios-reviewers

# Web
**/react @player-ui/web-reviewers
**/storybook @player-ui/web-reviewers
