Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adierkens, @KetanReddy, @sugarmanz, @Brocollie08, @hborawski, @spentacular

.github/CODEOWNERS:

# Fallback
* @adierkens

# Other
/docs/ @KetanReddy @adierkens

# Android/JVM

/jvm/ @sugarmanz @Brocollie08
/android/ @sugarmanz @Brocollie08

# iOS
/xcode/ @hborawski
/ios/ @hborawski

# Web
/react/ @spentacular @adierkens
/tools/storybook/ @adierkens

# Core
/core/ @KetanReddy @adierkens

update package paths
  docs/site/pages/plugins/async-node.mdx
  docs/site/pages/plugins/check-path.mdx
  docs/site/pages/plugins/coroutines.mdx
  docs/site/pages/plugins/expression.mdx
  docs/site/pages/plugins/external-action.mdx
  docs/site/pages/plugins/metrics.mdx
  docs/site/pages/plugins/set-timeout.mdx
  plugins/beacon/jvm/README.md
  plugins/coroutines/jvm/README.md
  plugins/expression/jvm/README.md
  plugins/external-action/jvm/README.md
  plugins/java-logger/jvm/README.md
Owners: @KetanReddy, @adierkens

Fixing invalid character on plugin implementation doc
  docs/site/pages/plugin-implementation.mdx
Owners: @KetanReddy, @adierkens

async node ios docs
  docs/site/pages/plugins/async-node.mdx
Owners: @KetanReddy, @adierkens

PR feedback
  docs/site/pages/assets/dsl.mdx
  docs/site/pages/content/assets-views.mdx
  docs/site/pages/content/schema.mdx
  docs/site/pages/dsl/index.mdx
  docs/site/pages/dsl/plugins.mdx
  docs/site/pages/dsl/schema.mdx
  docs/site/pages/dsl/views.mdx
  plugins/common-expressions/core/src/expressions/__tests__/expressions.test.ts
Owners: @KetanReddy, @adierkens

address some comments
  android/demo/README.md
  docs/site/pages/plugins/async-node.mdx
  docs/site/pages/plugins/beacon.mdx
  docs/site/pages/plugins/check-path.mdx
  docs/site/pages/plugins/coroutines.mdx
  docs/site/pages/plugins/expression.mdx
  docs/site/pages/plugins/external-action.mdx
  docs/site/pages/plugins/metrics.mdx
  docs/site/pages/plugins/set-timeout.mdx
Owners: @sugarmanz, @Brocollie08, @KetanReddy, @adierkens

flesh out dsl plugins doc
  docs/site/pages/dsl/plugins.mdx
Owners: @KetanReddy, @adierkens

Added snippets reference
  docs/site/pages/plugin-implementation.mdx
Owners: @KetanReddy, @adierkens

plugin hook implementation wording cleanup
  docs/site/pages/plugin-implementation.mdx
Owners: @KetanReddy, @adierkens

Plugins android clean up (#290)
  android/demo/README.md
  docs/site/pages/plugins/async-node.mdx
  docs/site/pages/plugins/beacon.mdx
  docs/site/pages/plugins/check-path.mdx
  docs/site/pages/plugins/coroutines.mdx
  docs/site/pages/plugins/expression.mdx
  docs/site/pages/plugins/external-action.mdx
  docs/site/pages/plugins/metrics.mdx
  docs/site/pages/plugins/set-timeout.mdx
  plugins/beacon/jvm/README.md
  plugins/coroutines/jvm/README.md
  plugins/expression/jvm/README.md
  plugins/external-action/jvm/README.md
  plugins/java-logger/jvm/README.md
Owners: @sugarmanz, @Brocollie08, @KetanReddy, @adierkens

Asset reference link fixed
  docs/site/pages/guides/designing-semantic-assets.mdx
Owners: @KetanReddy, @adierkens

async node plugin
  PlayerUI.podspec
  generated.bzl
  ios/packages/core/Sources/Types/Hooks/Hook.swift
  ios/packages/swiftui/Sources/SwiftUIPlayer.swift
  ios/packages/test-utils/ViewInspector/unit-test/SwiftUIAssetUnitTestCaseTests.swift
  ios/plugins/AsyncNodePlugin/Sources/AsyncNodePlugin.swift
  ios/plugins/AsyncNodePlugin/Tests/AsyncNodePluginTests.swift
  plugins/async-node/core/src/index.ts
  xcode/Podfile
  xcode/Podfile.lock
Owners: @adierkens, @hborawski

Doc: Plugin react wording correction.
  docs/site/pages/writing-plugins.mdx
Owners: @KetanReddy, @adierkens

Update docs/site/pages/plugin-implementation.mdx
  docs/site/pages/plugin-implementation.mdx
Owners: @KetanReddy, @adierkens

docs: plugin implementation 1st observations
  docs/site/pages/plugin-implementation.mdx
Owners: @KetanReddy, @adierkens

removed unused langmap
  docs/site/components/mdx-components.tsx
Owners: @KetanReddy, @adierkens

Docs: plugin implementation obervations pt2
  docs/site/pages/plugin-implementation.mdx
Owners: @KetanReddy, @adierkens

use tap instead of tapPromise, use named export instead of default
  PlayerUI.podspec
  ios/packages/core/Sources/Player/HeadlessPlayer.swift
  ios/packages/core/Sources/Types/Hooks/Hook.swift
  ios/packages/swiftui/Sources/SwiftUIPlayer.swift
  ios/plugins/AsyncNodePlugin/Sources/AsyncNodePlugin.swift
  plugins/async-node/core/src/index.test.ts
  plugins/async-node/core/src/index.ts
Owners: @adierkens, @hborawski

move tests to viewinspector folder
  ios/plugins/AsyncNodePlugin/ViewInspector/AsynNodePluginTests.swift
  xcode/Podfile.lock
Owners: @hborawski

remove duplicate test
  ios/packages/test-utils/ViewInspector/unit-test/SwiftUIAssetUnitTestCaseTests.swift
Owners: @hborawski

fix lint error
  plugins/async-node/core/src/index.test.ts
  plugins/async-node/core/src/index.ts
Owners: @adierkens

add back flow
  ios/plugins/AsyncNodePlugin/ViewInspector/AsynNodePluginTests.swift
Owners: @hborawski

update doc that uses tapPromise example
  docs/site/pages/plugins/metrics.mdx
Owners: @KetanReddy, @adierkens

throw error if plugin is undefined
  ios/packages/core/Sources/CorePlugins/JSBasePlugin.swift
Owners: @hborawski

Fix some styling
  .bazelignore
  MODULE.bazel
  docs/storybook/.storybook/preview.js
  package.json
  plugins/reference-assets/react/BUILD
  plugins/reference-assets/react/postcss.config.js
  plugins/reference-assets/react/src/assets/action/Action.tsx
  plugins/reference-assets/react/src/assets/collection/Collection.tsx
  plugins/reference-assets/react/src/assets/image/Image.tsx
  plugins/reference-assets/react/src/assets/info/Info.tsx
  plugins/reference-assets/react/src/assets/input/Input.tsx
  plugins/reference-assets/react/src/components/Button.tsx
  plugins/reference-assets/react/src/components/Input.tsx
  plugins/reference-assets/react/src/components/Label.tsx
  plugins/reference-assets/react/src/components/Separator.tsx
  plugins/reference-assets/react/src/global.css
  plugins/reference-assets/react/src/index.tsx
  plugins/reference-assets/react/src/utils.ts
  plugins/reference-assets/react/tailwind.config.js
  pnpm-lock.yaml
Owners: @adierkens, @KetanReddy

Remove chakra from reference assets
  docs/storybook/src/components/StoryWrapper.tsx
  plugins/reference-assets/react/BUILD
  plugins/reference-assets/react/src/assets/input/Input.tsx
  plugins/reference-assets/react/src/assets/text/Text.tsx
  plugins/reference-assets/react/src/plugin.tsx
Owners: @KetanReddy, @adierkens

leftovers
  android/demo/src/androidTest/java/com/intuit/playerui/android/reference/demo/test/base/PerformanceTest.kt
  plugins/external-action/jvm/src/main/kotlin/com/intuit/playerui/plugins/externalAction/ExternalActionPlugin.kt
  plugins/java-logger/jvm/src/main/resources/META-INF/services/com.intuit.playerui.core.plugins.logging.PlayerLoggingContainer
  plugins/reference-assets/android/build.bzl
  plugins/reference-assets/android/deps.bzl
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/action/ActionTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/action/BUILD
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/collection/BUILD
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/collection/CollectionTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/info/BUILD
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/info/InfoTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/input/BUILD
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/input/InputTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/test/Assertions.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/test/AssetTest.kt
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/test/BUILD
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/test/deps.bzl
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/text/BUILD
  plugins/reference-assets/android/src/androidTest/java/com/intuit/playerui/android/reference/assets/text/TextTest.kt
Owners: @sugarmanz, @Brocollie08, @adierkens

add additional email to pom
  jvm/build.bzl
Owners: @sugarmanz, @Brocollie08

more leftovers
  android/player/src/main/java/com/intuit/playerui/android/AssetContext.kt
  android/player/src/main/java/com/intuit/playerui/android/asset/RenderableAsset.kt
  android/player/src/main/java/com/intuit/playerui/android/ui/PlayerFragment.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/Node.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/hooks/NodeSyncWaterfallHook.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/serialization/serializers/NodeSerializers.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/managed/AsyncIterationManager.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/utils/InternalPlayerApi.kt
Owners: @sugarmanz, @Brocollie08

move graaljs files
  jvm/graaljs/src/main/kotlin/com/intuit/playerui/graaljs/bridge/GraalNode.kt
  jvm/graaljs/src/main/kotlin/com/intuit/playerui/graaljs/bridge/GraalObjectWrapper.kt
  jvm/graaljs/src/main/kotlin/com/intuit/playerui/graaljs/bridge/runtime/GraalRuntime.kt
  jvm/graaljs/src/main/kotlin/com/intuit/playerui/graaljs/bridge/serialization/encoding/GraalDecoders.kt
  jvm/graaljs/src/main/kotlin/com/intuit/playerui/graaljs/bridge/serialization/encoding/GraalEncoders.kt
  jvm/graaljs/src/main/kotlin/com/intuit/playerui/graaljs/bridge/serialization/format/GraalFormat.kt
  jvm/graaljs/src/main/kotlin/com/intuit/playerui/graaljs/bridge/serialization/format/GraalFormatExceptions.kt
  jvm/graaljs/src/main/kotlin/com/intuit/playerui/graaljs/bridge/serialization/serializers/GraalValueSerializer.kt
  jvm/graaljs/src/main/kotlin/com/intuit/playerui/graaljs/extensions/HandleValue.kt
  jvm/graaljs/src/main/kotlin/com/intuit/playerui/graaljs/extensions/Lock.kt
  jvm/graaljs/src/main/kotlin/com/intuit/playerui/graaljs/extensions/Unwrap.kt
  jvm/graaljs/src/main/kotlin/com/intuit/playerui/graaljs/player/PlayerContextFactory.kt
  jvm/graaljs/src/test/kotlin/com/intuit/playerui/graaljs/base/GraalTest.kt
  jvm/graaljs/src/test/kotlin/com/intuit/playerui/graaljs/bridge/GraalNodeTest.kt
  jvm/graaljs/src/test/kotlin/com/intuit/playerui/graaljs/bridge/format/GraalFormatTest.kt
  jvm/graaljs/src/test/kotlin/com/intuit/playerui/graaljs/bridge/serialization/DecodingTest.kt
  jvm/graaljs/src/test/kotlin/com/intuit/playerui/graaljs/bridge/serialization/EncodingTest.kt
  jvm/graaljs/src/test/kotlin/com/intuit/playerui/graaljs/bridge/serialization/JsonEncodingTests.kt
  jvm/graaljs/src/test/kotlin/com/intuit/playerui/graaljs/promise/GraalPromiseTest.kt
Owners: @sugarmanz, @Brocollie08

update android coordinates
  android/player/BUILD
Owners: @sugarmanz, @Brocollie08

fix: help to improve docs links with relative path
  docs/site/plugins/mdx-link-append-loader.js
Owners: @KetanReddy, @adierkens

fix: help to improve docs links with relative path (#298)
  docs/site/plugins/mdx-link-append-loader.js
Owners: @KetanReddy, @adierkens

fix: missing docs/site on docs links
  docs/site/plugins/mdx-link-append-loader.js
Owners: @KetanReddy, @adierkens

fix: missing docs/site on docs links (#299)
  docs/site/plugins/mdx-link-append-loader.js
Owners: @KetanReddy, @adierkens

add asyncnodeplugin resource path
  BUILD.bazel
Owners: @adierkens

put on one line
  BUILD.bazel
Owners: @adierkens

Bump version to: v0.7.0 [skip ci]
  VERSION
Owners: @adierkens

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @adierkens

CommonTypesPlugin restoring old dataRefs
  plugins/common-types/core/src/data-types/refs.ts
  plugins/common-types/core/src/data-types/types.ts
  plugins/common-types/core/src/index.ts
Owners: @adierkens

Fixed Views and Schema links
  docs/site/pages/dsl/index.mdx
Owners: @KetanReddy, @adierkens
