Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @player-ui/reviewers, @player-ui/android-reviewers, @player-ui/ios-reviewers, @player-ui/web-reviewers

.github/CODEOWNERS:

# Fallback
* @player-ui/reviewers

# Core
**/core @player-ui/reviewers

# Android/JVM
**/jvm @player-ui/android-reviewers
**/android @player-ui/android-reviewers

# iOS
/xcode/ @player-ui/ios-reviewers
**/ios @player-ui/ios-reviewers
**/swiftui @player-ui/ios-reviewers

# Web
**/react @player-ui/web-reviewers
**/storybook @player-ui/web-reviewers

renamed script
  .circleci/config.yml
  scripts/preview-docs.sh
Owners: @player-ui/reviewers

update asyncNodeResolved setup to only create arrays when necessary
  plugins/async-node/core/src/index.ts
Owners: @player-ui/reviewers

testing new CI flow and logic
  .circleci/config.yml
  .github/workflows/docs-preview.yml
  .github/workflows/pr-comments.yml
  scripts/deploy-docs.sh
Owners: @player-ui/reviewers

fix caching issues with resolved async nodes. (#716)
  plugins/async-node/core/src/__tests__/index.test.ts
  plugins/async-node/core/src/index.ts
Owners: @player-ui/reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/reviewers

testing conditional workflow
  .circleci/config.yml
Owners: @player-ui/reviewers

testing conditional workflow
  .circleci/config.yml
  docs/site/BUILD
  scripts/get-changed-docs.js
Owners: @player-ui/reviewers

trying to speed up docs build
  .circleci/config.yml
Owners: @player-ui/reviewers

trying to combine jobs for previews
  .circleci/config.yml
Owners: @player-ui/reviewers

replace parallel hook with series hook in async node
  plugins/async-node/core/src/__tests__/index.test.ts
  plugins/async-node/core/src/index.ts
Owners: @player-ui/reviewers

fix issue with chat ui demo breaking android tests
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/hooks/NodeAsyncSereiesBailHook2.kt
  plugins/reference-assets/core/src/plugins/chat-ui-demo-plugin.ts
  plugins/reference-assets/mocks/chat-message/chat-ui.tsx
Owners: @player-ui/android-reviewers, @player-ui/reviewers

add NodeAsyncSeriesBailHook2
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/hooks/NodeAsyncSereiesBailHook2.kt
  plugins/async-node/jvm/src/main/kotlin/com/intuit/playerui/plugins/asyncnode/AsyncNodePlugin.kt
Owners: @player-ui/android-reviewers

add test for new demo case
  plugins/reference-assets/core/src/__tests__/plugin.test.ts
Owners: @player-ui/reviewers

fix kt-lint issues. fix reference assets tests
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/hooks/NodeAsyncSeriesBailHook2.kt
  plugins/reference-assets/core/src/__tests__/plugin.test.ts
  plugins/reference-assets/core/src/plugins/chat-ui-demo-plugin.ts
Owners: @player-ui/android-reviewers, @player-ui/reviewers

fix test name
  plugins/reference-assets/core/src/__tests__/plugin.test.ts
Owners: @player-ui/reviewers

renaming jobs
  .circleci/config.yml
Owners: @player-ui/reviewers

removing separate deploy docs job
  .autorc
  .circleci/config.yml
  scripts/deploy-docs.sh
  scripts/preview-docs.sh
  scripts/release-docs.js
  scripts/version-comment.js
Owners: @player-ui/reviewers

testing halt logic
  .circleci/config.yml
Owners: @player-ui/reviewers

allow for arrays of expressions in reference action asset dsl
  plugins/reference-assets/components/src/index.test.tsx
  plugins/reference-assets/components/src/index.tsx
Owners: @player-ui/reviewers

testing new last updated logic
  docs/site/.gitignore
  docs/site/BUILD
  docs/site/astro.config.mjs
  docs/site/generate-git-dates.mjs
  docs/site/remark-modified-time.mjs
  docs/site/src/components/LastUpdated.astro
Owners: @player-ui/reviewers

persist all intermediate steps to workspace for release
  .circleci/config.yml
Owners: @player-ui/reviewers

enhance build event profiling
  .bazelrc
Owners: @player-ui/reviewers

try canary publish right after android is done building things
  .circleci/config.yml
Owners: @player-ui/reviewers

explicitly build jvm core before canary
  .circleci/config.yml
Owners: @player-ui/reviewers

updating gitignore and bazel git-dates logic
  docs/site/.gitignore
  docs/site/BUILD
  docs/site/generate-git-dates.mjs
Owners: @player-ui/reviewers

allow for arrays of expressions in reference action asset dsl (#726)
  plugins/reference-assets/components/src/index.test.tsx
  plugins/reference-assets/components/src/index.tsx
Owners: @player-ui/reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/reviewers

created docs-config and created docs directory in scripts
  .autorc
  .circleci/config.yml
  scripts/docs/docs-config.js
  scripts/docs/get-changed-docs.js
  scripts/docs/preview-docs.sh
  scripts/docs/release-docs.js
  scripts/get-changed-docs.js
  scripts/version-comment.js
Owners: @player-ui/reviewers

trying to speed up docs build
  .circleci/config.yml
Owners: @player-ui/reviewers

bazel caching
  .circleci/config.yml
Owners: @player-ui/reviewers

reverting bazel cache
  .circleci/config.yml
Owners: @player-ui/reviewers

clean up circle config
  .circleci/config.yml
Owners: @player-ui/reviewers

improve PNPM security for installing packages
  package.json
  pnpm-workspace.yaml
Owners: @player-ui/reviewers

tweaking minimum release to be a little less strict
  pnpm-workspace.yaml
Owners: @player-ui/reviewers

check pnpm version
  .circleci/config.yml
Owners: @player-ui/reviewers

switch to package.json for onlyBuiltDependencies settings
  .circleci/config.yml
  package.json
  pnpm-workspace.yaml
Owners: @player-ui/reviewers

trying to fix pr comment context
  .circleci/config.yml
  scripts/docs/preview-docs.sh
Owners: @player-ui/reviewers

restoring missing config
  .circleci/config.yml
Owners: @player-ui/reviewers

undoing cursor changes
  .circleci/config.yml
Owners: @player-ui/reviewers

APOLLOQB-0000 Added a note while setting up the repo for first time
  CONTRIBUTING.md
Owners: @player-ui/reviewers
