Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @player-ui/reviewers, @player-ui/android-reviewers, @player-ui/ios-reviewers, @player-ui/web-reviewers

.github/CODEOWNERS:

# Fallback
* @player-ui/reviewers

# Core
**/core @player-ui/reviewers

# Android/JVM
**/jvm @player-ui/android-reviewers
**/android @player-ui/android-reviewers

# iOS
/xcode/ @player-ui/ios-reviewers
**/ios @player-ui/ios-reviewers
**/swiftui @player-ui/ios-reviewers

# Web
**/react @player-ui/web-reviewers
**/storybook @player-ui/web-reviewers

troubleshooting triggers
  .circleci/config.yml
Owners: @player-ui/reviewers

trying to get canary updates working
  .circleci/config.yml
  .github/workflows/canary.yml
  scripts/build-preview.js
Owners: @player-ui/reviewers

updating echo content
  .circleci/config.yml
Owners: @player-ui/reviewers

updating echo content
  .circleci/config.yml
Owners: @player-ui/reviewers

fixing ci pipeline issues
  .circleci/config.yml
Owners: @player-ui/reviewers

add NodeAsyncSeriesBailHook2
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/hooks/NodeAsyncSereiesBailHook2.kt
  plugins/async-node/jvm/src/main/kotlin/com/intuit/playerui/plugins/asyncnode/AsyncNodePlugin.kt
Owners: @player-ui/android-reviewers

fix caching issues with resolved async nodes.
  plugins/async-node/core/src/index.ts
Owners: @player-ui/reviewers

add test for async asset caching
  plugins/async-node/core/src/__tests__/index.test.ts
Owners: @player-ui/reviewers

exploring optimizations
  .circleci/config.yml
  .github/workflows/docs-preview.yml
  .github/workflows/release.yml
  scripts/build-preview.js
  scripts/release.sh
Owners: @player-ui/reviewers

fixing deploy bug
  .circleci/config.yml
Owners: @player-ui/reviewers

testing regular pipeline
  .circleci/config.yml
Owners: @player-ui/reviewers

wip hermes bytecode (bytecode target working, need to load into runtime)
  core/player/BUILD
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/runtime/Runtime.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/HeadlessPlayer.kt
  jvm/hermes/hermesc.bzl
  jvm/hermes/src/main/kotlin/com/intuit/playerui/hermes/bridge/runtime/HermesRuntime.kt
  third_party/hermes/BUILD
Owners: @player-ui/reviewers, @player-ui/android-reviewers

add missing visibility
  core/player/BUILD
Owners: @player-ui/reviewers

fix issue with chat ui demo breaking android tests
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/hooks/NodeAsyncSereiesBailHook2.kt
  plugins/reference-assets/core/src/plugins/chat-ui-demo-plugin.ts
  plugins/reference-assets/mocks/chat-message/chat-ui.tsx
Owners: @player-ui/android-reviewers, @player-ui/reviewers

fix kt-lint issues. fix reference assets tests
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/hooks/NodeAsyncSeriesBailHook2.kt
  plugins/reference-assets/core/src/__tests__/plugin.test.ts
  plugins/reference-assets/core/src/plugins/chat-ui-demo-plugin.ts
Owners: @player-ui/android-reviewers, @player-ui/reviewers

add test for new demo case
  plugins/reference-assets/core/src/__tests__/plugin.test.ts
Owners: @player-ui/reviewers

fix test name
  plugins/reference-assets/core/src/__tests__/plugin.test.ts
Owners: @player-ui/reviewers

compile hbc and include in resources to be used
  jvm/core/BUILD
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/HeadlessPlayer.kt
  third_party/hermes/BUILD
Owners: @player-ui/android-reviewers, @player-ui/reviewers

trying to fix config
  .circleci/config.yml
Owners: @player-ui/reviewers

trying to fix config
  .circleci/config.yml
Owners: @player-ui/reviewers

trying to fix config
  .circleci/config.yml
Owners: @player-ui/reviewers

trying to fix config
  .circleci/config.yml
Owners: @player-ui/reviewers

adding new comment
  .circleci/config.yml
  docs/site/src/content/docs/getting-started.mdx
  scripts/build-preview.js
Owners: @player-ui/reviewers

trying to fix build
  .circleci/config.yml
  scripts/build-preview.js
Owners: @player-ui/reviewers

bytecode loading properly
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/runtime/Runtime.kt
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/HeadlessPlayer.kt
  jvm/hermes/src/main/jni/JJSIValue.cpp
  jvm/hermes/src/main/jni/JJSIValue.h
  jvm/hermes/src/main/kotlin/com/intuit/playerui/hermes/bridge/runtime/HermesRuntime.kt
  jvm/hermes/src/main/kotlin/com/intuit/playerui/jsi/Value.kt
Owners: @player-ui/android-reviewers

trying to fix build
  .circleci/config.yml
Owners: @player-ui/reviewers

trying to fix build
  .circleci/config.yml
Owners: @player-ui/reviewers

previous build worked, now trying to show docs breakdown and add caching)
  .circleci/config.yml
  package.json
  scripts/build-preview.js
  scripts/get-changed-docs.js
Owners: @player-ui/reviewers

fixed type issue, retrying build
  package.json
  scripts/get-changed-docs.js
Owners: @player-ui/reviewers

comments updates
  .circleci/config.yml
  scripts/build-preview.js
  scripts/get-changed-docs.js
Owners: @player-ui/reviewers

testing new docs build job
  .circleci/config.yml
Owners: @player-ui/reviewers

testing comment
  .circleci/config.yml
  scripts/build-preview.js
  scripts/get-changed-docs.js
Owners: @player-ui/reviewers

fixing comment for docs
  .circleci/config.yml
Owners: @player-ui/reviewers

fixing pr comment logic
  .circleci/config.yml
  scripts/build-preview.js
  scripts/get-changed-docs.js
Owners: @player-ui/reviewers

updating step name in ci
  .circleci/config.yml
Owners: @player-ui/reviewers

fix for makeFlow
  jvm/utils/src/main/kotlin/com/intuit/playerui/utils/MakeFlow.kt
Owners: @player-ui/android-reviewers

reverting release logic and testing another content page
  .github/workflows/release.yml
  docs/site/src/content/docs/guides/designing-semantic-assets.mdx
Owners: @player-ui/reviewers

reverting test content changes
  docs/site/src/content/docs/getting-started.mdx
  docs/site/src/content/docs/guides/designing-semantic-assets.mdx
Owners: @player-ui/reviewers

addressing PR feedback
  .circleci/config.yml
  docs/site/astro.config.mjs
  docs/site/remark-modified-time.mjs
Owners: @player-ui/reviewers

added docs script
  .circleci/config.yml
  scripts/deploy-docs.sh
Owners: @player-ui/reviewers
