Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adierkens, @KetanReddy, @sugarmanz, @Brocollie08, @hborawski, @spentacular

DSL data schema type docs
  docs/site/pages/dsl/dsl-schema-type.mdx
  docs/site/pages/dsl/schema.mdx
Owners: @KetanReddy, @adierkens

handle invalid json as player error
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/HeadlessPlayer.kt
  jvm/core/src/test/kotlin/com/intuit/playerui/core/player/HeadlessPlayerTest.kt
Owners: @sugarmanz, @Brocollie08

improve test
  jvm/core/src/test/kotlin/com/intuit/playerui/core/player/HeadlessPlayerTest.kt
Owners: @sugarmanz, @Brocollie08

Skip view updates for silent data changes
  core/player/src/__tests__/view.test.ts
  core/player/src/controllers/view/controller.ts
Owners: @KetanReddy, @adierkens

replace reduce calls for performance
  core/player/src/controllers/validation/controller.ts
  core/player/src/controllers/view/controller.ts
  plugins/common-expressions/core/src/expressions/index.ts
  plugins/common-types/core/src/formats/utils.ts
  plugins/data-change-listener/core/src/index.ts
Owners: @KetanReddy, @adierkens

Fix data change events not cascading properly when setting data
  plugins/data-change-listener/core/src/index.test.ts
  plugins/data-change-listener/core/src/index.ts
Owners: @adierkens

Edit docs/site/pages/dsl/dsl-schema-type.mdx
  docs/site/pages/dsl/dsl-schema-type.mdx
Owners: @KetanReddy, @adierkens

split out android base implementation
  android/deps.bzl
  android/player-ui/BUILD
  android/player-ui/deps.bzl
  android/player-ui/src/main/AndroidManifest.xml
  android/player-ui/src/main/java/com/intuit/player/android/mvvm/lifecycle/PlayerViewModel.kt
  android/player-ui/src/main/java/com/intuit/player/android/mvvm/ui/PlayerFragment.kt
  android/player-ui/src/main/res/layout/default_fallback.xml
  android/player-ui/src/main/res/layout/fragment_player.xml
  android/player-ui/src/test/java/com/intuit/player/android/lifecycle/PlayerViewModelTest.kt
  android/player/src/main/java/com/intuit/player/android/AndroidPlayer.kt
  android/player/src/main/java/com/intuit/player/android/Constants.kt
  android/player/src/main/java/com/intuit/player/android/extensions/Into.kt
  android/player/src/test/BUILD
  android/player/src/test/java/android/util/Log.kt
  android/player/src/test/java/com/intuit/player/android/logger/AndroidLoggerTest.kt
  android/player/src/test/java/com/intuit/player/android/utils/BrokenAsset.kt
  android/player/src/test/java/com/intuit/player/android/utils/Json.kt
  android/player/src/test/java/com/intuit/player/android/utils/LogUtil.kt
  android/player/src/test/java/com/intuit/player/android/utils/NestedAsset.kt
  android/player/src/test/java/com/intuit/player/android/utils/OtherSimpleAsset.kt
  android/player/src/test/java/com/intuit/player/android/utils/SimpleAsset.kt
  android/player/src/test/java/com/intuit/player/android/utils/TestAssetsPlugin.kt
  android/player/src/test/java/com/intuit/player/android/utils/Updates.kt
Owners: @sugarmanz, @Brocollie08

demo deps
  android/demo/deps.bzl
  android/demo/src/main/java/com/intuit/player/android/reference/demo/lifecycle/DemoPlayerViewModel.kt
  android/demo/src/main/java/com/intuit/player/android/reference/demo/ui/base/BasePlayerFragment.kt
  android/demo/src/main/java/com/intuit/player/android/reference/demo/ui/main/MainActivity.kt
Owners: @sugarmanz, @Brocollie08

lint
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/base/BasePlayerFragment.kt
  android/demo/src/main/java/com/intuit/playerui/android/reference/demo/ui/main/MainActivity.kt
  android/player-ui/src/test/java/com/intuit/playerui/android/mvvm/lifecycle/PlayerViewModelTest.kt
Owners: @sugarmanz, @Brocollie08

Update docs/site/pages/assets/reference.mdx
  docs/site/pages/assets/reference.mdx
Owners: @KetanReddy, @adierkens

put publishing back
  android/player/BUILD
Owners: @sugarmanz, @Brocollie08

[JVM] Handle invalid JSON as Player error (#303)
  jvm/core/src/main/kotlin/com/intuit/playerui/core/player/HeadlessPlayer.kt
  jvm/core/src/test/kotlin/com/intuit/playerui/core/player/HeadlessPlayerTest.kt
Owners: @sugarmanz, @Brocollie08

android build optimization
  docs/site/pages/getting-started.mdx
Owners: @KetanReddy, @adierkens

Update docs/site/pages/getting-started.mdx
  docs/site/pages/getting-started.mdx
Owners: @KetanReddy, @adierkens

Docs update post review
  docs/site/pages/dsl/dsl-schema-type.mdx
  docs/site/pages/dsl/schema.mdx
Owners: @KetanReddy, @adierkens

fix alert status reference
  docs/site/components/mdx-components.tsx
Owners: @KetanReddy, @adierkens

platform consolidated getting started
  docs/site/components/mdx-components.tsx
  docs/site/pages/getting-started.mdx
Owners: @KetanReddy, @adierkens

add platform tabs for custom and reference assets
  docs/site/pages/assets/custom.mdx
  docs/site/pages/assets/reference.mdx
Owners: @KetanReddy, @adierkens

re-add viewmodel + fragment docs
  docs/site/pages/getting-started.mdx
Owners: @KetanReddy, @adierkens

DSLSchema docs further improvement
  docs/site/pages/dsl/schema.mdx
Owners: @KetanReddy, @adierkens

[Docs] Platform consolidation (#287)
  docs/site/components/mdx-components.tsx
  docs/site/pages/assets/custom.mdx
  docs/site/pages/assets/reference.mdx
  docs/site/pages/getting-started.mdx
Owners: @KetanReddy, @adierkens

DSLSchema doc cleanup
  docs/site/pages/dsl/schema.mdx
Owners: @KetanReddy, @adierkens

DSLSchema docs rearrangement
  docs/site/config/navigation.ts
  docs/site/pages/dsl/dsl-schema-type.mdx
  docs/site/pages/dsl/schema.mdx
Owners: @KetanReddy, @adierkens

Version conflict issue
  android/demo/BUILD
  android/demo/deps.bzl
  android/demo/src/main/AndroidManifest.xml
  jvm/dependencies/versions.bzl
Owners: @sugarmanz, @Brocollie08

Resorting to schema page for DSLSchema docs
  docs/site/config/navigation.ts
  docs/site/pages/dsl/dsl-schema-type.mdx
  docs/site/pages/dsl/schema.mdx
Owners: @KetanReddy, @adierkens

compose dependencies resolve!
  android/demo/deps.bzl
  jvm/dependencies/versions.bzl
Owners: @sugarmanz, @Brocollie08

some fixes
  android/demo/BUILD
  android/demo/deps.bzl
  android/demo/src/main/AndroidManifest.xml
  jvm/dependencies/common.bzl
  jvm/dependencies/versions.bzl
Owners: @sugarmanz, @Brocollie08

downgrade to 1.7.0 compiler for compose
  WORKSPACE
Owners: @adierkens

updated PR checklist to include documentation portion
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @adierkens

fixed capitalization
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @adierkens

DSLSchema improved statement
  docs/site/pages/dsl/schema.mdx
Owners: @KetanReddy, @adierkens

@player-tools: "0.5.0-next.7 for dataRefs
  package.json
  plugins/common-types/core/BUILD
  yarn.lock
Owners: @adierkens

fix yarn lock
  yarn.lock
Owners: @adierkens

working mvvm tests
  android/player-ui/BUILD
  android/player-ui/src/test/java/com/intuit/playerui/android/mvvm/lifecycle/PlayerViewModelTest.kt
  android/player/BUILD
  android/player/build.bzl
  android/player/src/main/java/com/intuit/playerui/android/logger/AndroidLogger.kt
  android/player/src/test/BUILD
  android/player/src/test/java/android/util/BUILD
  android/player/src/test/java/android/util/Log.kt
  android/player/src/test/java/com/intuit/playerui/android/extensions/BUILD
  android/player/src/test/java/com/intuit/playerui/android/logger/AndroidLoggerTest.kt
  android/player/src/test/java/com/intuit/playerui/android/logger/BUILD
  android/player/src/test/java/com/intuit/playerui/android/registry/BUILD
  android/player/src/test/java/com/intuit/playerui/android/renderer/BUILD
  android/player/src/test/java/com/intuit/playerui/android/utils/BUILD
Owners: @sugarmanz, @Brocollie08

working player tests
  android/player/BUILD
  android/player/src/test/java/com/intuit/playerui/android/BrokenAssetTest.kt
  android/player/src/test/java/com/intuit/playerui/android/renderer/BUILD
  android/player/src/test/java/com/intuit/playerui/android/utils/BUILD
Owners: @sugarmanz, @Brocollie08

not explicitly public
  android/player/src/test/java/android/util/Log.kt
  android/player/src/test/java/com/intuit/playerui/android/utils/NestedAsset.kt
  android/player/src/test/java/com/intuit/playerui/android/utils/SimpleAsset.kt
  android/player/src/test/java/com/intuit/playerui/android/utils/TestAssetsPlugin.kt
  android/player/src/test/java/com/intuit/playerui/android/utils/Updates.kt
Owners: @sugarmanz, @Brocollie08

redundant check
  android/player-ui/src/test/java/com/intuit/playerui/android/mvvm/lifecycle/PlayerViewModelTest.kt
Owners: @sugarmanz, @Brocollie08

internal constants
  android/player/BUILD
  android/player/src/main/java/com/intuit/playerui/android/Constants.kt
  android/player/src/test/java/com/intuit/playerui/android/utils/BUILD
Owners: @sugarmanz, @Brocollie08

Exporting dataRefs from common-types and reference-assets
  plugins/common-types/core/src/index.ts
  plugins/reference-assets/components/BUILD
  plugins/reference-assets/core/src/index.ts
Owners: @adierkens

.github/CODEOWNERS:

# Fallback
* @adierkens

# Other
/docs/ @KetanReddy @adierkens

# Android/JVM

/jvm/ @sugarmanz @Brocollie08
/android/ @sugarmanz @Brocollie08

# iOS
/xcode/ @hborawski
/ios/ @hborawski

# Web
/react/ @spentacular @adierkens
/tools/storybook/ @adierkens

# Core
/core/ @KetanReddy @adierkens
