Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adierkens, @KetanReddy, @sugarmanz, @Brocollie08, @hborawski, @spentacular

fix flow test
  core/player/src/controllers/flow/__tests__/flow.test.ts
  core/player/src/view/parser/index.ts
  yarn.lock
Owners: @KetanReddy, @adierkens

fix android test
  android/demo/scripts/androidtest.sh
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/fragment/PlayerFragmentScrollingTest.kt
Owners: @sugarmanz, @Brocollie08

temporarily disable applitools
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/base/AssetUITest.kt
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/fragment/PlayerFragmentScrollingTest.kt
Owners: @sugarmanz, @Brocollie08

try again after updating api key
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/base/AssetUITest.kt
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/fragment/PlayerFragmentScrollingTest.kt
Owners: @sugarmanz, @Brocollie08

not use latest version of bundler because it requires newer ruby version
  .circleci/config.yml
Owners: @adierkens

update tests
  ios/plugins/StageRevertDataPlugin/Tests/StageRevertDataPluginTests.swift
Owners: @hborawski

update circleci config
  .circleci/config.yml
Owners: @adierkens

Storybook 7 + Bazel 6
  .bazelignore
  BUILD.bazel
  MODULE.bazel
  babel.config.js
  core/player/package.json
  docs/site/components/Navigation.tsx
  docs/storybook/.storybook/main.js
  docs/storybook/.storybook/main.ts
  docs/storybook/.storybook/webpack.config.js
  docs/storybook/BUILD
  docs/storybook/babel.config.json
  docs/storybook/package.json
  docs/storybook/src/flows/basic-action.ts
  docs/storybook/src/flows/managed.ts
  docs/storybook/src/flows/with-transition.ts
  docs/storybook/src/reference-assets/Action.stories.mdx
  docs/storybook/tsconfig.json
  package.json
  plugins/reference-assets/components/BUILD
  plugins/reference-assets/components/package.json
  plugins/reference-assets/mocks/BUILD
  plugins/reference-assets/mocks/action/action-basic.tsx
  plugins/reference-assets/mocks/action/action-transition-to-end.tsx
  plugins/reference-assets/mocks/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/storybook/BUILD
  tools/storybook/package.json
  tools/storybook/src/addons/appetize/index.tsx
  tools/storybook/src/addons/editor/index.tsx
  tools/storybook/src/addons/events/index.tsx
  tools/storybook/src/addons/index.tsx
  tools/storybook/src/addons/refresh/index.tsx
  tools/storybook/src/player/Appetize.tsx
  tools/storybook/src/player/PlayerFlowSummary.tsx
  tools/storybook/src/player/PlayerStory.tsx
  tools/storybook/src/player/useFlowSet.tsx
  tools/storybook/src/redux/index.tsx
  tools/storybook/src/state/events.ts
  tsconfig.json
Owners: @adierkens, @KetanReddy

Fix react references with storybook & pnpm
  MODULE.bazel
  docs/storybook/.storybook/main.ts
  docs/storybook/.storybook/preview.js
  docs/storybook/BUILD
  docs/storybook/src/Player.stories.mdx
  tools/storybook/src/player/PlayerStory.tsx
Owners: @adierkens, @KetanReddy

chore: DSL doc changes
  docs/site/pages/content/dsl.mdx
Owners: @KetanReddy, @adierkens

Update docs/site/pages/content/dsl.mdx
  docs/site/pages/content/dsl.mdx
Owners: @KetanReddy, @adierkens

chore: use @player-tools/dsl
  docs/site/pages/content/dsl.mdx
Owners: @KetanReddy, @adierkens

update tests to transition inside afterTransition
  ios/packages/core/Sources/Types/Core/Flow.swift
  ios/packages/test-utils/ViewInspector/ui-test/AssetFlowViewTests.swift
  ios/plugins/StageRevertDataPlugin/Tests/StageRevertDataPluginTests.swift
  xcode/Podfile.lock
Owners: @hborawski

update iOS tests to transition inside afterTransition (#268)
  ios/packages/core/Sources/Types/Core/Flow.swift
  ios/packages/test-utils/ViewInspector/ui-test/AssetFlowViewTests.swift
  ios/plugins/StageRevertDataPlugin/Tests/StageRevertDataPluginTests.swift
  xcode/Podfile.lock
Owners: @hborawski

DSL documentation changes (#266)
  docs/site/pages/content/dsl.mdx
Owners: @KetanReddy, @adierkens

wip
  VERSION
  WORKSPACE
  android/demo/BUILD
  android/player/BUILD
  android/player/deps.bzl
  jvm/core/src/main/kotlin/com/intuit/player/jvm/core/player/state/PlayerFlowState.kt
  jvm/dependencies/versions.bzl
  jvm/j2v8/BUILD
  jvm/j2v8/deps.bzl
  plugins/reference-assets/android/BUILD
  plugins/reference-assets/android/deps.bzl
Owners: @adierkens, @sugarmanz, @Brocollie08

add callTryCatchWrapper function on JSValue
  ios/packages/JSValueExtensionsTests.swift
  ios/packages/core/Sources/Types/Core/Flow.swift
  ios/packages/core/Sources/Types/Core/FlowController.swift
  ios/packages/core/Sources/utilities/JSValue+Extensions.swift
  ios/packages/core/Tests/HeadlessPlayerTests.swift
  ios/packages/swiftui/Tests/ManagedPlayer/ManagedPlayerViewModelTests.swift
  ios/packages/test-utils/ViewInspector/ui-test/AssetFlowViewTests.swift
  ios/plugins/ExternalActionViewModifierPlugin/ViewInspector/ExternalActionViewModifierPluginTests.swift
  ios/plugins/StageRevertDataPlugin/Tests/StageRevertDataPluginTests.swift
  ios/plugins/TransitionPlugin/ViewInspector/TransitionPluginTests.swift
  xcode/Podfile.lock
Owners: @hborawski

address comments
  ios/packages/JSValueExtensionsTests.swift
  ios/packages/core/Sources/Types/Core/FlowController.swift
  ios/packages/core/Sources/utilities/JSValue+Extensions.swift
Owners: @hborawski

move test to core utilities folder
  ios/packages/core/Tests/utilities/JSValueExtensionsTests.swift
Owners: @hborawski

use expectation to wait for error
  ios/packages/core/Tests/utilities/JSValueExtensionsTests.swift
Owners: @hborawski

remove extra lines
  ios/packages/core/Tests/utilities/JSValueExtensionsTests.swift
Owners: @hborawski

increase timeout
  ios/packages/core/Tests/utilities/JSValueExtensionsTests.swift
Owners: @hborawski

remove comment block
  core/player/src/view/parser/index.ts
Owners: @KetanReddy, @adierkens

move expectation
  ios/packages/core/Tests/utilities/JSValueExtensionsTests.swift
Owners: @hborawski

wip: broken rules_jvm_external
  .bazelrc
  WORKSPACE
  android/BUILD
  android/demo/BUILD
  android/player/BUILD
  android/player/deps.bzl
  build_constants.bzl
  jvm/build.bzl
  jvm/dependencies/deps.bzl
  jvm/j2v8/build.bzl
  patches/BUILD
  patches/rules_jvm_external.default_public_visibility.patch
  plugins/build.bzl
Owners: @adierkens, @sugarmanz, @Brocollie08

move jvm external setup
  WORKSPACE
Owners: @adierkens

try to use the embedded jdk
  .bazelrc
Owners: @adierkens

fix //jvm/core:test
  jvm/core/deps.bzl
  jvm/core/src/test/kotlin/com/intuit/player/jvm/core/player/state/CompletedStateTest.kt
Owners: @sugarmanz, @Brocollie08

reintroduce grab for mockable android jar
  WORKSPACE
  android/player/deps.bzl
Owners: @adierkens, @sugarmanz, @Brocollie08

decrease timeout
  ios/packages/core/Tests/utilities/JSValueExtensionsTests.swift
Owners: @hborawski

updated documentation with diagrams
  docs/site/pages/guides/data-diagrams-with-binding-parser.md
  docs/site/pages/guides/data-diagrams-with-middle-ware.md
  docs/site/pages/guides/data-diagrams.md
Owners: @KetanReddy, @adierkens

move expectation to catch
  ios/packages/core/Tests/utilities/JSValueExtensionsTests.swift
Owners: @hborawski

lint
  core/player/src/view/parser/index.ts
Owners: @KetanReddy, @adierkens

comment out test
  ios/packages/core/Tests/utilities/JSValueExtensionsTests.swift
Owners: @hborawski

modify long text test
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/fragment/PlayerFragmentScrollingTest.kt
Owners: @sugarmanz, @Brocollie08

lint
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/fragment/PlayerFragmentScrollingTest.kt
Owners: @sugarmanz, @Brocollie08

Latest sync including AsyncNodePlugin (#263)
  android/demo/scripts/androidtest.sh
  android/demo/src/androidTest/java/com/intuit/player/android/reference/demo/test/fragment/PlayerFragmentScrollingTest.kt
  core/player/src/controllers/flow/__tests__/flow.test.ts
  core/player/src/controllers/flow/flow.ts
  core/player/src/view/parser/index.ts
  core/player/src/view/parser/types.ts
  core/player/src/view/parser/utils.ts
  core/player/src/view/plugins/switch.ts
  core/player/src/view/resolver/index.ts
  core/player/src/view/resolver/utils.ts
  core/player/src/view/view.ts
  ios/packages/core/Sources/Types/Core/Flow.swift
  ios/packages/test-utils/ViewInspector/ui-test/AssetFlowViewTests.swift
  ios/plugins/StageRevertDataPlugin/Tests/StageRevertDataPluginTests.swift
  package.json
  plugins/async-node/core/BUILD
  plugins/async-node/core/src/index.test.ts
  plugins/async-node/core/src/index.ts
  plugins/async-node/core/src/types.ts
  plugins/reference-assets/mocks/action/action-basic.tsx
  plugins/reference-assets/mocks/action/action-transition-to-end.tsx
  scripts/yarn-link-setup.js
  tools/storybook/src/addons/events/events.css
  tools/storybook/src/addons/events/index.tsx
  xcode/Podfile.lock
  yarn.lock
Owners: @sugarmanz, @Brocollie08, @KetanReddy, @adierkens, @hborawski

fix gpg tty for release
  .circleci/config.yml
Owners: @adierkens

use kotlin-reflect from maven
  jvm/core/deps.bzl
  jvm/dependencies/common.bzl
Owners: @sugarmanz, @Brocollie08

working player distrib
  WORKSPACE
  android/player/BUILD
  android/player/deps.bzl
  jvm/build.bzl
  jvm/j2v8/build.bzl
  jvm/j2v8/libs/BUILD
Owners: @adierkens, @sugarmanz, @Brocollie08

.github/CODEOWNERS:

# Fallback
* @adierkens

# Other
/docs/ @KetanReddy @adierkens

# Android/JVM

/jvm/ @sugarmanz @Brocollie08
/android/ @sugarmanz @Brocollie08

# iOS
/xcode/ @hborawski
/ios/ @hborawski

# Web
/react/ @spentacular @adierkens
/tools/storybook/ @adierkens

# Core
/core/ @KetanReddy @adierkens
