Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @player-ui/reviewers, @player-ui/android-reviewers, @player-ui/ios-reviewers, @player-ui/web-reviewers

.github/CODEOWNERS:

# Fallback
* @player-ui/reviewers

# Core
**/core @player-ui/reviewers

# Android/JVM
**/jvm @player-ui/android-reviewers
**/android @player-ui/android-reviewers

# iOS
/xcode/ @player-ui/ios-reviewers
**/ios @player-ui/ios-reviewers
**/swiftui @player-ui/ios-reviewers

# Web
**/react @player-ui/web-reviewers
**/storybook @player-ui/web-reviewers

upgrade bench tests to use medium+ resource class
  .bazelrc
  .circleci/config.yml
Owners: @player-ui/reviewers

add bench test for streaming player (#680)
  .bazelrc
  .circleci/config.yml
  MODULE.bazel
  justfile
  plugins/async-node/core/src/__tests__/index.bench.ts
Owners: @player-ui/reviewers

fix kotlin lint errors
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/hooks/NodeSyncBailHook2.kt
  plugins/async-node/jvm/src/main/kotlin/com/intuit/playerui/plugins/asyncnode/AsyncNodePlugin.kt
  plugins/async-node/jvm/src/test/kotlin/com/intuit/playerui/plugins/asyncnode/AsyncNodePluginTest.kt
Owners: @player-ui/android-reviewers

code cleanup on async node plugin
  plugins/async-node/core/src/index.ts
Owners: @player-ui/reviewers

update ios async node test to cause an error instead of throwing one
  plugins/async-node/ios/Tests/AsynNodePluginTests.swift
Owners: @player-ui/ios-reviewers

add asyncNodeError hook to ios package
  plugins/async-node/ios/Sources/AsyncNodePlugin.swift
  plugins/async-node/ios/Tests/AsynNodePluginTests.swift
Owners: @player-ui/ios-reviewers

update core async node plugins to catch and handle errors
  plugins/async-node/core/src/__tests__/index.test.ts
  plugins/async-node/core/src/index.ts
Owners: @player-ui/reviewers

add wrapper hook to android and update docs. fix justfile command for android build
  docs/site/src/content/docs/plugins/multiplatform/async-node.mdx
  justfile
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/hooks/NodeSyncBailHook2.kt
  plugins/async-node/jvm/src/main/kotlin/com/intuit/playerui/plugins/asyncnode/AsyncNodePlugin.kt
  plugins/async-node/jvm/src/test/kotlin/com/intuit/playerui/plugins/asyncnode/AsyncNodePluginTest.kt
Owners: @player-ui/reviewers, @player-ui/android-reviewers

use content structure for onAsyncNodeError and finish ios implementation
  .bazelrc
  ios/core/Sources/Types/Hooks/Hook.swift
  plugins/async-node/core/src/__tests__/index.test.ts
  plugins/async-node/core/src/index.ts
  plugins/async-node/ios/Tests/AsynNodePluginTests.swift
  plugins/async-node/jvm/src/main/kotlin/com/intuit/playerui/plugins/asyncnode/AsyncNodePlugin.kt
  plugins/async-node/jvm/src/test/kotlin/com/intuit/playerui/plugins/asyncnode/AsyncNodePluginTest.kt
Owners: @player-ui/reviewers, @player-ui/ios-reviewers, @player-ui/android-reviewers

cleanup error throw in ios test
  plugins/async-node/ios/Tests/AsynNodePluginTests.swift
Owners: @player-ui/ios-reviewers

update ios settings in bazelrc to common and async-node.mdx to use ts over js
  .bazelrc
  docs/site/src/content/docs/plugins/multiplatform/async-node.mdx
Owners: @player-ui/reviewers

comment test to fix build temporarily
  plugins/async-node/ios/Tests/AsynNodePluginTests.swift
Owners: @player-ui/ios-reviewers

remove cyclical deps. reduce cache scope of async nodes to individual views
  plugins/async-node/core/BUILD
  plugins/async-node/core/package.json
  plugins/async-node/core/src/__tests__/index.test.ts
  plugins/async-node/core/src/index.ts
  pnpm-lock.yaml
Owners: @player-ui/reviewers

fix ios lint error
  ios/core/Sources/Types/Hooks/Hook.swift
Owners: @player-ui/ios-reviewers

cleanup swift hooks implementation of async hooks
  ios/core/Sources/Types/Hooks/Hook.swift
Owners: @player-ui/ios-reviewers

testing
  core/player/src/__tests__/flow.test.ts
  core/player/src/expressions/__tests__/evaluator.test.ts
Owners: @player-ui/reviewers

More async expression tests
  core/player/src/__tests__/flow.test.ts
  core/player/src/__tests__/player.test.ts
  core/player/src/expressions/__tests__/evaluator.test.ts
Owners: @player-ui/reviewers

isolatedDeclaration typings
  core/player/src/__tests__/player.test.ts
  core/player/src/controllers/flow/controller.ts
  core/player/src/controllers/flow/flow.ts
  core/player/src/controllers/view/controller.ts
Owners: @player-ui/reviewers

Defer awaited async calls to next tick to avoid chained called from previous action states
  core/player/src/player.ts
Owners: @player-ui/reviewers

try using a microtask to avoid event loop issues
  core/player/src/player.ts
Owners: @player-ui/reviewers

[skip ci] add test to ensure that async actions before external actions don't cause navigation issues
  plugins/external-action/core/src/__tests__/index.test.ts
Owners: @player-ui/reviewers

bump resource class for benchmarks
  .bazelrc
  .circleci/config.yml
Owners: @player-ui/reviewers

Fix control flow issue where awaited async expressions were prematurely transitioned
  core/player/src/__tests__/flow.test.ts
  core/player/src/player.ts
Owners: @player-ui/reviewers

typo
  .bazelrc
Owners: @player-ui/reviewers

Fix `ASYNC_ACTION` Expressions Being Fired Multiple Times (#691)
  .bazelrc
  .circleci/config.yml
  core/player/src/__tests__/flow.test.ts
  core/player/src/__tests__/player.test.ts
  core/player/src/controllers/flow/controller.ts
  core/player/src/controllers/flow/flow.ts
  core/player/src/controllers/view/controller.ts
  core/player/src/expressions/__tests__/evaluator.test.ts
  core/player/src/player.ts
  plugins/external-action/core/src/__tests__/index.test.ts
Owners: @player-ui/reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/reviewers

add view instance to AsyncPluginContext
  plugins/async-node/core/src/index.ts
Owners: @player-ui/reviewers

Build Tweaks (#685)
  .circleci/config.yml
Owners: @player-ui/reviewers

(ios) change BaseAsyncJSHook to public instead of open
  ios/core/Sources/Types/Hooks/Hook.swift
Owners: @player-ui/ios-reviewers

update core async node plugins to catch and handle errors (#666)
  .bazelrc
  docs/site/src/content/docs/plugins/multiplatform/async-node.mdx
  ios/core/Sources/Types/Hooks/Hook.swift
  justfile
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/hooks/NodeSyncBailHook2.kt
  plugins/async-node/core/BUILD
  plugins/async-node/core/package.json
  plugins/async-node/core/src/__tests__/index.test.ts
  plugins/async-node/core/src/index.ts
  plugins/async-node/ios/Sources/AsyncNodePlugin.swift
  plugins/async-node/ios/Tests/AsynNodePluginTests.swift
  plugins/async-node/jvm/src/main/kotlin/com/intuit/playerui/plugins/asyncnode/AsyncNodePlugin.kt
  plugins/async-node/jvm/src/test/kotlin/com/intuit/playerui/plugins/asyncnode/AsyncNodePluginTest.kt
  pnpm-lock.yaml
Owners: @player-ui/reviewers, @player-ui/ios-reviewers, @player-ui/android-reviewers

add back in rosetta/jdk8 on ios build stage
  .circleci/config.yml
Owners: @player-ui/reviewers

Fix iOS Build Stage (#695)
  .circleci/config.yml
Owners: @player-ui/reviewers

fix: import queueMicrotask
  core/player/src/player.ts
Owners: @player-ui/reviewers

fix: import queueMicrotask (#696)
  core/player/src/player.ts
Owners: @player-ui/reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/reviewers

updating dependencies and working on nav
  docs/site/astro.config.mjs
  docs/site/package.json
  docs/site/src/components/NavBar.astro
  docs/site/src/components/Sidebar.astro
  docs/site/src/content/docs/player/index.mdx
  docs/site/src/content/docs/tools/dsl-content-playground.mdx
  docs/site/src/content/docs/tools/index.mdx
  package.json
  pnpm-lock.yaml
Owners: @player-ui/reviewers

updated nav to use starlight docs approach
  docs/site/astro.config.mjs
  docs/site/src/components/Sidebar.astro
  package.json
  pnpm-lock.yaml
Owners: @player-ui/reviewers

add tracking of inProgressNodes to prevent async processes from triggering multiple times
  plugins/async-node/core/src/__tests__/index.test.ts
  plugins/async-node/core/src/index.ts
Owners: @player-ui/reviewers

filtering works but still need to rename tools sections
  docs/site/astro.config.mjs
  docs/site/src/components/Sidebar.astro
  docs/site/src/content/docs/player/about.mdx
  docs/site/src/content/docs/tools/dsl-content-playground.mdx
  docs/site/src/content/docs/tools/index.mdx
Owners: @player-ui/reviewers

renaming section and bumping deps
  docs/site/astro.config.mjs
  docs/site/src/components/Sidebar.astro
  docs/site/src/content/docs/authoring/index.mdx
  docs/site/src/content/docs/capabilities/cli.mdx
  docs/site/src/content/docs/capabilities/storybook.mdx
  docs/site/src/content/docs/player/faqs.mdx
  package.json
  pnpm-lock.yaml
Owners: @player-ui/reviewers
