Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @player-ui/reviewers, @player-ui/android-reviewers, @player-ui/ios-reviewers, @player-ui/web-reviewers

Removed Internal network name made it generic
  CONTRIBUTING.md
Owners: @player-ui/reviewers

trying to fix commit message
  .circleci/config.yml
  docs/site/src/content/docs/index.mdx
  scripts/docs/docs-config.js
  scripts/docs/preview-docs.sh
  scripts/docs/release-docs.js
Owners: @player-ui/reviewers

fixing deploy script
  scripts/docs/preview-docs.sh
Owners: @player-ui/reviewers

fixing deploy script
  scripts/docs/docs-config.js
  scripts/docs/preview-docs.sh
Owners: @player-ui/reviewers

fix index path
  scripts/docs/docs-config.js
  scripts/docs/get-changed-docs.js
Owners: @player-ui/reviewers

testing new docs flow
  scripts/docs/docs-config.js
  scripts/docs/get-changed-docs.js
  scripts/docs/preview-docs.sh
  scripts/docs/release-docs.js
Owners: @player-ui/reviewers

fixing double slash
  scripts/docs/docs-config.js
  scripts/docs/get-changed-docs.js
Owners: @player-ui/reviewers

fixing double slash
  scripts/docs/get-changed-docs.js
Owners: @player-ui/reviewers

fixing double slash
  scripts/version-comment.js
Owners: @player-ui/reviewers

refactor: replace default exports with named exports
  core/make-flow/src/__tests__/identify.test.ts
  core/make-flow/src/identify.ts
  core/make-flow/src/index.ts
  core/partial-match-registry/src/__tests__/matcher.test.ts
  core/partial-match-registry/src/deep-partial-matcher.ts
  core/partial-match-registry/src/index.ts
  core/player/src/logger/__tests__/proxyLogger.test.ts
  core/player/src/logger/consoleLogger.ts
  core/player/src/logger/index.ts
  core/player/src/logger/noopLogger.ts
  core/player/src/logger/proxyLogger.ts
  core/player/src/logger/tapableLogger.ts
  core/player/src/view/plugins/applicability.ts
  core/player/src/view/plugins/asset-transform.ts
  core/player/src/view/plugins/asset.ts
  core/player/src/view/plugins/index.ts
  core/player/src/view/plugins/multi-node.ts
  core/player/src/view/plugins/string-resolver.ts
  core/player/src/view/plugins/switch.ts
  core/player/src/view/plugins/template.ts
  docs/site/src/content/docs/guides/writing-plugins.mdx
  plugins/auto-scroll/react/src/__tests__/plugin.test.tsx
  plugins/auto-scroll/react/src/hooks.tsx
  plugins/auto-scroll/react/src/scrollIntoViewWithOffset.ts
  plugins/metrics/core/src/metrics.ts
  react/player/src/app.tsx
  react/player/src/player.tsx
  react/player/src/plugins/onupdate-plugin.ts
Owners: @player-ui/reviewers, @player-ui/web-reviewers

replace parallel hook with series hook in async node (#718)
  jvm/core/src/main/kotlin/com/intuit/playerui/core/bridge/hooks/NodeAsyncSeriesBailHook2.kt
  plugins/async-node/core/src/__tests__/index.test.ts
  plugins/async-node/core/src/index.ts
  plugins/async-node/jvm/src/main/kotlin/com/intuit/playerui/plugins/asyncnode/AsyncNodePlugin.kt
  plugins/reference-assets/core/src/__tests__/plugin.test.ts
  plugins/reference-assets/core/src/plugins/chat-ui-demo-plugin.ts
  plugins/reference-assets/mocks/chat-message/chat-ui.tsx
Owners: @player-ui/android-reviewers, @player-ui/reviewers

refactor: replace default exports with named exports
  core/make-flow/src/__tests__/identify.test.ts
  core/make-flow/src/identify.ts
  core/make-flow/src/index.ts
  core/partial-match-registry/src/__tests__/matcher.test.ts
  core/partial-match-registry/src/deep-partial-matcher.ts
  core/partial-match-registry/src/index.ts
  core/player/src/logger/__tests__/proxyLogger.test.ts
  core/player/src/logger/consoleLogger.ts
  core/player/src/logger/index.ts
  core/player/src/logger/noopLogger.ts
  core/player/src/logger/proxyLogger.ts
  core/player/src/logger/tapableLogger.ts
  core/player/src/view/plugins/applicability.ts
  core/player/src/view/plugins/asset-transform.ts
  core/player/src/view/plugins/asset.ts
  core/player/src/view/plugins/index.ts
  core/player/src/view/plugins/multi-node.ts
  core/player/src/view/plugins/string-resolver.ts
  core/player/src/view/plugins/switch.ts
  core/player/src/view/plugins/template.ts
  docs/site/src/content/docs/guides/writing-plugins.mdx
  plugins/auto-scroll/react/src/__tests__/plugin.test.tsx
  plugins/auto-scroll/react/src/hooks.tsx
  plugins/auto-scroll/react/src/scrollIntoViewWithOffset.ts
  plugins/metrics/core/src/metrics.ts
  react/player/src/app.tsx
  react/player/src/player.tsx
  react/player/src/plugins/onupdate-plugin.ts
Owners: @player-ui/reviewers, @player-ui/web-reviewers

refactor: replace default exports with named exports
  core/make-flow/src/__tests__/identify.test.ts
  core/make-flow/src/identify.ts
  core/make-flow/src/index.ts
  core/partial-match-registry/src/__tests__/matcher.test.ts
  core/partial-match-registry/src/deep-partial-matcher.ts
  core/partial-match-registry/src/index.ts
  core/player/src/logger/__tests__/proxyLogger.test.ts
  core/player/src/logger/consoleLogger.ts
  core/player/src/logger/index.ts
  core/player/src/logger/noopLogger.ts
  core/player/src/logger/proxyLogger.ts
  core/player/src/logger/tapableLogger.ts
  core/player/src/view/plugins/applicability.ts
  core/player/src/view/plugins/asset-transform.ts
  core/player/src/view/plugins/asset.ts
  core/player/src/view/plugins/index.ts
  core/player/src/view/plugins/multi-node.ts
  core/player/src/view/plugins/string-resolver.ts
  core/player/src/view/plugins/switch.ts
  core/player/src/view/plugins/template.ts
  docs/site/src/content/docs/guides/writing-plugins.mdx
  plugins/auto-scroll/react/src/__tests__/plugin.test.tsx
  plugins/auto-scroll/react/src/hooks.tsx
  plugins/auto-scroll/react/src/scrollIntoViewWithOffset.ts
  plugins/metrics/core/src/metrics.ts
  react/player/src/app.tsx
  react/player/src/player.tsx
  react/player/src/plugins/onupdate-plugin.ts
Owners: @player-ui/reviewers, @player-ui/web-reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/reviewers

wip
  MODULE.bazel
  MODULE.bazel.lock
  android/demo/BUILD
  android/demo/src/main/kotlin/com/intuit/playerui/android/reference/demo/lifecycle/DemoPlayerViewModel.kt
  android/demo/src/main/kotlin/com/intuit/playerui/android/reference/demo/ui/main/MainActivity.kt
  libs.versions.toml
  maven-lock.json
Owners: @player-ui/reviewers, @player-ui/android-reviewers

updating based on release playround insights
  .circleci/config.yml
  .github/workflows/pr-closed.yml
  .github/workflows/pr-comments.yml
  scripts/docs/preview-docs.sh
Owners: @player-ui/reviewers

reverting ios resource class change
  .circleci/config.yml
Owners: @player-ui/reviewers

export soloader from hermes
  jvm/hermes/BUILD
Owners: @player-ui/android-reviewers

add asyncnodeplugin to podspec and package.swift
  Package.swift
  PlayerUI.podspec
Owners: @player-ui/reviewers

export soloader from hermes (#733)
  jvm/hermes/BUILD
Owners: @player-ui/android-reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/reviewers

Test codecov bundle analysis for js targets
  .circleci/config.yml
  WORKSPACE
  scripts/bundle-analyze.sh
Owners: @player-ui/reviewers

actually run script
  scripts/bundle-analyze.sh
Owners: @player-ui/reviewers

use npx
  scripts/bundle-analyze.sh
Owners: @player-ui/reviewers

break out bundle analysis to separate step to run build of js modules and not block critical path.
  .circleci/config.yml
  scripts/bundle-analyze.sh
Owners: @player-ui/reviewers

[skip ci] only depend on js execution phases for bundle analysis
  .circleci/config.yml
Owners: @player-ui/reviewers

use more wholistic build target
  .circleci/config.yml
  scripts/bundle-analyze.sh
Owners: @player-ui/reviewers

include async node in assemble pod
  BUILD.bazel
Owners: @player-ui/reviewers

add asyncnodeplugin to podspec and package.swift (#734)
  BUILD.bazel
  Package.swift
  PlayerUI.podspec
Owners: @player-ui/reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/reviewers

Set change threshold for bundle notifications, don'y upload map files
  codecov.yaml
  scripts/bundle-analyze.sh
Owners: @player-ui/reviewers

consolidate codecov configs and update comment
  .codecov.yml
  codecov.yaml
Owners: @player-ui/reviewers

fix broken links in doc site
  docs/site/src/content/docs/assets/custom.mdx
  docs/site/src/content/docs/assets/transforms.mdx
  docs/site/src/content/docs/authoring/index.mdx
  docs/site/src/content/docs/guides/formatting.mdx
Owners: @player-ui/reviewers

Lower case the Docs Preview URL
  docs/site/astro.config.mjs
  scripts/docs/get-changed-docs.js
Owners: @player-ui/reviewers

Test the case sensitivity theory
  docs/site/src/content/docs/content/Test/test.mdx
Owners: @player-ui/reviewers

.github/CODEOWNERS:

# Fallback
* @player-ui/reviewers

# Core
**/core @player-ui/reviewers

# Android/JVM
**/jvm @player-ui/android-reviewers
**/android @player-ui/android-reviewers

# iOS
/xcode/ @player-ui/ios-reviewers
**/ios @player-ui/ios-reviewers
**/swiftui @player-ui/ios-reviewers

# Web
**/react @player-ui/web-reviewers
**/storybook @player-ui/web-reviewers
