Repository player-ui/player, changes with the owners that .github/CODEOWNERS names for each.
All owners: @player-ui/reviewers, @player-ui/docs-reviewers, @player-ui/player, @player-ui/android-reviewers, @player-ui/ios-reviewers, @player-ui/web-reviewers

Add back in stamping
  core/player/src/player.ts
  package.json
  pnpm-lock.yaml
  react/player/src/player.tsx
  tsup.config.ts
Owners: @player-ui/reviewers, @player-ui/web-reviewers

Filter out ios folders from trunk test too
  .circleci/config.yml
Owners: @player-ui/reviewers

Fix lint
  react/player/src/player.tsx
Owners: @player-ui/web-reviewers

Fix conflicts in source maps with mjs and esm build
  tsup.config.ts
Owners: @player-ui/reviewers

API cleanup and deprecate platform specific version indicators
  .bazelrc
  core/player/src/player.ts
  react/player/src/player.tsx
Owners: @player-ui/reviewers, @player-ui/web-reviewers

lint
  react/player/src/__tests__/app.test.tsx
Owners: @player-ui/web-reviewers

[skip ci] wip
  docs/storybook/.storybook/main.ts
  docs/storybook/.storybook/preview.mjs
  docs/storybook/BUILD
  docs/storybook/babel.config.json
  docs/storybook/src/ManagedPlayer.stories.tsx
  docs/storybook/src/Player.stories.tsx
  docs/storybook/src/reference-assets/Action.stories.tsx
  docs/storybook/src/reference-assets/ChatMessage.stories.tsx
  docs/storybook/src/reference-assets/ChatUI.stories.tsx
  docs/storybook/src/reference-assets/Choice.stories.tsx
  docs/storybook/src/reference-assets/Collection.stories.tsx
  docs/storybook/src/reference-assets/Image.stories.tsx
  docs/storybook/src/reference-assets/Info.stories.tsx
  docs/storybook/src/reference-assets/Input.stories.tsx
  docs/storybook/src/reference-assets/Text.stories.tsx
  docs/storybook/tsconfig.json
  package.json
  pnpm-lock.yaml
  tools/storybook/BUILD
  tools/storybook/package.json
  tools/storybook/src/addons/appetize/index.tsx
  tools/storybook/src/addons/docs/index.tsx
  tools/storybook/src/addons/editor/index.tsx
  tools/storybook/src/addons/events/index.tsx
  tools/storybook/src/addons/refresh/index.tsx
  tools/storybook/src/addons/useDarkMode.ts
  tools/storybook/src/decorator/index.tsx
  tools/storybook/src/dsl/index.ts
  tools/storybook/src/manager.tsx
  tools/storybook/src/player/PlayerStory.tsx
  tools/storybook/src/player/storybookReactPlayerPlugin.ts
  tools/storybook/src/preview.tsx
  tools/storybook/src/redux/index.tsx
  tools/storybook/tsconfig.json
  tools/storybook/tsup.config.ts
  tools/storybook/vite.config.ts
Owners: @player-ui/web-reviewers, @player-ui/reviewers

added hbc file as a resource, loading it directly
  jvm/core/BUILD
  jvm/core/src/main/resources/core/player/Player.native.js.hbc
  jvm/hermes/src/main/kotlin/com/intuit/playerui/hermes/bridge/runtime/HermesRuntime.kt
Owners: @player-ui/android-reviewers

use latest rules
  MODULE.bazel
Owners: @player-ui/reviewers

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @player-ui/player

fix(react-player): expose viewUpdateSubscription to fix suspense hang
  react/player/src/__tests__/player.test.tsx
  react/player/src/player.tsx
Owners: @player-ui/web-reviewers

.github/CODEOWNERS:

# Fallback
* @player-ui/reviewers

# Docs
/docs/ @player-ui/docs-reviewers
*.md @player-ui/player
*.mdx @player-ui/player

# Core
**/core @player-ui/reviewers

# Android/JVM
**/jvm @player-ui/android-reviewers
**/android @player-ui/android-reviewers

# iOS
/xcode/ @player-ui/ios-reviewers
**/ios @player-ui/ios-reviewers
**/swiftui @player-ui/ios-reviewers

# Web
*.tsx @player-ui/web-reviewers
**/react @player-ui/web-reviewers
**/storybook @player-ui/web-reviewers
